- title("Dashboard")

.leftmiddle
  Infos, Infos, Inofs...

.right
  =link_to "Neuer Auftrag", new_request_path, :class => 'button'
  .box
    %h3 LINKS (temp)
    %ul
      %li= link_to "Firmendaten", company_path(current_company)
  .box
    %h3 Leads
  .box
    %h3 Kontakte suche
  .box
    nächste Events