.bulk-action
  %span.checkbox=check_box_tag "select_all"
  .actions
    %span=link_to "archivieren", "#", :class => "small_action_button" unless @active == 'archived'
  %span.paginate
    = page_entries_info @messages
    = will_paginate @messages