/*
*= require_self
*= require_tree .
*/
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../../app/assets/stylesheets/partials/_forms.scss */
input[type="text"], input[type="password"], input[type="email"], textarea {
  width: 280px;
  padding: 7px 8px;
  font-size: 1.2em;
  color: #666;
  border: 1px solid #b1b9be;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -border-radius: 5px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 12%, from(#eeeeee), to(white));
  background-image: -moz-linear-gradient(0% 12% 90deg, white, #eeeeee);
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 20, ../../../app/assets/stylesheets/partials/_forms.scss */
textarea {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 1%, from(#eeeeee), to(white));
  background-image: -moz-linear-gradient(0% 1% 90deg, white, #eeeeee);
  height: 100px;
}

/* line 26, ../../../app/assets/stylesheets/partials/_forms.scss */
select {
  float: left;
  clear: both;
}

/* line 30, ../../../app/assets/stylesheets/partials/_forms.scss */
input[type="text"].search {
  margin-right: -5px;
  width: 220px;
  padding: 3px 4px;
  font-size: 15px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -o-border-radius: 4px 0px 0px 4px;
  -border-radius: 4px 0px 0px 4px;
}

/* line 41, ../../../app/assets/stylesheets/partials/_forms.scss */
input[type="text"].near, input[type="password"].near, input[type="email"].near {
  width: 200px;
  -webkit-border-radius: 5px 1px 1px 5px;
  -moz-border-radius: 5px 1px 1px 5px;
  -o-border-radius: 5px 1px 1px 5px;
  -border-radius: 5px 1px 1px 5px;
}

/* line 50, ../../../app/assets/stylesheets/partials/_forms.scss */
input[type="checkbox"]:focus, input[type="password"]:focus,
input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  border: 1px solid #e78b2c;
  outline: none;
}

/* line 55, ../../../app/assets/stylesheets/partials/_forms.scss */
input[type="checkbox"] {
  margin: 0 0 15px 0;
  font-size: 1.2em;
  width: 25px;
}

/* line 61, ../../../app/assets/stylesheets/partials/_forms.scss */
.simple_form label, .simple_form span {
  font-family: Titillium-Medium;
  display: block;
  font-size: 16px;
  color: #414f57;
}

/* line 68, ../../../app/assets/stylesheets/partials/_forms.scss */
.hint {
  background: url(/images/icons/info.png) no-repeat 0% 80%;
  padding-left: 25px;
  padding-top: 10px;
  display: none;
  margin-left: 650px;
  color: #414f57;
  font-family: Titillium-Medium;
  width: 250px;
}

/* line 79, ../../../app/assets/stylesheets/partials/_forms.scss */
.forgot {
  margin-left: 300px;
  font-family: Titillium-Medium;
}

/* line 85, ../../../app/assets/stylesheets/partials/_forms.scss */
.field_with_errors input {
  border-color: #d47b17;
  margin-bottom: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
  -border-radius: 5px 5px 0px 0px;
}

/* line 94, ../../../app/assets/stylesheets/partials/_forms.scss */
.errorExplanation {
  font-family: Titilium-Medium;
  color: #fff;
  float: left;
  width: 618px;
  margin: 0px 10px;
  padding: 10px;
  margin-bottom: 4px;
  background: #ea8c1c;
  border: 1px solid #d47b17;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -border-radius: 5px;
}
/* line 95, ../../../app/assets/stylesheets/partials/_forms.scss */
.errorExplanation h2, .errorExplanation h3 {
  color: #fff;
}
/* line 110, ../../../app/assets/stylesheets/partials/_forms.scss */
.errorExplanation .title {
  float: left;
  width: 300px;
}
/* line 113, ../../../app/assets/stylesheets/partials/_forms.scss */
.errorExplanation .title h2 {
  font-family: Titillium-XBold;
  line-height: 1.2;
}
/* line 118, ../../../app/assets/stylesheets/partials/_forms.scss */
.errorExplanation .content {
  float: left;
}
/* line 120, ../../../app/assets/stylesheets/partials/_forms.scss */
.errorExplanation .content h3 {
  font-family: Titillium-XBold;
  font-size: 20px;
}
/* line 124, ../../../app/assets/stylesheets/partials/_forms.scss */
.errorExplanation .content ul {
  font-family: Titillium-Light;
  letter-spacing: 0.03em;
  line-height: 1;
  width: 290px;
}

/* line 133, ../../../app/assets/stylesheets/partials/_forms.scss */
.simple_form span.error {
  font-family: Titillium-Medium;
  color: #fff;
  background: #ea8c1c;
  clear: left;
  margin-left: 300px;
  padding: 2px 10px;
  width: 276px;
  font-size: 14px;
  border: 1px solid #d47b17;
  border-top: none;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  -border-radius: 0px 0px 5px 5px;
}

/* line 153, ../../../app/assets/stylesheets/partials/_forms.scss */
.simple_form input {
  float: left;
}

/* line 157, ../../../app/assets/stylesheets/partials/_forms.scss */
.simple_form input.long, textarea.long {
  width: 745px;
}

/* line 161, ../../../app/assets/stylesheets/partials/_forms.scss */
.simple_form label {
  margin: 0px 10px;
  width: 100%;
  float: left;
  text-align: left;
  font-family: Titillium-XBold;
  font-size: 15px;
  margin: 2px 0px;
}

/* line 171, ../../../app/assets/stylesheets/partials/_forms.scss */
.simple_form .green_button, a.form_button {
  margin-top: 10px;
  margin-left: 320px;
}

/* line 176, ../../../app/assets/stylesheets/partials/_forms.scss */
.simple_form fieldset {
  margin-bottom: 15px;
}

/* line 180, ../../../app/assets/stylesheets/partials/_forms.scss */
.simple_form div.boolean {
  margin-left: 180px;
}

/* line 184, ../../../app/assets/stylesheets/partials/_forms.scss */
.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

/* line 189, ../../../app/assets/stylesheets/partials/_forms.scss */
.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

/* line 194, ../../../app/assets/stylesheets/partials/_forms.scss */
.simple_form input.small {
  height: 12px;
  font-size: 15px;
}

/* line 199, ../../../app/assets/stylesheets/partials/_forms.scss */
.simple_form input.date, .simple_form input.currency {
  width: 90px;
  margin-right: 10px;
}

/* line 204, ../../../app/assets/stylesheets/partials/_forms.scss */
span.currency {
  font-family: Georgia;
  font-size: 15px;
}

/* line 210, ../../../app/assets/stylesheets/partials/_forms.scss */
.tight_form label {
  margin: 0px 10px;
  float: left;
  text-align: left;
  font-family: Titillium-XBold;
  font-size: 15px;
  margin: 2px 0px;
  width: 100px;
}

/* line 4, ../../../app/assets/stylesheets/partials/_menu.scss */
#small_signup {
  display: inline;
  float: none;
  line-height: 23px;
  margin: 25px 0 0;
  width: 170px;
}

/* line 13, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox.messages {
  position: absolute;
  left: 36px;
  top: 29px;
  z-index: 2;
}

/* line 19, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox.contacts {
  position: absolute;
  left: 85px;
  top: 29px;
  z-index: 2;
}

/* line 25, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox.leads {
  position: absolute;
  left: -10px;
  top: 29px;
  z-index: 2;
}

/* line 31, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox {
  width: 350px;
  display: none;
}
/* line 34, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox #pointer {
  background: url(/images/bubble_pointer.png) no-repeat 100% 100%;
  height: 9px;
}
/* line 38, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section {
  background: white;
  border-right: 1px solid #9ea3a0;
  border-bottom: 1px solid #9ea3a0;
  border-left: 1px solid #9ea3a0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 0px 3px #9ea3a0;
  -webkit-box-shadow: 0px 0px 3px #9ea3a0;
  box-shadow: 0px 0px 3px #9ea3a0;
}
/* line 53, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section .header .boxname {
  float: left;
  padding: 7px 5px;
}
/* line 56, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section .header .boxname h1 {
  font-family: Titillium-XBold;
  font-size: 18px;
  margin-bottom: 0px;
}
/* line 62, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section .header .toplink {
  padding: 8px 5px;
  float: right;
}
/* line 65, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section .header .toplink a {
  font-family: Titillium-Medium;
  font-size: 14px;
}
/* line 72, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section #content {
  clear: both;
}
/* line 74, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section #content .actionbox_entry {
  background: #f5fdf2;
  margin-bottom: 4px;
  font-family: Titillium-Medium;
  color: #42515a;
  font-size: 13px;
  padding: 5px 10px;
}
/* line 82, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section #content .actionbox_entry:hover {
  background: #e2edde;
}
/* line 85, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section #content .title {
  font-family: Titillium-XBold;
}
/* line 88, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section #content .footer {
  color: #CFD6D0;
}
/* line 92, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section #actionfooter {
  padding: 10px 10px;
  text-align: right;
}

/* line 1, ../../../app/assets/stylesheets/partials/_login.scss */
.login_link {
  background: url(/images/dropdown.png) 100% 100% no-repeat;
  height: 17px;
  width: 50px;
  float: right;
}

/* line 9, ../../../app/assets/stylesheets/partials/_login.scss */
nav.user #login_menu {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: none;
  background-color: white;
  position: absolute;
  top: 2px;
  right: -10px;
  width: 250px;
  z-index: 100;
  border: 1px solid #b1b9be;
  text-align: left;
  padding: 0px;
  margin-top: 5px;
  margin-right: 0px;
  *margin-right: -1px;
  font-size: 11px;
  -webkit-box-shadow: 0px 0px 1px #000;
  -moz-box-shadow: 0px 0px 1px #000;
  box-shadow: 0px 0px 1px #000;
}
/* line 10, ../../../app/assets/stylesheets/partials/_login.scss */
nav.user #login_menu .login_link {
  margin: 12px 9px;
  font-size: 14px;
  background: green;
  background: url(/images/dropdown.png) 100% 100% no-repeat;
  height: 17px;
  width: 50px;
  float: right;
}
/* line 20, ../../../app/assets/stylesheets/partials/_login.scss */
nav.user #login_menu .input_form {
  margin-top: 50px;
  text-align: left;
  padding: 0 10px 10px 10px;
}
/* line 24, ../../../app/assets/stylesheets/partials/_login.scss */
nav.user #login_menu .input_form fieldset {
  margin: 0 0 10px 0;
}
/* line 26, ../../../app/assets/stylesheets/partials/_login.scss */
nav.user #login_menu .input_form fieldset input[type="text"], nav.user #login_menu .input_form fieldset input[type="password"], nav.user #login_menu .input_form fieldset input[type="email"] {
  width: 210px;
}
/* line 30, ../../../app/assets/stylesheets/partials/_login.scss */
nav.user #login_menu .input_form .button_form {
  text-align: right;
}
/* line 33, ../../../app/assets/stylesheets/partials/_login.scss */
nav.user #login_menu .input_form legend {
  font-family: Titillium-Medium;
  display: block;
  font-size: 15px;
  color: #414f57;
}
/* line 39, ../../../app/assets/stylesheets/partials/_login.scss */
nav.user #login_menu .input_form p {
  font-size: 15px;
}

/* line 15, ../../../app/assets/stylesheets/application.scss */
section, header, footer, aside, nav, article {
  display: block;
}

/* line 19, ../../../app/assets/stylesheets/application.scss */
html, body {
  height: 100%;
}

/* line 23, ../../../app/assets/stylesheets/application.scss */
body {
  font-family: Georgia;
  color: #42515a;
  font-size: 15px;
  line-height: 1.5;
}

/* line 32, ../../../app/assets/stylesheets/application.scss */
a, a:visited {
  color: #e78b2c;
}

/* line 35, ../../../app/assets/stylesheets/application.scss */
a:hover, a:focus {
  color: #d67a1b;
}

/* line 39, ../../../app/assets/stylesheets/application.scss */
a.underline, a.underline:visited {
  border-bottom: 1px solid #e78b2c;
}

/* line 42, ../../../app/assets/stylesheets/application.scss */
a.underline:hover, a.underline:focus {
  border-bottom: 1px solid #d67a1b;
}

/* line 46, ../../../app/assets/stylesheets/application.scss */
ul {
  list-style: none;
  padding: 0px;
}

/* line 51, ../../../app/assets/stylesheets/application.scss */
strong {
  font-family: Titillium-XBold;
  font-size: 15px;
}

/* line 56, ../../../app/assets/stylesheets/application.scss */
p {
  line-height: 1.7;
  margin-bottom: 20px;
}

/* line 61, ../../../app/assets/stylesheets/application.scss */
.medium {
  font-family: Titillium-Medium;
}

/* line 64, ../../../app/assets/stylesheets/application.scss */
h1, h2, h3, h4, h5 {
  color: #414f57;
  margin-bottom: 6px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  line-height: 1.5;
}

/* line 70, ../../../app/assets/stylesheets/application.scss */
a, a:visited, a:hover, a:focus {
  text-decoration: none;
}

/* line 74, ../../../app/assets/stylesheets/application.scss */
h1 {
  font-family: Titillium-XBold;
  font-size: 23px;
  margin-bottom: 20px;
}

/* line 80, ../../../app/assets/stylesheets/application.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 84, ../../../app/assets/stylesheets/application.scss */
article {
  margin-bottom: 20px;
}

/* line 88, ../../../app/assets/stylesheets/application.scss */
.titillium {
  font-family: Titillium-Medium;
  font-size: 15px;
  color: #354048;
}

/* line 94, ../../../app/assets/stylesheets/application.scss */
#wrapper {
  min-height: 100%;
}

/* line 99, ../../../app/assets/stylesheets/application.scss */
#wrapper header {
  font-size: 14px;
  height: 45px;
  clear: both;
  border-bottom: 1px solid #fff;
  background: #e4f0e0;
  background-image: -moz-linear-gradient(top, #e4f0e0, #e0ebdc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e4f0e0), color-stop(1, #e0ebdc));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E4F0E0', EndColorStr='#E0ebdc');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#E4F0E0', EndColorStr='#E0ebdc')";
}
/* line 111, ../../../app/assets/stylesheets/application.scss */
#wrapper header .content {
  padding: 10px 0px;
  margin: 0px auto;
  width: 960px;
  overflow: visible;
}
/* line 115, ../../../app/assets/stylesheets/application.scss */
#wrapper header .content .logo {
  float: left;
  margin: 0px 10px;
  width: 300px;
  width: 160px;
  height: 24px;
  background: url(/images/flockstreet-beta.png) no-repeat 100% 100%;
}
/* line 121, ../../../app/assets/stylesheets/application.scss */
#wrapper header .content nav.user {
  float: right;
  margin: 0px;
  margin-top: 5px;
}
/* line 125, ../../../app/assets/stylesheets/application.scss */
#wrapper header .content nav.user a, #wrapper header .content nav.user a:hover, #wrapper header .content nav.user a:active {
  color: #414f57;
  color: rgba(65, 79, 87, 0.8);
}
/* line 129, ../../../app/assets/stylesheets/application.scss */
#wrapper header .content nav.user ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  font-family: Titillium-Medium;
}
/* line 60, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#wrapper header .content nav.user ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#wrapper header .content nav.user ul li:first-child, #wrapper header .content nav.user ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#wrapper header .content nav.user ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#wrapper header .content nav.user ul li.last {
  padding-right: 0;
}
/* line 132, ../../../app/assets/stylesheets/application.scss */
#wrapper header .content nav.user ul li {
  margin-left: 15px;
}

/* line 138, ../../../app/assets/stylesheets/application.scss */
#bar {
  font-size: 15px;
  height: 44px;
  clear: both;
  border-bottom: 1px solid #D0D6D0;
  background: #414f57;
}
/* line 144, ../../../app/assets/stylesheets/application.scss */
#bar .content {
  padding: 7px 0px;
  margin: 0px auto;
  width: 960px;
  overflow: visible;
}
/* line 148, ../../../app/assets/stylesheets/application.scss */
#bar .content #actionsearch {
  float: left;
  width: 300px;
  margin: 0px 10px;
}
/* line 153, ../../../app/assets/stylesheets/application.scss */
#bar .content nav.actionbuttons {
  float: left;
  width: 220px;
  margin: 0px 10px;
  position: relative;
}
/* line 158, ../../../app/assets/stylesheets/application.scss */
#bar .content nav.actionbuttons a.dropdown {
  padding-right: 10px;
}
/* line 162, ../../../app/assets/stylesheets/application.scss */
#bar .content .profile {
  font-family: Titillium-Medium;
  text-align: right;
  padding-top: 5px;
  float: right;
  width: 220px;
  margin: 0px 0px;
  color: #fff;
}

/* line 174, ../../../app/assets/stylesheets/application.scss */
#hass_shadow {
  height: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
}

/* line 181, ../../../app/assets/stylesheets/application.scss */
#flash {
  margin: 0px auto;
  width: 960px;
  min-height: 20px;
}

/* line 186, ../../../app/assets/stylesheets/application.scss */
#flash_notice {
  background: #7fb6b1;
  border: 1px solid #aaa;
}

/* line 191, ../../../app/assets/stylesheets/application.scss */
#flash_error {
  background: #e78b2c;
  border: 1px solid #ea8c1c;
}

/* line 197, ../../../app/assets/stylesheets/application.scss */
nav.main {
  clear: both;
  width: 960px;
  float: left;
  margin: 0px 10px;
}
/* line 199, ../../../app/assets/stylesheets/application.scss */
nav.main ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 30px;
}
/* line 60, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav.main ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav.main ul li:first-child, nav.main ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav.main ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav.main ul li.last {
  padding-right: 0;
}
/* line 202, ../../../app/assets/stylesheets/application.scss */
nav.main ul li {
  margin-right: 25px;
}
/* line 204, ../../../app/assets/stylesheets/application.scss */
nav.main ul li a, nav.main ul li a:visited, nav.main ul li a:hover, nav.main ul li a:focus {
  font-family: Titillium-Medium;
  font-size: 20px;
  color: #414f57;
  border-bottom: 1px solid #414f57;
  padding-bottom: 2px;
  white-space: nowrap;
}
/* line 212, ../../../app/assets/stylesheets/application.scss */
nav.main ul li a:hover, nav.main ul li a:focus {
  color: #313131;
  border-bottom: 1px solid #313131;
}
/* line 217, ../../../app/assets/stylesheets/application.scss */
nav.main ul li:first-child {
  padding-left: 20px;
  background: url(/images/icons/home.png) no-repeat 0% 40%;
}
/* line 222, ../../../app/assets/stylesheets/application.scss */
nav.main ul a.active, nav.main ul a.active:visited, nav.main ul a.active:hover {
  font-family: Titillium-XBold;
  padding-bottom: 1px;
  border-bottom: 3px solid #414f57;
}

/* line 231, ../../../app/assets/stylesheets/application.scss */
#container {
  margin: 0px auto;
  width: 960px;
  padding-top: 40px;
  padding-bottom: 80px;
  overflow: hidden;
}

/* line 238, ../../../app/assets/stylesheets/application.scss */
#actionbutton {
  float: right;
  margin: 0px 0px;
}

/* line 244, ../../../app/assets/stylesheets/application.scss */
#dashboard, .wide {
  width: 620px;
  margin: 0 10px;
  float: left;
  marign-bottom: 20px;
}

/* line 249, ../../../app/assets/stylesheets/application.scss */
.slim {
  float: left;
  margin: 0px 10px;
  width: 300px;
  margin-bottom: 20px;
}

/* line 255, ../../../app/assets/stylesheets/application.scss */
nav.sidebar {
  margin: 70px 10px 20px 10px;
  float: left;
  width: 140px;
}
/* line 259, ../../../app/assets/stylesheets/application.scss */
nav.sidebar ul {
  margin-bottom: 20px;
}
/* line 261, ../../../app/assets/stylesheets/application.scss */
nav.sidebar ul li:first-child a {
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 269, ../../../app/assets/stylesheets/application.scss */
nav.sidebar ul li:last-child a {
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 277, ../../../app/assets/stylesheets/application.scss */
nav.sidebar ul a, nav.sidebar ul a:active, nav.sidebar ul a:hover {
  font-family: Titillium-Medium;
  padding: 10px;
  background: #e2eede;
  margin-bottom: 2px;
  display: block;
  color: #42515a;
  color: rgba(77, 89, 98, 0.9);
}
/* line 286, ../../../app/assets/stylesheets/application.scss */
nav.sidebar ul a.active {
  background: #414f57;
  color: white;
}

/* line 294, ../../../app/assets/stylesheets/application.scss */
ul.action li.action {
  background: none;
  padding: 0px;
}

/* line 300, ../../../app/assets/stylesheets/application.scss */
section#content {
  width: 800px;
  float: left;
}
/* line 303, ../../../app/assets/stylesheets/application.scss */
section#content article.request {
  float: left;
  width: 520px;
  margin: 30px 10px 10px 30px;
  padding: 0px;
}
/* line 309, ../../../app/assets/stylesheets/application.scss */
section#content #action-menu {
  background: #F5FdF3;
  float: left;
  width: 200px;
  margin: 40px 10px;
  padding: 10px;
  line-height: 2.2em;
}
/* line 316, ../../../app/assets/stylesheets/application.scss */
section#content #action-menu h2 {
  font-family: Titillium-XBold;
  font-size: 15px;
}

/* line 323, ../../../app/assets/stylesheets/application.scss */
footer.small {
  clear: both;
  border-top: 1px solid #42515a;
  background: #414f57;
  position: relative;
  margin-top: -51px;
  /* negative value of footer height */
  height: 40px;
  padding-top: 10px;
  background-image: -moz-linear-gradient(top, #42515a, #39464d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #42515a), color-stop(1, #39464d));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#42515A', EndColorStr='#39464d');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#42515A', EndColorStr='#39464d')";
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4) inset;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4) inset;
}
/* line 340, ../../../app/assets/stylesheets/application.scss */
footer.small nav.footer {
  min-height: 185px;
  margin: 0px auto;
  width: 960px;
  padding: 20px 0px 0px 0px;
  overflow: hidden;
  text-shadow: 1px 1px 1px #000;
}
/* line 346, ../../../app/assets/stylesheets/application.scss */
footer.small nav.footer a {
  font-family: Titillium-Medium;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  color: white;
  text-decoration: none;
}
/* line 353, ../../../app/assets/stylesheets/application.scss */
footer.small nav.footer a:hover {
  color: #fff;
}

/* line 359, ../../../app/assets/stylesheets/application.scss */
footer .copyright {
  margin: 0px auto;
  width: 960px;
  overflow: hidden;
  font-family: Titillium-Medium;
  font-size: 13px;
  color: #cfd6d0;
  text-shadow: 1px 1px 1px #000;
}
/* line 366, ../../../app/assets/stylesheets/application.scss */
footer .copyright a {
  font-size: 12px;
  color: #cfd6d0;
  text-shadow: 1px 1px 1px #000;
  text-decoration: none;
}
/* line 372, ../../../app/assets/stylesheets/application.scss */
footer .copyright a:hover {
  color: #fff;
}
/* line 375, ../../../app/assets/stylesheets/application.scss */
footer .copyright .ginetta {
  text-align: right;
  float: left;
  width: 780px;
  margin: 0px 10px;
}
/* line 381, ../../../app/assets/stylesheets/application.scss */
footer .copyright .flockstreet {
  text-align: right;
  margin-right: 10px;
}

/* line 388, ../../../app/assets/stylesheets/application.scss */
.tag {
  float: left;
  background-color: #e2edd3;
  margin: 5px;
  padding: 2px 10px;
  color: #42515a;
  font-size: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
/* line 399, ../../../app/assets/stylesheets/application.scss */
.tag .tagname {
  padding: 0 5px;
  color: #fff;
  font-family: Titillium-Light;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  float: left;
}
/* line 407, ../../../app/assets/stylesheets/application.scss */
.tag .tagdestroy {
  padding: 0 0 0 5px;
  float: left;
  border-left: 1px solid #414f57;
  background: rgba(255, 255, 255, 0);
}
/* line 412, ../../../app/assets/stylesheets/application.scss */
.tag .tagdestroy input[type="submit"] {
  background: #7fb6b1;
  background: rgba(255, 255, 255, 0);
  font-family: Titillium-Light;
  color: #fff;
  border: none;
  font-size: 1em;
  padding: 3px 0px;
  margin: 0;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  position: relative;
  cursor: pointer;
}
/* line 428, ../../../app/assets/stylesheets/application.scss */
.tag .tagdestroy a {
  font-family: Titillium-Medium;
  color: #414f57;
}

/* line 435, ../../../app/assets/stylesheets/application.scss */
#interaction {
  width: 620px;
  margin: 0 10px;
  float: left;
}

/* line 440, ../../../app/assets/stylesheets/application.scss */
input[type="text"].statusupdate {
  margin: 0px;
  width: 602px;
}

/* line 446, ../../../app/assets/stylesheets/application.scss */
form.update input[type="checkbox"] {
  margin-top: 20px;
}
/* line 449, ../../../app/assets/stylesheets/application.scss */
form.update label {
  margin-top: 12px;
}
/* line 452, ../../../app/assets/stylesheets/application.scss */
form.update input[type="submit"] {
  float: right;
  margin: 10px 0px;
}

/* line 458, ../../../app/assets/stylesheets/application.scss */
section#feed {
  width: 620px;
  margin: 0 10px;
  float: left;
  margin-top: 30px;
}
/* line 463, ../../../app/assets/stylesheets/application.scss */
section#feed ul li article {
  background: #f5fdf2;
  padding: 10px;
  margin-bottom: 4px;
}

/* line 474, ../../../app/assets/stylesheets/application.scss */
.icon_statusupdate, .icon_request, .icon_message, .icon_lead {
  background: url(/images/icons/statusupdate.png);
  float: left;
  width: 25px;
  height: 25px;
}

/* line 482, ../../../app/assets/stylesheets/application.scss */
.bulk-action, .item-action {
  float: left;
  width: 780px;
  margin: 0px 10px;
  height: 21px;
  background: #F5FdF3;
  padding: 12px 0px;
  border: 1px solid #dae8d8;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
  font-family: Titillium-Medium;
}
/* line 494, ../../../app/assets/stylesheets/application.scss */
.bulk-action .backlink, .item-action .backlink {
  float: left;
  margin: 0px 15px;
}
/* line 498, ../../../app/assets/stylesheets/application.scss */
.bulk-action .checkbox, .item-action .checkbox {
  text-align: center;
  width: 50px;
  float: left;
}
/* line 503, ../../../app/assets/stylesheets/application.scss */
.bulk-action .actions, .item-action .actions {
  float: left;
}
/* line 507, ../../../app/assets/stylesheets/application.scss */
.bulk-action .paginate, .item-action .paginate {
  float: right;
  margin-right: 20px;
}
/* line 511, ../../../app/assets/stylesheets/application.scss */
.bulk-action span, .item-action span {
  float: left;
}

/* line 517, ../../../app/assets/stylesheets/application.scss */
table {
  float: left;
  width: 780px;
  margin: 20px 10px;
  font-family: Titillium-Light;
}
/* line 522, ../../../app/assets/stylesheets/application.scss */
table a, table a:visited, table a:hover {
  font-size: 14px;
  color: #42515a;
}

/* line 528, ../../../app/assets/stylesheets/application.scss */
tr:hover, tr.selected {
  background: #f5fdf3;
}

/* line 532, ../../../app/assets/stylesheets/application.scss */
td {
  font-size: 14px;
}

/* line 536, ../../../app/assets/stylesheets/application.scss */
td.checkbox {
  text-align: center;
  width: 50px;
  padding-top: 10px;
}

/* line 542, ../../../app/assets/stylesheets/application.scss */
td.title {
  width: 320px;
  font-family: Titillium-XBold;
}

/* line 547, ../../../app/assets/stylesheets/application.scss */
td.date {
  width: 85px;
  text-align: right;
}

/* line 552, ../../../app/assets/stylesheets/application.scss */
td.tags {
  padding-left: 10px;
  width: 320px;
}

/* line 558, ../../../app/assets/stylesheets/application.scss */
#associates_form #companies_search {
  margin: 30px -5px 0 25px;
  width: 365px;
}

/* line 563, ../../../app/assets/stylesheets/application.scss */
td.logo {
  width: 35px;
}

/* line 567, ../../../app/assets/stylesheets/application.scss */
td.companyname {
  width: 170px;
  font-family: Titillium-XBold;
}

/* line 572, ../../../app/assets/stylesheets/application.scss */
td.state {
  width: 110px;
}

/* line 577, ../../../app/assets/stylesheets/application.scss */
td.from {
  width: 180px;
}

/* line 581, ../../../app/assets/stylesheets/application.scss */
td.subject {
  width: 465px;
  font-family: Titillium-XBold;
}

/* line 587, ../../../app/assets/stylesheets/application.scss */
#logocol {
  float: left;
  min-width: 90px;
  margin: 10px 5px;
}

/* line 593, ../../../app/assets/stylesheets/application.scss */
article.company {
  float: left;
  width: 430px;
  margin: 30px 10px 10px 30px;
  padding: 0px;
}

/* line 600, ../../../app/assets/stylesheets/application.scss */
aside.companyprofile {
  float: left;
  width: 210px;
  margin: 40px 0px 20px 0px;
}
/* line 604, ../../../app/assets/stylesheets/application.scss */
aside.companyprofile article.contacts {
  min-height: 150px;
  background: #f5fdf3;
  margin-bottom: 30px;
}
/* line 605, ../../../app/assets/stylesheets/application.scss */
aside.companyprofile article.contacts h1 {
  padding: 5px;
}
/* line 610, ../../../app/assets/stylesheets/application.scss */
aside.companyprofile article.contacts ul li {
  height: 35px;
  margin-bottom: 2px;
}
/* line 613, ../../../app/assets/stylesheets/application.scss */
aside.companyprofile article.contacts ul li a, aside.companyprofile article.contacts ul li a:active, aside.companyprofile article.contacts ul li a:hover {
  height: 29px;
  font-family: Titillium-XBold;
  font-size: 14px;
  padding-top: 6px;
  padding-left: 45px;
  display: block;
  color: #42515a;
  color: rgba(66, 81, 90, 0.9);
}
/* line 625, ../../../app/assets/stylesheets/application.scss */
aside.companyprofile article.contacts ul li a:hover {
  background: rgba(206, 217, 191, 0.5);
}
