/*
Syntax error: File to import not found or unreadable: partials/base.
              Load paths:
                Compass::SpriteImporter
                /Users/marcel/code/flockstreet/public/stylesheets/sass
                /Users/marcel/code/flockstreet/app/assets/stylesheets
                /Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/blueprint/stylesheets
                /Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets
        on line 10 of /Users/marcel/code/flockstreet/app/assets/stylesheets/application.css.scss

5: 
6: @import "blueprint";
7: @import "compass/reset";
8: @import "compass/utilities";
9: 
10: @import "partials/base";
11: @import "partials/forms";
12: @import "partials/menu";
13: @import "partials/login";
14: 
15: section, header, footer, aside, nav, article{

Backtrace:
/Users/marcel/code/flockstreet/app/assets/stylesheets/application.css.scss:10
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/import_node.rb:42:in `import'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:148:in `rescue in visit_import'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:153:in `visit_import'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/engine.rb:241:in `block in render'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/engine.rb:241:in `render'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/actionpack-3.1.0/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/rack-1.3.3/lib/rack/etag.rb:23:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/rack-1.3.3/lib/rack/conditionalget.rb:25:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/actionpack-3.1.0/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/actionpack-3.1.0/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/actionpack-3.1.0/lib/action_dispatch/middleware/flash.rb:243:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/rack-1.3.3/lib/rack/session/abstract/id.rb:195:in `context'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/rack-1.3.3/lib/rack/session/abstract/id.rb:190:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/actionpack-3.1.0/lib/action_dispatch/middleware/cookies.rb:326:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/activerecord-3.1.0/lib/active_record/query_cache.rb:62:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/activerecord-3.1.0/lib/active_record/connection_adapters/abstract/connection_pool.rb:477:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:392:in `_run_call_callbacks'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:81:in `run_callbacks'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:28:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/actionpack-3.1.0/lib/action_dispatch/middleware/reloader.rb:68:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/rack-1.3.3/lib/rack/sendfile.rb:101:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/actionpack-3.1.0/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/actionpack-3.1.0/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/railties-3.1.0/lib/rails/rack/logger.rb:13:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/rack-1.3.3/lib/rack/methodoverride.rb:24:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/rack-1.3.3/lib/rack/runtime.rb:17:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/activesupport-3.1.0/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/rack-1.3.3/lib/rack/lock.rb:15:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/actionpack-3.1.0/lib/action_dispatch/middleware/static.rb:53:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/railties-3.1.0/lib/rails/engine.rb:455:in `call'
/Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/railties-3.1.0/lib/rails/railtie/configurable.rb:30:in `method_missing'
/Users/marcel/Library/Application Support/Pow/Versions/0.3.1/node_modules/nack/lib/nack/server.rb:146:in `handle'
/Users/marcel/Library/Application Support/Pow/Versions/0.3.1/node_modules/nack/lib/nack/server.rb:99:in `rescue in block (2 levels) in start'
/Users/marcel/Library/Application Support/Pow/Versions/0.3.1/node_modules/nack/lib/nack/server.rb:96:in `block (2 levels) in start'
/Users/marcel/Library/Application Support/Pow/Versions/0.3.1/node_modules/nack/lib/nack/server.rb:86:in `each'
/Users/marcel/Library/Application Support/Pow/Versions/0.3.1/node_modules/nack/lib/nack/server.rb:86:in `block in start'
/Users/marcel/Library/Application Support/Pow/Versions/0.3.1/node_modules/nack/lib/nack/server.rb:66:in `loop'
/Users/marcel/Library/Application Support/Pow/Versions/0.3.1/node_modules/nack/lib/nack/server.rb:66:in `start'
/Users/marcel/Library/Application Support/Pow/Versions/0.3.1/node_modules/nack/lib/nack/server.rb:13:in `run'
/Users/marcel/Library/Application Support/Pow/Versions/0.3.1/node_modules/nack/bin/nack_worker:4:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: partials/base.\A               Load paths:\A                 Compass::SpriteImporter\A                 /Users/marcel/code/flockstreet/public/stylesheets/sass\A                 /Users/marcel/code/flockstreet/app/assets/stylesheets\A                 /Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/blueprint/stylesheets\A                 /Users/marcel/.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets\A         on line 10 of /Users/marcel/code/flockstreet/app/assets/stylesheets/application.css.scss\A \A 5: \A 6: @import \"blueprint\";\A 7: @import \"compass/reset\";\A 8: @import \"compass/utilities\";\A 9: \A 10: @import \"partials/base\";\A 11: @import \"partials/forms\";\A 12: @import \"partials/menu\";\A 13: @import \"partials/login\";\A 14: \A 15: section, header, footer, aside, nav, article{"; }
