/* line 37, ../../../app/stylesheets/buttons.scss */
a.green_button, .green_button {
  font-family: Titillium-XBold;
  font-size: 15px;
  text-align: center;
  padding: 7px 30px;
  border: 1px solid #66928c;
  /*css*/
  background-color: #81b9b4;
  background-image: -moz-linear-gradient(top, #81b9b4, #68948f);
  /* FF3.6 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #81b9b4), color-stop(1, #68948f));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$startcolor', EndColorStr='$endcolor');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$startcolor', EndColorStr='$endcolor')";
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
  color: #fff;
}

/* line 40, ../../../app/stylesheets/buttons.scss */
a.green_button:active, .green_button:active {
  background-image: -moz-linear-gradient(top, #68948f, #81b9b4);
  /* FF3.6 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #68948f), color-stop(1, #81b9b4));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$endcolor', EndColorStr='$startcolor');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$endcolor', EndColorStr='$startcolor')";
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 44, ../../../app/stylesheets/buttons.scss */
a.big_button, .big_button {
  font-family: Titillium-XBold;
  font-size: 15px;
  text-align: center;
  padding: 7px 30px;
  border: 1px solid #66928c;
  /*css*/
  background-color: #81b9b4;
  background-image: -moz-linear-gradient(top, #81b9b4, #68948f);
  /* FF3.6 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #81b9b4), color-stop(1, #68948f));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$startcolor', EndColorStr='$endcolor');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$startcolor', EndColorStr='$endcolor')";
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
  color: #fff;
  font-size: 30px;
  padding: 18px 35px;
}

/* line 50, ../../../app/stylesheets/buttons.scss */
.call2action {
  float: right;
  margin-top: 20px;
}

/* line 55, ../../../app/stylesheets/buttons.scss */
a.big_button:active, .big_button:active {
  background-image: -moz-linear-gradient(top, #68948f, #81b9b4);
  /* FF3.6 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #68948f), color-stop(1, #81b9b4));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$endcolor', EndColorStr='$startcolor');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$endcolor', EndColorStr='$startcolor')";
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 59, ../../../app/stylesheets/buttons.scss */
a.login_button, .login_button {
  font-family: Titillium-XBold;
  font-size: 15px;
  text-align: center;
  padding: 7px 30px;
  border: 1px solid #c5690a;
  /*css*/
  background-color: #e68a2c;
  background-image: -moz-linear-gradient(top, #e68a2c, #c67929);
  /* FF3.6 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e68a2c), color-stop(1, #c67929));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$startcolor', EndColorStr='$endcolor');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$startcolor', EndColorStr='$endcolor')";
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
  color: #fff;
  padding: 2px 12px;
}

/* line 65, ../../../app/stylesheets/buttons.scss */
a.login_button:active, .login_button:active {
  background-image: -moz-linear-gradient(top, #c77929, #e68a2c);
  /* FF3.6 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c77929), color-stop(1, #e68a2c));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$endcolor', EndColorStr='$startcolor');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$endcolor', EndColorStr='$startcolor')";
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 69, ../../../app/stylesheets/buttons.scss */
.search_button {
  font-family: Titillium-XBold;
  font-size: 15px;
  text-align: center;
  padding: 7px 30px;
  border: 1px solid #1f2d35;
  /*css*/
  background-color: #414f57;
  background-image: -moz-linear-gradient(top, #414f57, #1f2d35);
  /* FF3.6 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #414f57), color-stop(1, #1f2d35));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$startcolor', EndColorStr='$endcolor');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$startcolor', EndColorStr='$endcolor')";
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
  color: #fff;
}

/* line 73, ../../../app/stylesheets/buttons.scss */
a.near_button {
  height: 23px;
}

/* line 77, ../../../app/stylesheets/buttons.scss */
.near_button, .near_button:hover, .near_button:focus {
  font-family: Titillium-XBold;
  font-size: 15px;
  text-align: center;
  padding: 7px 30px;
  border: 1px solid #414f57;
  /*css*/
  background-color: #43515a;
  background-image: -moz-linear-gradient(top, #43515a, #3a464d);
  /* FF3.6 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #43515a), color-stop(1, #3a464d));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$startcolor', EndColorStr='$endcolor');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$startcolor', EndColorStr='$endcolor')";
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
  color: #fff;
  margin: 2px 0;
  padding: 8px 20px;
  cursor: pointer;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}

/* line 86, ../../../app/stylesheets/buttons.scss */
.near_button:active {
  background-image: -moz-linear-gradient(top, #3a464d, #43515a);
  /* FF3.6 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3a464d), color-stop(1, #43515a));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$endcolor', EndColorStr='$startcolor');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$endcolor', EndColorStr='$startcolor')";
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 90, ../../../app/stylesheets/buttons.scss */
.search_button, .search_button:hover, .search_button:focus {
  font-family: Titillium-XBold;
  font-size: 15px;
  text-align: center;
  padding: 7px 30px;
  border: 1px solid #fbfcfc;
  /*css*/
  background-color: #fefefe;
  background-image: -moz-linear-gradient(top, #fefefe, #dee6e5);
  /* FF3.6 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(1, #dee6e5));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$startcolor', EndColorStr='$endcolor');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$startcolor', EndColorStr='$endcolor')";
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
  color: #fff;
  color: #42515a;
  font-family: Titillium-Light;
  margin: 2px 0;
  padding: 2px 10px;
  cursor: pointer;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}

/* line 101, ../../../app/stylesheets/buttons.scss */
.search_button:active {
  background-image: -moz-linear-gradient(top, #dee6e5, #fefefe);
  /* FF3.6 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dee6e5), color-stop(1, #fefefe));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$endcolor', EndColorStr='$startcolor');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$endcolor', EndColorStr='$startcolor')";
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
