/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../../app/stylesheets/partials/_layout.scss */
#wrapper {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 4, ../../../app/stylesheets/partials/_layout.scss */
#header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header {
  overflow-x: hidden;
}

/* line 8, ../../../app/stylesheets/partials/_layout.scss */
#logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #logo {
  overflow-x: hidden;
}

/* line 12, ../../../app/stylesheets/partials/_layout.scss */
#topsearch {
  margin-top: 20px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #topsearch {
  overflow-x: hidden;
}

/* line 16, ../../../app/stylesheets/partials/_layout.scss */
#usernav {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  margin-right: 0;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #usernav {
  overflow-x: hidden;
}

/* line 22, ../../../app/stylesheets/partials/_layout.scss */
#footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-right: 0;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer {
  overflow-x: hidden;
}

/* line 27, ../../../app/stylesheets/partials/_layout.scss */
#content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content {
  overflow-x: hidden;
}

/* line 31, ../../../app/stylesheets/partials/_layout.scss */
.leftmiddle {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .leftmiddle {
  overflow-x: hidden;
}

/* line 35, ../../../app/stylesheets/partials/_layout.scss */
.left {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .left {
  overflow-x: hidden;
}

/* line 39, ../../../app/stylesheets/partials/_layout.scss */
.middle {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .middle {
  overflow-x: hidden;
}

/* line 43, ../../../app/stylesheets/partials/_layout.scss */
.right {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  margin-right: 0;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .right {
  overflow-x: hidden;
}

/* line 48, ../../../app/stylesheets/partials/_layout.scss */
.box {
  padding: 10px;
  margin: 10px;
  border: 2px solid #777777;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
}

/* line 55, ../../../app/stylesheets/partials/_layout.scss */
#copyright {
  font-weight: bold;
  text-align: right;
}

/* line 39, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 68, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 69, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 70, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 71, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 72, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 73, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 74, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 75, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 76, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 77, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 78, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 80, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: #000066;
}
/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #cc0099;
}

/* line 81, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 82, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong {
  font-weight: bold;
}

/* line 83, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em {
  font-style: italic;
}

/* line 84, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 85, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 86, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 87, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 88, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 89, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 90, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 91, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 92, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 93, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 94, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 95, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 97, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 98, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 99, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 100, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 102, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tr.even td {
  background: #e5ecf9;
}

/* line 103, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 104, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 105, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 106, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

/* line 16, ../../../app/stylesheets/screen.scss */
body a {
  text-decoration: none;
}
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
body a:hover {
  text-decoration: underline;
}

/* line 25, ../../../app/stylesheets/screen.scss */
#usernav {
  text-align: right;
}

/* line 31, ../../../app/stylesheets/screen.scss */
#footer ul {
  list-style: none;
  padding: 0;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
#footer ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}

/* line 37, ../../../app/stylesheets/screen.scss */
#signin-menu {
  border: 1px solid;
}

/* line 41, ../../../app/stylesheets/screen.scss */
#plans {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 870px;
  display: inline;
  float: right;
  position: relative;
  margin: 0 -80px 1.5em 80px;
  margin-right: 0;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #plans {
  overflow-x: hidden;
}

/* line 46, ../../../app/stylesheets/screen.scss */
#plans .normal {
  border: 1px solid #999;
  height: 270px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-bottomright: 20px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  text-align: center;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #plans .normal {
  overflow-x: hidden;
}

/* line 54, ../../../app/stylesheets/screen.scss */
#plans ul {
  list-style: none;
}

/* line 58, ../../../app/stylesheets/screen.scss */
.normal h3 {
  margin: 0 0 15px 0;
  padding: 0 0 7px 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  color: #73a1c7;
}
