/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../../app/stylesheets/partials/_layout.scss */
* {
  margin: 0;
}

/* line 3, ../../../app/stylesheets/partials/_layout.scss */
section, header, footer, aside, nav, article {
  display: block;
}

/* line 7, ../../../app/stylesheets/partials/_layout.scss */
html, body {
  height: 100%;
}

/* line 11, ../../../app/stylesheets/partials/_layout.scss */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}

/* line 18, ../../../app/stylesheets/partials/_layout.scss */
#wrapper #meta {
  background: #8cc6bf;
  background-image: -moz-linear-gradient(top, #8cc6bf, #9bd5ce);
  /* FF3.6 */
  float: left;
  width: 100%;
}
/* line 24, ../../../app/stylesheets/partials/_layout.scss */
#wrapper #meta .content {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  overflow: visible;
  padding: 5px;
}
/* line 30, ../../../app/stylesheets/partials/_layout.scss */
#wrapper #meta .content .logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #meta .content .logo {
  overflow-x: hidden;
}
/* line 34, ../../../app/stylesheets/partials/_layout.scss */
#wrapper #meta .content nav.user {
  text-align: right;
  margin-right: 0;
}
/* line 39, ../../../app/stylesheets/partials/_layout.scss */
#wrapper #meta .content aside {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  position: relative;
  overflow: visible;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #meta .content aside {
  overflow-x: hidden;
}
/* line 44, ../../../app/stylesheets/partials/_layout.scss */
#wrapper #meta .content aside #actionsearch {
  float: left;
  padding: 5px 15px 0px 0px;
}

/* line 52, ../../../app/stylesheets/partials/_layout.scss */
#wrapper header {
  background: #edf6ed;
  background-image: -moz-linear-gradient(top, #edf6ed, #f5fef5);
  /* FF3.6 */
  clear: both;
  border-bottom: 1px solid #8cc6bf;
}
/* line 58, ../../../app/stylesheets/partials/_layout.scss */
#wrapper header .content {
  padding: 20px;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 62, ../../../app/stylesheets/partials/_layout.scss */
#wrapper header .content .logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper header .content .logo {
  overflow-x: hidden;
}
/* line 65, ../../../app/stylesheets/partials/_layout.scss */
#wrapper header .content .tagline1 {
  text-align: center;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper header .content .tagline1 {
  overflow-x: hidden;
}
/* line 69, ../../../app/stylesheets/partials/_layout.scss */
#wrapper header .content .tagline2 {
  text-align: center;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  margin-right: 0;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper header .content .tagline2 {
  overflow-x: hidden;
}

/* line 77, ../../../app/stylesheets/partials/_layout.scss */
#container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  padding: 10px;
}

/* line 86, ../../../app/stylesheets/partials/_layout.scss */
#container #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 750px;
  margin-right: 0;
  padding: 5px 0px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container #content {
  overflow-x: hidden;
}

/* line 93, ../../../app/stylesheets/partials/_layout.scss */
#content_two-container {
  background: #edf6ed;
  clear: both;
  border-bottom: 1px solid #8cc6bf;
  border-top: 1px solid #8cc6bf;
}

/* line 99, ../../../app/stylesheets/partials/_layout.scss */
#content_two {
  padding: 20px;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 104, ../../../app/stylesheets/partials/_layout.scss */
#push_footer, #copyright {
  height: 3em;
  clear: both;
}

/* line 109, ../../../app/stylesheets/partials/_layout.scss */
#footer {
  background: #3a464f;
  clear: both;
}
/* line 113, ../../../app/stylesheets/partials/_layout.scss */
#footer nav.footer {
  padding: 10px;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 120, ../../../app/stylesheets/partials/_layout.scss */
#copyright {
  background: #8cc6bf;
}
/* line 123, ../../../app/stylesheets/partials/_layout.scss */
#copyright footer.copyright {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  padding: 8px;
  text-align: right;
}

/* line 130, ../../../app/stylesheets/partials/_layout.scss */
nav.main {
  height: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  border-bottom: 2px solid black;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html nav.main {
  overflow-x: hidden;
}
/* line 135, ../../../app/stylesheets/partials/_layout.scss */
nav.main #dashboard {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html nav.main #dashboard {
  overflow-x: hidden;
}
/* line 137, ../../../app/stylesheets/partials/_layout.scss */
nav.main #dashboard a {
  font-size: 1.5em;
  color: black;
}
/* line 143, ../../../app/stylesheets/partials/_layout.scss */
nav.main #maintopics {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 430px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html nav.main #maintopics {
  overflow-x: hidden;
}
/* line 147, ../../../app/stylesheets/partials/_layout.scss */
nav.main #mainaction {
  text-align: right;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  margin-right: 0;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html nav.main #mainaction {
  overflow-x: hidden;
}

/* line 154, ../../../app/stylesheets/partials/_layout.scss */
nav.sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
  font-size: 1.2em;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html nav.sidebar {
  overflow-x: hidden;
}

/* line 158, ../../../app/stylesheets/partials/_layout.scss */
.filter {
  height: 40px;
  padding: 5px 0px;
}

/* line 164, ../../../app/stylesheets/partials/_layout.scss */
#rightcontent {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 350px;
  margin-right: 0;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #rightcontent {
  overflow-x: hidden;
}

/* line 168, ../../../app/stylesheets/partials/_layout.scss */
#leftcontent {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #leftcontent {
  overflow-x: hidden;
}

/* line 172, ../../../app/stylesheets/partials/_layout.scss */
.leftmiddle {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .leftmiddle {
  overflow-x: hidden;
}

/* line 176, ../../../app/stylesheets/partials/_layout.scss */
.left, .middle, .right {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .left, * html .middle, * html .right {
  overflow-x: hidden;
}

/* line 180, ../../../app/stylesheets/partials/_layout.scss */
.first, .second, .third, .fourth {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .first, * html .second, * html .third, * html .fourth {
  overflow-x: hidden;
}

/* line 184, ../../../app/stylesheets/partials/_layout.scss */
.fourth, .right {
  margin-right: 0;
}

/* line 188, ../../../app/stylesheets/partials/_layout.scss */
.box {
  padding: 10px;
  margin: 10px;
  border: 2px solid #777777;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
}

/* line 1, ../../../app/stylesheets/partials/_forms.scss */
.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

/* line 8, ../../../app/stylesheets/partials/_forms.scss */
.simple_form div.input {
  margin-bottom: 10px;
}

/* line 12, ../../../app/stylesheets/partials/_forms.scss */
.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

/* line 16, ../../../app/stylesheets/partials/_forms.scss */
.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

/* line 21, ../../../app/stylesheets/partials/_forms.scss */
.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

/* line 26, ../../../app/stylesheets/partials/_forms.scss */
.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

/* line 34, ../../../app/stylesheets/partials/_forms.scss */
.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

/* line 4, ../../../app/stylesheets/partials/_menu.scss */
nav.user a.signin {
  background: #3a464f;
  padding: 4px 6px 6px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 14, ../../../app/stylesheets/partials/_menu.scss */
nav.user a.signin:hover {
  background: #3a464f;
}

/* line 17, ../../../app/stylesheets/partials/_menu.scss */
nav.user a.signin, nav.user a.signin:hover {
  *background-position: 0 3px!important;
}

/* line 21, ../../../app/stylesheets/partials/_menu.scss */
a.signin {
  position: relative;
  margin-left: 3px;
}

/* line 25, ../../../app/stylesheets/partials/_menu.scss */
a.signin span {
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 4px 16px 6px 0;
}

/* line 30, ../../../app/stylesheets/partials/_menu.scss */
nav.user a.menu-open {
  background: #ddeef6!important;
  color: #666!important;
  outline: none;
}

/* line 35, ../../../app/stylesheets/partials/_menu.scss */
#small_signup {
  display: inline;
  float: none;
  line-height: 23px;
  margin: 25px 0 0;
  width: 170px;
}

/* line 43, ../../../app/stylesheets/partials/_menu.scss */
#signin_menu {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  display: none;
  background-color: #8cc6bf;
  position: absolute;
  width: 210px;
  z-index: 100;
  border: 1px transparent;
  text-align: left;
  padding: 12px;
  top: 24.5px;
  right: 0px;
  margin-top: 5px;
  margin-right: 0px;
  *margin-right: -1px;
  font-size: 11px;
}

/* line 66, ../../../app/stylesheets/partials/_menu.scss */
#signin_menu input[type=text], #signin_menu input[type=email], #signin_menu input[type=password] {
  display: block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #ACE;
  font-size: 11px;
  margin: 0 0 5px;
  padding: 5px;
  width: 203px;
}

/* line 77, ../../../app/stylesheets/partials/_menu.scss */
#message_menu {
  right: 10px;
  z-index: 2;
}

/* line 81, ../../../app/stylesheets/partials/_menu.scss */
#contact_menu {
  right: -30px;
  z-index: 3;
}

/* line 86, ../../../app/stylesheets/partials/_menu.scss */
#lead_menu {
  right: -60px;
  z-index: 1;
}

/* line 91, ../../../app/stylesheets/partials/_menu.scss */
#settings-menu {
  right: 60px;
  top: 25px;
  width: 120px;
  text-align: right;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none;
  position: absolute;
  border: 1px solid black;
  margin-right: 0px;
  *margin-right: -1px;
  font-size: 11px;
}

/* line 107, ../../../app/stylesheets/partials/_menu.scss */
.dropdownmenu {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  display: none;
  background-color: white;
  position: absolute;
  width: 210px;
  border: 2px solid black;
  text-align: left;
  top: 40px;
  margin-right: 0px;
  *margin-right: -1px;
  font-size: 11px;
}

/* line 39, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 68, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 69, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 70, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 71, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 72, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 73, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 74, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 75, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 76, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 77, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 78, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 80, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: #000066;
}
/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #cc0099;
}

/* line 81, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 82, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong {
  font-weight: bold;
}

/* line 83, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em {
  font-style: italic;
}

/* line 84, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 85, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 86, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 87, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 88, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 89, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 90, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 91, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 92, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 93, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 94, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 95, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 97, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 98, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 99, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 100, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 102, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tr.even td {
  background: #e5ecf9;
}

/* line 103, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 104, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 105, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 106, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

@font-face {
  font-family: "Titillium";
  src: local("☺"), url(/fonts/TitilliumText22L002.otf) format('opentype'), url(/fonts/TitilliumText22L004.otf) format('opentype');
}

@font-face {
  font-family: "Calluna";
  src: local("☺"), url(/fonts/Calluna-Regular.otf) format('opentype');
}

/* line 24, ../../../app/stylesheets/screen.scss */
body {
  font-family: Titillium;
}

/* line 28, ../../../app/stylesheets/screen.scss */
p {
  font-family: Calluna;
  font-size: 1.2em;
}

/* line 33, ../../../app/stylesheets/screen.scss */
a {
  color: #ea8c1c;
}

/* line 34, ../../../app/stylesheets/screen.scss */
a:visited {
  color: #ea8c1c;
}

/* line 36, ../../../app/stylesheets/screen.scss */
h2 {
  font-weight: bold;
}
/* line 38, ../../../app/stylesheets/screen.scss */
h2 a {
  color: black;
}
/* line 39, ../../../app/stylesheets/screen.scss */
h2 a:visited {
  color: black;
}

/* line 42, ../../../app/stylesheets/screen.scss */
h3 {
  font-weight: bold;
}

/* line 46, ../../../app/stylesheets/screen.scss */
.strong {
  font-weight: bold;
}

/* line 48, ../../../app/stylesheets/screen.scss */
nav.footer {
  color: #fdfdfd;
}
/* line 50, ../../../app/stylesheets/screen.scss */
nav.footer ul {
  list-style: none;
  padding: 0;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
nav.footer ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 54, ../../../app/stylesheets/screen.scss */
nav.footer a {
  color: #fdfdfd;
}

/* line 60, ../../../app/stylesheets/screen.scss */
footer.copyright a {
  color: black;
  text-decoration: none;
}
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
footer.copyright a:hover {
  text-decoration: underline;
}
/* line 64, ../../../app/stylesheets/screen.scss */
footer.copyright a:hover {
  color: #3a464f;
}

/* line 70, ../../../app/stylesheets/screen.scss */
#plans {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 870px;
  display: inline;
  float: right;
  position: relative;
  margin: 0 -80px 1.5em 80px;
  margin-right: 0;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #plans {
  overflow-x: hidden;
}

/* line 75, ../../../app/stylesheets/screen.scss */
#plans .normal {
  border: 1px solid #999;
  height: 270px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-bottomright: 20px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  text-align: center;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #plans .normal {
  overflow-x: hidden;
}

/* line 83, ../../../app/stylesheets/screen.scss */
#plans ul {
  list-style: none;
}

/* line 87, ../../../app/stylesheets/screen.scss */
.normal h3 {
  margin: 0 0 15px 0;
  padding: 0 0 7px 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  color: #73a1c7;
}

/* line 98, ../../../app/stylesheets/screen.scss */
#maintopics a {
  font-size: 1.5em;
  color: black;
}
/* line 102, ../../../app/stylesheets/screen.scss */
#maintopics span {
  margin: 0px 10px;
}

/* line 108, ../../../app/stylesheets/screen.scss */
#active {
  height: 40px;
  width: 190px;
  z-index: -1;
  opacity: .5;
  filter: alpha(opacity=50);
  -moz-opacity: .5;
  background: #8cc6bf;
  position: absolute;
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 123, ../../../app/stylesheets/screen.scss */
#active.menu_create {
  top: 200px;
}

/* line 124, ../../../app/stylesheets/screen.scss */
#active.menu_open, #active.menu_new, #active.menu_in {
  top: 250px;
}

/* line 125, ../../../app/stylesheets/screen.scss */
#active.menu_assigned, #active.menu_accepted, #active.menu_out {
  top: 300px;
}

/* line 126, ../../../app/stylesheets/screen.scss */
#active.menu_archived, #active.menu_won {
  top: 350px;
}

/* line 127, ../../../app/stylesheets/screen.scss */
#active.menu_lost {
  top: 390px;
}

/* line 130, ../../../app/stylesheets/screen.scss */
.biglist .entry {
  border-bottom: 1px solid black;
  height: 30px;
  font-size: 1.2em;
  padding-top: 8px;
}

/* line 136, ../../../app/stylesheets/screen.scss */
.biglist .heading {
  height: 30px;
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 8px;
}

/* line 143, ../../../app/stylesheets/screen.scss */
.biglist .entry:hover {
  background: #edf6ed;
}

/* line 147, ../../../app/stylesheets/screen.scss */
.title {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .title {
  overflow-x: hidden;
}

/* line 150, ../../../app/stylesheets/screen.scss */
.date {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .date {
  overflow-x: hidden;
}

/* line 153, ../../../app/stylesheets/screen.scss */
.from, .tags {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 350px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .from, * html .tags {
  overflow-x: hidden;
}

/* line 156, ../../../app/stylesheets/screen.scss */
.tags .tag {
  float: left;
  padding: 0px 5px;
  margin: 0px 5px;
}

/* line 161, ../../../app/stylesheets/screen.scss */
.tag {
  background: #8cc6bf;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

/* line 169, ../../../app/stylesheets/screen.scss */
.processbox, .businesscard {
  padding: 3px;
  margin: 5px 0px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 350px;
  border: 1px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .processbox, * html .businesscard {
  overflow-x: hidden;
}

/* line 178, ../../../app/stylesheets/screen.scss */
.businesscard .logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .businesscard .logo {
  overflow-x: hidden;
}

/* line 181, ../../../app/stylesheets/screen.scss */
.businesscard .contact {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
  margin-right: 0;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .businesscard .contact {
  overflow-x: hidden;
}

/* line 187, ../../../app/stylesheets/screen.scss */
.actionbox_header {
  background: #f3f3f3;
  padding: 3px;
  height: 15px;
}

/* line 194, ../../../app/stylesheets/screen.scss */
.actionbox_title {
  float: left;
  height: 15px;
}

/* line 198, ../../../app/stylesheets/screen.scss */
.actionbox_top_link {
  text-align: right;
}

/* line 201, ../../../app/stylesheets/screen.scss */
.actionbox_footer {
  text-align: right;
  background: #f3f3f3;
  border-top: 1px solid black;
  padding: 3px;
  height: 18px;
}

/* line 208, ../../../app/stylesheets/screen.scss */
.actionbox_entry {
  border-bottom: 1px solid black;
  padding: 2px;
}

/* line 212, ../../../app/stylesheets/screen.scss */
a.linkblock:hover, .actionbox_entry:hover {
  background: #edf6ed;
}

/* line 216, ../../../app/stylesheets/screen.scss */
.actionbox_entry .title {
  font-weight: bold;
  text-align: left;
}

/* line 224, ../../../app/stylesheets/screen.scss */
a.linkblock {
  color: black;
  text-decoration: none;
}

/* line 229, ../../../app/stylesheets/screen.scss */
#flash_notice {
  background: #72ad00;
  border: 1px solid #508b00;
}

/* line 233, ../../../app/stylesheets/screen.scss */
#flash_error {
  background: #ce3caa;
  border: 1px solid #ac1a88;
}

/* line 237, ../../../app/stylesheets/screen.scss */
#errorExplanation {
  margin: 10px;
  padding: 2px;
  background: #f3f3f3;
  border: 1px solid red;
}

/* line 243, ../../../app/stylesheets/screen.scss */
.field_with_errors input {
  border-color: red;
}

/* line 249, ../../../app/stylesheets/screen.scss */
.transition {
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 256, ../../../app/stylesheets/screen.scss */
.box_shadow {
  -moz-box-shadow: 2px 2px 6px #222222;
  -webkit-box-shadow: 2px 2px 6px #222222;
  box-shadow: 2px 2px 6px #222222;
}

/* line 262, ../../../app/stylesheets/screen.scss */
.box_rotate {
  -moz-transform: rotate(7.5deg);
  -o-transform: rotate(7.5deg);
  -webkit-transform: rotate(7.5deg);
  transform: rotate(7.5deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',                         M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(
                      M11=0.9914448613738104, M12=-0.13052619222005157, M21=0.13052619222005157, M22=0.9914448613738104, 
                      sizingMethod='auto expand')";
  zoom: 1;
}

/* line 281, ../../../app/stylesheets/screen.scss */
input:focus, textarea:focus {
  outline: none;
}

/* line 287, ../../../app/stylesheets/screen.scss */
.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

/* line 294, ../../../app/stylesheets/screen.scss */
.simple_form div.input {
  margin-bottom: 10px;
}

/* line 298, ../../../app/stylesheets/screen.scss */
.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

/* line 302, ../../../app/stylesheets/screen.scss */
.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

/* line 307, ../../../app/stylesheets/screen.scss */
.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

/* line 312, ../../../app/stylesheets/screen.scss */
.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

/* line 320, ../../../app/stylesheets/screen.scss */
.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}
