/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../../app/stylesheets/partials/_layout.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 3, ../../../app/stylesheets/partials/_layout.scss */
section, header, footer, aside, nav, article {
  display: block;
}

/* line 7, ../../../app/stylesheets/partials/_layout.scss */
html, body {
  height: 100%;
}

/* line 11, ../../../app/stylesheets/partials/_layout.scss */
#wrapper {
  min-height: 100%;
}

/* line 16, ../../../app/stylesheets/partials/_layout.scss */
#wrapper #meta .content {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  overflow: visible;
  padding: 5px 0px;
}
/* line 22, ../../../app/stylesheets/partials/_layout.scss */
#wrapper #meta .content aside {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  position: relative;
  overflow: visible;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #meta .content aside {
  overflow-x: hidden;
}
/* line 27, ../../../app/stylesheets/partials/_layout.scss */
#wrapper #meta .content aside #actionsearch {
  float: left;
  padding: 5px 15px 0px 0px;
}

/* line 35, ../../../app/stylesheets/partials/_layout.scss */
#wrapper header {
  background: url('/images/grid.png?1281876736');
  height: 100px;
  padding-top: 5px;
  clear: both;
  background: #e4f0e0;
  border-bottom: 1px solid #D0D6D0;
  background-image: -moz-linear-gradient(top, #e4f0e0, #e0ebdc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e4f0e0), color-stop(1, #e0ebdc));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E4F0E0', EndColorStr='#E0ebdc');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#E4F0E0', EndColorStr='#E0ebdc')";
  -moz-box-shadow: 0px 0px 8px #D0D6D0;
  -webkit-box-shadow: 0px 0px 8px #D0D6D0;
  box-shadow: 0px 0px 8px #D0D6D0;
}
/* line 52, ../../../app/stylesheets/partials/_layout.scss */
#wrapper header .content {
  padding: 20px 0px;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
}
/* line 56, ../../../app/stylesheets/partials/_layout.scss */
#wrapper header .content .logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper header .content .logo {
  overflow-x: hidden;
}
/* line 59, ../../../app/stylesheets/partials/_layout.scss */
#wrapper header .content .meta {
  position: relative;
  overflow: visible;
  padding: 20px 0px;
  float: left;
}
/* line 64, ../../../app/stylesheets/partials/_layout.scss */
#wrapper header .content .meta aside {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  position: relative;
  overflow: visible;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper header .content .meta aside {
  overflow-x: hidden;
}
/* line 69, ../../../app/stylesheets/partials/_layout.scss */
#wrapper header .content .meta aside #actionsearch {
  float: left;
  padding: 5px 15px 0px 0px;
}
/* line 74, ../../../app/stylesheets/partials/_layout.scss */
#wrapper header .content .meta .search {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  text-align: right;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper header .content .meta .search {
  overflow-x: hidden;
}
/* line 78, ../../../app/stylesheets/partials/_layout.scss */
#wrapper header .content .meta .language {
  text-align: right;
  word-spacing: 5px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper header .content .meta .language {
  overflow-x: hidden;
}
/* line 83, ../../../app/stylesheets/partials/_layout.scss */
#wrapper header .content .meta nav.user {
  text-align: right;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
  margin-right: 0;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper header .content .meta nav.user {
  overflow-x: hidden;
}

/* line 92, ../../../app/stylesheets/partials/_layout.scss */
#links h1 {
  color: green;
}
/* line 95, ../../../app/stylesheets/partials/_layout.scss */
#links .tagline.last {
  margin-right: 0px;
}

/* line 99, ../../../app/stylesheets/partials/_layout.scss */
#site_title {
  margin-top: 60px;
  padding-bottom: 20px;
}
/* line 102, ../../../app/stylesheets/partials/_layout.scss */
#site_title h1 {
  line-height: 1.05;
}

/* line 106, ../../../app/stylesheets/partials/_layout.scss */
#container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  padding: 40px 0px 0px 0px;
  overflow: auto;
}
/* line 110, ../../../app/stylesheets/partials/_layout.scss */
#container .tagline {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container .tagline {
  overflow-x: hidden;
}
/* line 113, ../../../app/stylesheets/partials/_layout.scss */
#container .tagline_wide {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container .tagline_wide {
  overflow-x: hidden;
}
/* line 116, ../../../app/stylesheets/partials/_layout.scss */
#container #actionbutton {
  padding: 25px 0px;
  text-align: right;
  margin-right: 0;
}
/* line 121, ../../../app/stylesheets/partials/_layout.scss */
#container #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 870px;
  margin-right: 0;
  padding: 5px 0px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container #content {
  overflow-x: hidden;
}

/* line 127, ../../../app/stylesheets/partials/_layout.scss */
#container.small_footer {
  padding-bottom: 80px;
}

/* line 131, ../../../app/stylesheets/partials/_layout.scss */
.explanation {
  padding: 20px 0px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .explanation {
  overflow-x: hidden;
}
/* line 134, ../../../app/stylesheets/partials/_layout.scss */
.explanation .paragraph {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .explanation .paragraph {
  overflow-x: hidden;
}
/* line 137, ../../../app/stylesheets/partials/_layout.scss */
.explanation .picture {
  width: 450px;
  height: 254px;
  text-align: right;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  margin-right: 0;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .explanation .picture {
  overflow-x: hidden;
}

/* line 146, ../../../app/stylesheets/partials/_layout.scss */
#content_two {
  clear: both;
  padding-bottom: 30px;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 152, ../../../app/stylesheets/partials/_layout.scss */
#footer.big, #footer.small {
  clear: both;
  border-top: 1px solid #6f7b80;
  background: #42515a;
  position: relative;
  background-image: -moz-linear-gradient(top, #43515a, #3a464d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #43515a), color-stop(1, #3a464d));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#43515A', EndColorStr='#3a464d');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#43515A', EndColorStr='#3a464d')";
}
/* line 162, ../../../app/stylesheets/partials/_layout.scss */
#footer.big nav.footer, #footer.small nav.footer {
  padding: 20px 0px 0px 0px;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 166, ../../../app/stylesheets/partials/_layout.scss */
#footer.big .ginetta, #footer.small .ginetta {
  text-align: right;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 790px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer.big .ginetta, * html #footer.small .ginetta {
  overflow-x: hidden;
}

/* line 172, ../../../app/stylesheets/partials/_layout.scss */
#footer.big {
  padding-bottom: 20px;
}

/* line 175, ../../../app/stylesheets/partials/_layout.scss */
#footer.small {
  margin-top: -51px;
  /* negative value of footer height */
  height: 40px;
  padding-top: 10px;
}
/* line 179, ../../../app/stylesheets/partials/_layout.scss */
#footer.small .ginetta {
  text-align: right;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer.small .ginetta {
  overflow-x: hidden;
}

/* line 186, ../../../app/stylesheets/partials/_layout.scss */
footer.copyright {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 188, ../../../app/stylesheets/partials/_layout.scss */
footer.copyright .flockstreet {
  text-align: right;
  margin-right: 0;
}

/* line 194, ../../../app/stylesheets/partials/_layout.scss */
nav.main {
  height: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  border-bottom: 2px solid black;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html nav.main {
  overflow-x: hidden;
}
/* line 199, ../../../app/stylesheets/partials/_layout.scss */
nav.main #dashboard {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html nav.main #dashboard {
  overflow-x: hidden;
}
/* line 201, ../../../app/stylesheets/partials/_layout.scss */
nav.main #dashboard a {
  font-size: 1.5em;
  color: black;
}
/* line 207, ../../../app/stylesheets/partials/_layout.scss */
nav.main #maintopics {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html nav.main #maintopics {
  overflow-x: hidden;
}
/* line 211, ../../../app/stylesheets/partials/_layout.scss */
nav.main #mainaction {
  text-align: right;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  margin-right: 0;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html nav.main #mainaction {
  overflow-x: hidden;
}

/* line 218, ../../../app/stylesheets/partials/_layout.scss */
nav.sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  font-size: 1.2em;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html nav.sidebar {
  overflow-x: hidden;
}

/* line 222, ../../../app/stylesheets/partials/_layout.scss */
.filter {
  height: 40px;
  padding: 5px 0px;
}

/* line 228, ../../../app/stylesheets/partials/_layout.scss */
#rightcontent {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  margin-right: 0;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #rightcontent {
  overflow-x: hidden;
}

/* line 232, ../../../app/stylesheets/partials/_layout.scss */
#leftcontent {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #leftcontent {
  overflow-x: hidden;
}

/* line 235, ../../../app/stylesheets/partials/_layout.scss */
.byline {
  padding: 30px 0px;
  width: 630px;
}

/* line 239, ../../../app/stylesheets/partials/_layout.scss */
.toplinks {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin: 0 0 20px 0;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .toplinks {
  overflow-x: hidden;
}

/* line 243, ../../../app/stylesheets/partials/_layout.scss */
.leftmiddle, .middleright {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .leftmiddle, * html .middleright {
  overflow-x: hidden;
}

/* line 247, ../../../app/stylesheets/partials/_layout.scss */
.left, .middle, .right {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .left, * html .middle, * html .right {
  overflow-x: hidden;
}

/* line 251, ../../../app/stylesheets/partials/_layout.scss */
.first, .second, .third, .fourth {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .first, * html .second, * html .third, * html .fourth {
  overflow-x: hidden;
}

/* line 255, ../../../app/stylesheets/partials/_layout.scss */
.fourth, .right, .middleright {
  margin-right: 0;
}

/* line 259, ../../../app/stylesheets/partials/_layout.scss */
.last {
  margin-right: 0;
}

/* line 1, ../../../app/stylesheets/partials/_forms.scss */
input[type="text"], input[type="password"], input[type="email"] {
  width: 280px;
  padding: 7px 8px;
  font-size: 1.2em;
  color: #666;
  border: 1px solid #b1b9be;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -border-radius: 5px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 12%, from(#eeeeee), to(white));
  background-image: -moz-linear-gradient(0% 12% 90deg, white, #eeeeee);
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 21, ../../../app/stylesheets/partials/_forms.scss */
input[type="checkbox"]:focus, input[type="password"]:focus,
input[type="text"]:focus, input[type="email"]:focus {
  border: 1px solid #e78b2c;
  outline: none;
}

/* line 26, ../../../app/stylesheets/partials/_forms.scss */
input[type="checkbox"] {
  margin: 0 0 15px 0;
  font-size: 1.2em;
  width: 25px;
}

/* line 32, ../../../app/stylesheets/partials/_forms.scss */
.simple_form label, .simple_form span {
  font-family: Titillium;
  display: block;
  font-size: 16px;
  color: #42515a;
}

/* line 38, ../../../app/stylesheets/partials/_forms.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 42, ../../../app/stylesheets/partials/_forms.scss */
.simple_form input[type='submit'] {
  margin-top: 30px;
  margin-left: 300px;
}

/* line 47, ../../../app/stylesheets/partials/_forms.scss */
.hint {
  background: url(/images/info_button.png) no-repeat 0% 60%;
  padding-left: 25px;
  padding-top: 8px;
  display: none;
  margin-left: 650px;
  color: #42515a;
  font-family: Titillium;
  width: 250px;
}

/* line 58, ../../../app/stylesheets/partials/_forms.scss */
.forgot {
  margin-left: 290px;
}

/* line 63, ../../../app/stylesheets/partials/_forms.scss */
.simple_form input {
  float: left;
}

/* line 66, ../../../app/stylesheets/partials/_forms.scss */
.simple_form label {
  float: left;
  width: 290px;
  text-align: left;
  font-size: 20px;
  margin: 2px 0px;
}

/* line 75, ../../../app/stylesheets/partials/_forms.scss */
.simple_form fieldset {
  margin-bottom: 10px;
}

/* line 79, ../../../app/stylesheets/partials/_forms.scss */
.simple_form div.boolean {
  margin-left: 180px;
}

/* line 83, ../../../app/stylesheets/partials/_forms.scss */
.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

/* line 88, ../../../app/stylesheets/partials/_forms.scss */
.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

/* line 93, ../../../app/stylesheets/partials/_forms.scss */
.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

/* line 4, ../../../app/stylesheets/partials/_menu.scss */
#small_signup {
  display: inline;
  float: none;
  line-height: 23px;
  margin: 25px 0 0;
  width: 170px;
}

/* line 13, ../../../app/stylesheets/partials/_menu.scss */
#message_menu {
  right: 10px;
  z-index: 2;
}

/* line 17, ../../../app/stylesheets/partials/_menu.scss */
#contact_menu {
  right: -30px;
  z-index: 3;
}

/* line 22, ../../../app/stylesheets/partials/_menu.scss */
#lead_menu {
  right: -60px;
  z-index: 1;
}

/* line 27, ../../../app/stylesheets/partials/_menu.scss */
#settings-menu {
  right: 60px;
  top: 25px;
  width: 120px;
  text-align: right;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none;
  position: absolute;
  border: 1px solid black;
  margin-right: 0px;
  *margin-right: -1px;
  font-size: 11px;
}

/* line 43, ../../../app/stylesheets/partials/_menu.scss */
.dropdownmenu {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  display: none;
  background-color: white;
  position: absolute;
  width: 210px;
  border: 2px solid black;
  text-align: left;
  top: 40px;
  margin-right: 0px;
  *margin-right: -1px;
  font-size: 11px;
}

/* line 2, ../../../app/stylesheets/partials/_login.scss */
nav.user a.login img {
  margin: 0;
}
/* line 6, ../../../app/stylesheets/partials/_login.scss */
nav.user #login_menu {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: none;
  background-color: white;
  position: absolute;
  top: 2px;
  right: -13px;
  width: 250px;
  height: 215px;
  z-index: 100;
  border: 1px solid #b1b9be;
  text-align: left;
  padding: 0px;
  margin-top: 5px;
  margin-right: 0px;
  *margin-right: -1px;
  font-size: 11px;
  -webkit-box-shadow: 0px 0px 1px #000;
  -moz-box-shadow: 0px 0px 1px #000;
  box-shadow: 0px 0px 1px #000;
}
/* line 7, ../../../app/stylesheets/partials/_login.scss */
nav.user #login_menu .handler {
  font-size: 15px;
  padding: 12px 12px;
  clear: both;
  text-align: right;
}
/* line 13, ../../../app/stylesheets/partials/_login.scss */
nav.user #login_menu .input_form {
  text-align: left;
  padding: 0 10px;
}
/* line 16, ../../../app/stylesheets/partials/_login.scss */
nav.user #login_menu .input_form fieldset {
  margin: 0 0 10px 0;
}
/* line 18, ../../../app/stylesheets/partials/_login.scss */
nav.user #login_menu .input_form fieldset input[type="text"], nav.user #login_menu .input_form fieldset input[type="password"], nav.user #login_menu .input_form fieldset input[type="email"] {
  width: 210px;
}
/* line 22, ../../../app/stylesheets/partials/_login.scss */
nav.user #login_menu .input_form .button_form {
  text-align: right;
}
/* line 25, ../../../app/stylesheets/partials/_login.scss */
nav.user #login_menu .input_form legend {
  font-family: Titillium;
  display: block;
  font-size: 15px;
  color: #42515a;
}

/* line 39, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 68, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 69, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 70, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 71, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 72, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 73, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 74, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 75, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 76, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 77, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 78, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 80, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: #000066;
}
/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #cc0099;
}

/* line 81, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 82, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong {
  font-weight: bold;
}

/* line 83, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em {
  font-style: italic;
}

/* line 84, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 85, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 86, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 87, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 88, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 89, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 90, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 91, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 92, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 93, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 94, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 95, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 97, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 98, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 99, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 100, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 102, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tr.even td {
  background: #e5ecf9;
}

/* line 103, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 104, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 105, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 106, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

/* line 21, ../../../app/stylesheets/screen.scss */
body {
  font-family: Georgia;
  font-size: 15px;
}

/* line 26, ../../../app/stylesheets/screen.scss */
a, a:visited {
  color: #e78b2c;
}

/* line 29, ../../../app/stylesheets/screen.scss */
a:hover, a:focus {
  color: #c97a27;
}

/* line 33, ../../../app/stylesheets/screen.scss */
ul {
  list-style: none;
  padding: 0px;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 36, ../../../app/stylesheets/screen.scss */
ul li {
  margin-top: 5px;
}

/* line 40, ../../../app/stylesheets/screen.scss */
p {
  line-height: 1.7;
}

/* line 43, ../../../app/stylesheets/screen.scss */
h1, h2, h3, h4, h5 {
  font-family: Titillium;
  color: #42515a;
  margin-bottom: 6px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  line-height: 1.5;
}

/* line 50, ../../../app/stylesheets/screen.scss */
a, a:visited, a:hover, a:focus {
  text-decoration: none;
}

/* line 54, ../../../app/stylesheets/screen.scss */
h2 a, h2 a:visited, h2 a:hover, h2 a:focus {
  color: #42515a;
  background: url(/images/underline_black.png) repeat-x 100% 100%;
  padding-bottom: 2px;
  white-space: nowrap;
}
/* line 62, ../../../app/stylesheets/screen.scss */
h2 a:hover, h2 a:focus {
  color: #354047;
  background: url(/images/underline_black_hover.png) repeat-x 100% 100%;
}

/* line 69, ../../../app/stylesheets/screen.scss */
h3 a, h3 a:visited, h4 a, h4 a:visited {
  background: url(/images/underline_orange.png) repeat-x 100% 100%;
}
/* line 70, ../../../app/stylesheets/screen.scss */
h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus {
  background: url(/images/underline_orange_hover.png) repeat-x 100% 100%;
}

/* line 73, ../../../app/stylesheets/screen.scss */
h1 {
  font-weight: 300;
  color: #42515a;
  font-size: 40px;
}

/* line 79, ../../../app/stylesheets/screen.scss */
h2 {
  font-weight: 500;
  color: #42515a;
  font-size: 30px;
}

/* line 85, ../../../app/stylesheets/screen.scss */
h3 {
  font-weight: 500;
  padding-bottom: 5px;
  color: #42515a;
  font-size: 26px;
}

/* line 92, ../../../app/stylesheets/screen.scss */
h4 {
  font-size: 20px;
}

/* line 97, ../../../app/stylesheets/screen.scss */
h5 {
  color: white;
  font-weight: 800;
  font-size: 26px;
  text-shadow: 1px 1px 1px #000;
  margin: 0px 0px 20px 0px;
}

/* line 105, ../../../app/stylesheets/screen.scss */
.titillium {
  font-family: Titillium;
  font-size: 15px;
  color: #354048;
}

/* line 111, ../../../app/stylesheets/screen.scss */
.meta {
  font-family: Titillium;
}
/* line 113, ../../../app/stylesheets/screen.scss */
.meta a {
  text-decoration: none;
}

/* line 118, ../../../app/stylesheets/screen.scss */
.flockstreet_map {
  border: 1px solid #222;
  width: 250px;
  height: 250px;
  background: url(/images/map.png) no-repeat;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
/* line 127, ../../../app/stylesheets/screen.scss */
.flockstreet_map .address {
  padding: 20px 0px;
}

/* line 133, ../../../app/stylesheets/screen.scss */
nav.footer {
  color: white;
  font-weight: 500;
  font-size: 15px;
  text-shadow: 1px 1px 1px #000;
  margin: 0px;
}
/* line 140, ../../../app/stylesheets/screen.scss */
nav.footer a {
  font-family: Titillium;
  font-weight: 100;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
}

/* line 149, ../../../app/stylesheets/screen.scss */
footer.copyright {
  font-family: Titillium;
  font-size: 13px;
  color: #cfd6d0;
  text-shadow: 1px 1px 1px #000;
}
/* line 155, ../../../app/stylesheets/screen.scss */
footer.copyright a {
  font-size: 12px;
  color: #cfd6d0;
  text-shadow: 1px 1px 1px #000;
  text-decoration: none;
}
/* line 161, ../../../app/stylesheets/screen.scss */
footer.copyright a:hover {
  color: #fff;
}

/* line 166, ../../../app/stylesheets/screen.scss */
.green_box {
  background: #f5fdf2;
  padding: 10px;
  width: 630px;
  margin-bottom: 4px;
  overflow: visible;
}

/* line 175, ../../../app/stylesheets/screen.scss */
#plans {
  padding: 0px;
}

/* line 179, ../../../app/stylesheets/screen.scss */
.plan {
  height: 400px;
  float: left;
  font-family: Titillium;
  font-size: 15px;
  color: #354048;
}
/* line 185, ../../../app/stylesheets/screen.scss */
.plan h1 {
  font-weight: 800;
  line-height: 50px;
}
/* line 190, ../../../app/stylesheets/screen.scss */
.plan h2 {
  font-weight: 100;
  line-height: 20px;
}
/* line 195, ../../../app/stylesheets/screen.scss */
.plan .box {
  width: 280px;
  background: #f5fdf3;
  padding: 10px;
  margin: 0 20px 4px 0;
}
/* line 200, ../../../app/stylesheets/screen.scss */
.plan .box ul {
  list-style: none;
  padding: 0px;
  line-height: 30px;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
.plan .box ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 204, ../../../app/stylesheets/screen.scss */
.plan .box ul li {
  margin-top: 5px;
}
/* line 206, ../../../app/stylesheets/screen.scss */
.plan .box ul li span {
  color: #80b8b3;
}
/* line 212, ../../../app/stylesheets/screen.scss */
.plan .box.last {
  margin-right: 0px;
}
/* line 215, ../../../app/stylesheets/screen.scss */
.plan .box.distinguish {
  background: #e4f0e0;
}

/* line 220, ../../../app/stylesheets/screen.scss */
.plan_content {
  height: 270px;
}

/* line 226, ../../../app/stylesheets/screen.scss */
#maintopics a {
  font-size: 1.5em;
  color: black;
}
/* line 230, ../../../app/stylesheets/screen.scss */
#maintopics span {
  margin: 0px 10px;
}

/* line 236, ../../../app/stylesheets/screen.scss */
#active {
  height: 40px;
  width: 190px;
  z-index: -1;
  opacity: .5;
  filter: alpha(opacity=50);
  -moz-opacity: .5;
  background: #7fb6b1;
  position: absolute;
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 251, ../../../app/stylesheets/screen.scss */
#active.menu_create, #active.menu_action {
  top: 200px;
}

/* line 252, ../../../app/stylesheets/screen.scss */
#active.menu_open, #active.menu_first, #active.menu_new, #active.menu_in {
  top: 250px;
}

/* line 253, ../../../app/stylesheets/screen.scss */
#active.menu_assigned, #active.menu_second, #active.menu_accepted, #active.menu_out {
  top: 300px;
}

/* line 254, ../../../app/stylesheets/screen.scss */
#active.menu_archived, #active.menu_third, #active.menu_won {
  top: 350px;
}

/* line 255, ../../../app/stylesheets/screen.scss */
#active.menu_lost, #active.menu_fourth {
  top: 390px;
}

/* line 258, ../../../app/stylesheets/screen.scss */
.biglist .entry {
  border-bottom: 1px solid black;
  height: 30px;
  font-size: 1.2em;
  padding-top: 8px;
}

/* line 264, ../../../app/stylesheets/screen.scss */
.biglist .heading {
  height: 30px;
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 8px;
}

/* line 271, ../../../app/stylesheets/screen.scss */
.biglist .entry:hover {
  background: #e4f0e0;
}

/* line 275, ../../../app/stylesheets/screen.scss */
.title {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .title {
  overflow-x: hidden;
}

/* line 278, ../../../app/stylesheets/screen.scss */
.date {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .date {
  overflow-x: hidden;
}

/* line 281, ../../../app/stylesheets/screen.scss */
.from, .tags {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .from, * html .tags {
  overflow-x: hidden;
}

/* line 284, ../../../app/stylesheets/screen.scss */
.tags .tag {
  float: left;
  padding: 0px 5px;
  margin: 0px 5px;
}

/* line 289, ../../../app/stylesheets/screen.scss */
.tag {
  background: #7fb6b1;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

/* line 297, ../../../app/stylesheets/screen.scss */
.processbox, .businesscard {
  padding: 3px;
  margin: 5px 0px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  border: 1px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .processbox, * html .businesscard {
  overflow-x: hidden;
}

/* line 306, ../../../app/stylesheets/screen.scss */
.businesscard .logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .businesscard .logo {
  overflow-x: hidden;
}

/* line 309, ../../../app/stylesheets/screen.scss */
.businesscard .contact {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .businesscard .contact {
  overflow-x: hidden;
}

/* line 315, ../../../app/stylesheets/screen.scss */
.actionbox_header {
  background: #f3f3f3;
  padding: 3px;
  height: 15px;
}

/* line 322, ../../../app/stylesheets/screen.scss */
.actionbox_title {
  float: left;
  height: 15px;
}

/* line 326, ../../../app/stylesheets/screen.scss */
.actionbox_top_link {
  text-align: right;
}

/* line 329, ../../../app/stylesheets/screen.scss */
.actionbox_footer {
  text-align: right;
  background: #f3f3f3;
  border-top: 1px solid black;
  padding: 3px;
  height: 18px;
}

/* line 336, ../../../app/stylesheets/screen.scss */
.actionbox_entry {
  border-bottom: 1px solid black;
  padding: 2px;
}

/* line 340, ../../../app/stylesheets/screen.scss */
a.linkblock:hover, .actionbox_entry:hover {
  background: #e4f0e0;
}

/* line 344, ../../../app/stylesheets/screen.scss */
.actionbox_entry .title {
  font-weight: bold;
  text-align: left;
}

/* line 352, ../../../app/stylesheets/screen.scss */
#flash_container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 355, ../../../app/stylesheets/screen.scss */
#flash_notice {
  background: #7fb6b1;
  border: 1px solid #aaaaaa;
}

/* line 359, ../../../app/stylesheets/screen.scss */
#flash_error {
  background: #e4f0e0;
  border: 1px solid #7fb6b1;
}

/* line 363, ../../../app/stylesheets/screen.scss */
#errorExplanation {
  margin: 10px;
  padding: 2px;
  background: #f3f3f3;
  border: 1px solid red;
}

/* line 369, ../../../app/stylesheets/screen.scss */
.field_with_errors input {
  border-color: red;
}

/* line 374, ../../../app/stylesheets/screen.scss */
.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 381, ../../../app/stylesheets/screen.scss */
.box_shadow {
  -moz-box-shadow: 2px 2px 6px #222222;
  -webkit-box-shadow: 2px 2px 6px #222222;
  box-shadow: 2px 2px 6px #222222;
}

/* line 387, ../../../app/stylesheets/screen.scss */
.ui-autocomplete-loading {
  background: white url(/images/ajax-loader.gif) right center no-repeat;
}

/* line 393, ../../../app/stylesheets/screen.scss */
.twitterwall h3, .twitterwall h4 {
  padding-left: 20px;
}
/* line 396, ../../../app/stylesheets/screen.scss */
.twitterwall #twitter #twitter_update_list {
  margin: 0px 0px 10px 10px;
  list-style: none;
  padding: 0px;
  font-size: 14px;
  font-family: Titillium;
  color: #42515a;
}
/* line 404, ../../../app/stylesheets/screen.scss */
.twitterwall #twitter #twitter_update_list a {
  color: #7b8c96;
  text-decoration: none;
}
/* line 408, ../../../app/stylesheets/screen.scss */
.twitterwall #twitter #twitter_update_list li {
  margin-bottom: 10px;
}
/* line 410, ../../../app/stylesheets/screen.scss */
.twitterwall #twitter #twitter_update_list li .tweet {
  background: #eef6eb;
}
/* line 412, ../../../app/stylesheets/screen.scss */
.twitterwall #twitter #twitter_update_list li .tweet .status {
  padding: 10px;
}
/* line 414, ../../../app/stylesheets/screen.scss */
.twitterwall #twitter #twitter_update_list li .tweet .status a, .twitterwall #twitter #twitter_update_list li .tweet .status a:hover {
  color: #42515a;
  font-weight: 800;
  text-decoration: underline;
}
/* line 419, ../../../app/stylesheets/screen.scss */
.twitterwall #twitter #twitter_update_list li .tweet .status a:hover {
  color: #2c353b;
}
/* line 424, ../../../app/stylesheets/screen.scss */
.twitterwall #twitter #twitter_update_list li .bubble {
  height: 10px;
  background: url(/images/twitter_bubble.png) no-repeat 0% 100%;
}
