/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../../app/assets/stylesheets/partials/_menu.scss */
#small_signup {
  display: inline;
  float: none;
  line-height: 23px;
  margin: 25px 0 0;
  width: 170px;
}

/* line 13, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox.messages {
  position: absolute;
  left: 36px;
  top: 29px;
  z-index: 2;
}

/* line 19, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox.contacts {
  position: absolute;
  left: 85px;
  top: 29px;
  z-index: 2;
}

/* line 25, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox.leads {
  position: absolute;
  left: -10px;
  top: 29px;
  z-index: 2;
}

/* line 31, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox {
  width: 350px;
  display: none;
}
/* line 34, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox #pointer {
  background: url(/images/bubble_pointer.png) no-repeat 100% 100%;
  height: 9px;
}
/* line 38, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section {
  background: white;
  border-right: 1px solid #9ea3a0;
  border-bottom: 1px solid #9ea3a0;
  border-left: 1px solid #9ea3a0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 0px 3px #9ea3a0;
  -webkit-box-shadow: 0px 0px 3px #9ea3a0;
  box-shadow: 0px 0px 3px #9ea3a0;
}
/* line 53, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section .header .boxname {
  float: left;
  padding: 7px 5px;
}
/* line 56, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section .header .boxname h1 {
  font-family: Titillium-XBold;
  font-size: 18px;
  margin-bottom: 0px;
}
/* line 62, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section .header .toplink {
  padding: 8px 5px;
  float: right;
}
/* line 65, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section .header .toplink a {
  font-family: Titillium-Medium;
  font-size: 14px;
}
/* line 72, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section #content {
  clear: both;
}
/* line 74, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section #content .actionbox_entry {
  background: #f5fdf2;
  margin-bottom: 4px;
  font-family: Titillium-Medium;
  color: #42515a;
  font-size: 13px;
  padding: 5px 10px;
}
/* line 82, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section #content .actionbox_entry:hover {
  background: #e2edde;
}
/* line 85, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section #content .title {
  font-family: Titillium-XBold;
}
/* line 88, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section #content .footer {
  color: #CFD6D0;
}
/* line 92, ../../../app/assets/stylesheets/partials/_menu.scss */
.actionbox section #actionfooter {
  padding: 10px 10px;
  text-align: right;
}

/* line 1, ../../../app/assets/stylesheets/partials/_login.scss */
.login_link {
  background: url(/images/dropdown.png) 100% 100% no-repeat;
  height: 17px;
  width: 50px;
  float: right;
}

/* line 9, ../../../app/assets/stylesheets/partials/_login.scss */
nav.user #login_menu {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: none;
  background-color: white;
  position: absolute;
  top: 2px;
  right: -10px;
  width: 250px;
  z-index: 100;
  border: 1px solid #b1b9be;
  text-align: left;
  padding: 0px;
  margin-top: 5px;
  margin-right: 0px;
  *margin-right: -1px;
  font-size: 11px;
  -webkit-box-shadow: 0px 0px 1px #000;
  -moz-box-shadow: 0px 0px 1px #000;
  box-shadow: 0px 0px 1px #000;
}
/* line 10, ../../../app/assets/stylesheets/partials/_login.scss */
nav.user #login_menu .login_link {
  margin: 12px 9px;
  font-size: 14px;
  background: green;
  background: url(/images/dropdown.png) 100% 100% no-repeat;
  height: 17px;
  width: 50px;
  float: right;
}
/* line 20, ../../../app/assets/stylesheets/partials/_login.scss */
nav.user #login_menu .input_form {
  margin-top: 50px;
  text-align: left;
  padding: 0 10px 10px 10px;
}
/* line 24, ../../../app/assets/stylesheets/partials/_login.scss */
nav.user #login_menu .input_form fieldset {
  margin: 0 0 10px 0;
}
/* line 26, ../../../app/assets/stylesheets/partials/_login.scss */
nav.user #login_menu .input_form fieldset input[type="text"], nav.user #login_menu .input_form fieldset input[type="password"], nav.user #login_menu .input_form fieldset input[type="email"] {
  width: 210px;
}
/* line 30, ../../../app/assets/stylesheets/partials/_login.scss */
nav.user #login_menu .input_form .button_form {
  text-align: right;
}
/* line 33, ../../../app/assets/stylesheets/partials/_login.scss */
nav.user #login_menu .input_form legend {
  font-family: Titillium-Medium;
  display: block;
  font-size: 15px;
  color: #414f57;
}
/* line 39, ../../../app/assets/stylesheets/partials/_login.scss */
nav.user #login_menu .input_form p {
  font-size: 15px;
}

/* line 9, ../../../app/assets/stylesheets/styles.scss */
section, header, footer, aside, nav, article {
  display: block;
}

/* line 13, ../../../app/assets/stylesheets/styles.scss */
html, body {
  height: 100%;
}

/* line 17, ../../../app/assets/stylesheets/styles.scss */
body {
  font-family: Georgia;
  color: #414f57;
  font-size: 15px;
  line-height: 1.5;
}

/* line 24, ../../../app/assets/stylesheets/styles.scss */
a, a:visited {
  color: #e78b2c;
}

/* line 27, ../../../app/assets/stylesheets/styles.scss */
a:hover, a:focus {
  color: #d67a1b;
}

/* line 31, ../../../app/assets/stylesheets/styles.scss */
ul {
  list-style: none;
  padding: 0px;
}
/* line 34, ../../../app/assets/stylesheets/styles.scss */
ul li {
  margin-top: 5px;
}

/* line 39, ../../../app/assets/stylesheets/styles.scss */
p {
  line-height: 1.7;
  margin-bottom: 40px;
}

/* line 44, ../../../app/assets/stylesheets/styles.scss */
h1, h2, h3, h4, h5 {
  color: #414f57;
  margin-bottom: 6px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  line-height: 1.5;
}

/* line 50, ../../../app/assets/stylesheets/styles.scss */
a, a:visited, a:hover, a:focus {
  text-decoration: none;
}

/* line 58, ../../../app/assets/stylesheets/styles.scss */
h3 a, h3 a:visited, h4 a, h4 a:visited {
  border-bottom: 1px solid #e78b2c;
}
/* line 61, ../../../app/assets/stylesheets/styles.scss */
h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus {
  border-bottom: 1px solid #d67a1b;
}

/* line 66, ../../../app/assets/stylesheets/styles.scss */
h1 {
  font-family: Titillium-Light;
  color: #414f57;
  line-height: 1.2;
  font-size: 40px;
  margin-bottom: 30px;
}

/* line 74, ../../../app/assets/stylesheets/styles.scss */
h2 {
  font-family: Titillium-Medium;
  color: #414f57;
  font-size: 30px;
}

/* line 80, ../../../app/assets/stylesheets/styles.scss */
h3 {
  font-family: Titillium-Medium;
  padding-bottom: 5px;
  color: #414f57;
  font-size: 26px;
}

/* line 87, ../../../app/assets/stylesheets/styles.scss */
h4 {
  font-family: Titillium-Medium;
  font-size: 19px;
  text-shadow: 0px 0px 0px;
}

/* line 93, ../../../app/assets/stylesheets/styles.scss */
h5 {
  color: white;
  font-family: Titillium-Medium;
  font-size: 26px;
  text-shadow: 1px 1px 1px #000;
  margin: 0px 0px 20px 0px;
}

/* line 101, ../../../app/assets/stylesheets/styles.scss */
.byline {
  font-family: Titillium-Medium;
  color: #414f57;
  font-size: 19px;
  text-shadow: 0px 0px 0px;
  padding: 30px 0px 0px;
  line-height: 29px;
  width: 620px;
}
/* line 109, ../../../app/assets/stylesheets/styles.scss */
.byline footer {
  margin-top: 20px;
}
/* line 110, ../../../app/assets/stylesheets/styles.scss */
.byline a, .byline footer a:visited {
  font-family: Titillium-Medium;
  font-size: 19px;
  text-shadow: 0px 0px 0px;
  border-bottom: 1px solid #e78b2c;
}
/* line 117, ../../../app/assets/stylesheets/styles.scss */
.byline a:hover, .byline a:focus {
  border-bottom: 1px solid #d67a1b;
}

/* line 123, ../../../app/assets/stylesheets/styles.scss */
.lead {
  font-family: Titillium-Medium;
  color: #414f57;
  font-size: 19px;
  text-shadow: 0px 0px 0px;
  line-height: 29px;
  width: 620px;
}

/* line 131, ../../../app/assets/stylesheets/styles.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 134, ../../../app/assets/stylesheets/styles.scss */
address {
  margin: 0px;
}

/* line 138, ../../../app/assets/stylesheets/styles.scss */
article {
  margin-bottom: 20px;
}
/* line 140, ../../../app/assets/stylesheets/styles.scss */
article header {
  font-size: 14px;
  height: 80px;
  padding-top: 5px;
  clear: both;
}

/* line 147, ../../../app/assets/stylesheets/styles.scss */
.titillium {
  font-family: Titillium-Medium;
  font-size: 15px;
  color: #354048;
}

/* line 153, ../../../app/assets/stylesheets/styles.scss */
#wrapper {
  min-height: 100%;
}

/* line 157, ../../../app/assets/stylesheets/styles.scss */
#wrapper header.top {
  font-size: 14px;
  height: 100px;
  padding-top: 5px;
  clear: both;
  border-bottom: 1px solid #D0D6D0;
  background: #e4f0e0;
  background-image: -moz-linear-gradient(top, #e4f0e0, #e0ebdc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e4f0e0), color-stop(1, #e0ebdc));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E4F0E0', EndColorStr='#E0ebdc');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#E4F0E0', EndColorStr='#E0ebdc')";
}
/* line 170, ../../../app/assets/stylesheets/styles.scss */
#wrapper header.top .content {
  padding: 20px 0px;
  margin: 0px auto;
  width: 960px;
  overflow: visible;
}
/* line 174, ../../../app/assets/stylesheets/styles.scss */
#wrapper header.top .content .logo {
  float: left;
  margin: 0px 10px;
  width: 300px;
  width: 263px;
  height: 48px;
  background: url(/images/3owls_flockstreet_beta.png) no-repeat 100% 100%;
}
/* line 180, ../../../app/assets/stylesheets/styles.scss */
#wrapper header.top .content .meta {
  font-family: Titillium-Medium;
  position: relative;
  overflow: visible;
  padding: 20px 0px;
  width: 620px;
  margin: 0px 10px;
  float: right;
}
/* line 188, ../../../app/assets/stylesheets/styles.scss */
#wrapper header.top .content .meta .search {
  text-align: right;
  float: left;
  width: 460px;
  margin: 0px 0px;
}
/* line 194, ../../../app/assets/stylesheets/styles.scss */
#wrapper header.top .content .meta .language {
  text-align: right;
  word-spacing: 5px;
  float: left;
  width: 60px;
  margin: 0px 10px;
}
/* line 199, ../../../app/assets/stylesheets/styles.scss */
#wrapper header.top .content .meta nav.user {
  text-align: left;
  float: right;
  width: 60px;
  margin: 0px 10px;
  margin: 0px;
}

/* line 209, ../../../app/assets/stylesheets/styles.scss */
#hass_shadow {
  height: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
}

/* line 216, ../../../app/assets/stylesheets/styles.scss */
#flash {
  margin: 0px auto;
  width: 960px;
}

/* line 220, ../../../app/assets/stylesheets/styles.scss */
#flash_notice {
  background: #7fb6b1;
  border: 1px solid #aaa;
}

/* line 225, ../../../app/assets/stylesheets/styles.scss */
#flash_error {
  background: #e78b2c;
  border: 1px solid #ea8c1c;
}

/* line 231, ../../../app/assets/stylesheets/styles.scss */
nav.topnav {
  width: 620px;
  margin: 0 10px;
  float: left;
}
/* line 233, ../../../app/assets/stylesheets/styles.scss */
nav.topnav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 20px;
}
/* line 60, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav.topnav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav.topnav ul li:first-child, nav.topnav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav.topnav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../.rvm/gems/ruby-1.9.2-head@flockstreet/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav.topnav ul li.last {
  padding-right: 0;
}
/* line 236, ../../../app/assets/stylesheets/styles.scss */
nav.topnav ul li.last {
  margin-right: 0px;
}
/* line 237, ../../../app/assets/stylesheets/styles.scss */
nav.topnav ul li.active a {
  border-bottom: 3px solid #414f57;
}
/* line 240, ../../../app/assets/stylesheets/styles.scss */
nav.topnav ul li.active a:hover {
  border-bottom: 3px solid #313131;
}
/* line 243, ../../../app/assets/stylesheets/styles.scss */
nav.topnav ul li {
  width: 300px;
  margin-right: 10px;
  padding-right: 0px;
}
/* line 247, ../../../app/assets/stylesheets/styles.scss */
nav.topnav ul li a, nav.topnav ul li a:visited, nav.topnav ul li a:hover, nav.topnav ul li a:focus {
  font-family: Titillium-Medium;
  font-size: 30px;
  color: #414f57;
  border-bottom: 1px solid #414f57;
  padding-bottom: 2px;
  white-space: nowrap;
}
/* line 255, ../../../app/assets/stylesheets/styles.scss */
nav.topnav ul li a:hover, nav.topnav ul li a:focus {
  color: #313131;
  border-bottom: 1px solid #313131;
}

/* line 264, ../../../app/assets/stylesheets/styles.scss */
#container {
  margin: 0px auto;
  width: 960px;
  padding-top: 40px;
}

/* line 269, ../../../app/assets/stylesheets/styles.scss */
#container.small_footer {
  padding-bottom: 80px;
  overflow: hidden;
}

/* line 273, ../../../app/assets/stylesheets/styles.scss */
#container.big_footer, #content_two.big_footer {
  padding-bottom: 270px;
  overflow: auto;
}

/* line 278, ../../../app/assets/stylesheets/styles.scss */
#content_two {
  clear: both;
  padding-bottom: 30px;
  padding-top: 30px;
  margin: 0px auto;
  width: 960px;
}

/* line 285, ../../../app/assets/stylesheets/styles.scss */
article.teaser p {
  margin-bottom: 10px;
}

/* line 290, ../../../app/assets/stylesheets/styles.scss */
.full {
  clear: both;
  width: 960px;
  float: left;
}

/* line 295, ../../../app/assets/stylesheets/styles.scss */
.wide {
  width: 620px;
  margin: 0 10px;
  float: left;
  marign-bottom: 20px;
}

/* line 300, ../../../app/assets/stylesheets/styles.scss */
.slim {
  float: left;
  margin: 0px 10px;
  width: 300px;
  margin-bottom: 20px;
}

/* line 307, ../../../app/assets/stylesheets/styles.scss */
footer.big, footer.small {
  clear: both;
  border-top: 1px solid #42515a;
  background: #414f57;
  position: relative;
  background-image: -moz-linear-gradient(top, #42515a, #39464d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #42515a), color-stop(1, #39464d));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#42515A', EndColorStr='#39464d');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#42515A', EndColorStr='#39464d')";
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4) inset;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4) inset;
}
/* line 321, ../../../app/assets/stylesheets/styles.scss */
footer.big nav.footer, footer.small nav.footer {
  min-height: 185px;
  margin: 0px auto;
  width: 960px;
  padding: 20px 0px 0px 0px;
  margin-bottom: 20px;
  overflow: hidden;
  text-shadow: 1px 1px 1px #000;
}
/* line 328, ../../../app/assets/stylesheets/styles.scss */
footer.big nav.footer a, footer.small nav.footer a {
  font-family: Titillium-Medium;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  color: white;
  text-decoration: none;
}
/* line 335, ../../../app/assets/stylesheets/styles.scss */
footer.big nav.footer a:hover, footer.small nav.footer a:hover {
  color: #fff;
}

/* line 341, ../../../app/assets/stylesheets/styles.scss */
footer.big {
  margin-top: -261px;
  height: 260px;
}

/* line 346, ../../../app/assets/stylesheets/styles.scss */
footer.small {
  margin-top: -51px;
  /* negative value of footer height */
  height: 40px;
  padding-top: 10px;
}

/* line 352, ../../../app/assets/stylesheets/styles.scss */
footer .copyright {
  margin: 0px auto;
  width: 960px;
  overflow: hidden;
  font-family: Titillium-Medium;
  font-size: 13px;
  color: #cfd6d0;
  text-shadow: 1px 1px 1px #000;
}
/* line 359, ../../../app/assets/stylesheets/styles.scss */
footer .copyright a {
  font-size: 12px;
  color: #cfd6d0;
  text-shadow: 1px 1px 1px #000;
  text-decoration: none;
}
/* line 365, ../../../app/assets/stylesheets/styles.scss */
footer .copyright a:hover {
  color: #fff;
}
/* line 368, ../../../app/assets/stylesheets/styles.scss */
footer .copyright .ginetta {
  text-align: right;
  float: left;
  width: 780px;
  margin: 0px 10px;
}
/* line 374, ../../../app/assets/stylesheets/styles.scss */
footer .copyright .flockstreet {
  text-align: right;
  margin-right: 10px;
}

/* line 382, ../../../app/assets/stylesheets/styles.scss */
section.twitterwall h3, section.twitterwall h4 {
  padding-left: 20px;
}
/* line 383, ../../../app/assets/stylesheets/styles.scss */
section.twitterwall footer a.follow, section.twitterwall footer a.follow:visited {
  font-family: Titillium-Medium;
  font-size: 19px;
  text-shadow: 0px 0px 0px;
  margin-left: 20px;
  border-bottom: 1px solid #e78b2c;
}
/* line 391, ../../../app/assets/stylesheets/styles.scss */
section.twitterwall footer a.follow:hover, section.twitterwall footer a.follow:focus {
  border-bottom: 1px solid #d67a1b;
}
/* line 396, ../../../app/assets/stylesheets/styles.scss */
section.twitterwall #twitter .preLoader {
  margin-left: 22px;
}
/* line 399, ../../../app/assets/stylesheets/styles.scss */
section.twitterwall #twitter #twitter_update_list {
  margin: 0px 0px 10px 10px;
  list-style: none;
  padding: 0px;
  font-size: 14px;
  font-family: Titillium-Medium;
  color: #414f57;
}
/* line 406, ../../../app/assets/stylesheets/styles.scss */
section.twitterwall #twitter #twitter_update_list a {
  color: #7b8c96;
  text-decoration: none;
}
/* line 410, ../../../app/assets/stylesheets/styles.scss */
section.twitterwall #twitter #twitter_update_list article {
  margin-bottom: 10px;
}
/* line 412, ../../../app/assets/stylesheets/styles.scss */
section.twitterwall #twitter #twitter_update_list article .status {
  background: #eef6eb;
  padding: 10px;
}
/* line 415, ../../../app/assets/stylesheets/styles.scss */
section.twitterwall #twitter #twitter_update_list article .status a, section.twitterwall #twitter #twitter_update_list article .status a:hover {
  color: #414f57;
  font-family: Titillium-XBold;
  text-decoration: underline;
}
/* line 420, ../../../app/assets/stylesheets/styles.scss */
section.twitterwall #twitter #twitter_update_list article .status a:hover {
  color: #42515a;
}
/* line 424, ../../../app/assets/stylesheets/styles.scss */
section.twitterwall #twitter #twitter_update_list article .bubble {
  height: 10px;
  background: url(/images/twitter_bubble.png) no-repeat 0% 100%;
}

/* line 435, ../../../app/assets/stylesheets/styles.scss */
.green_box {
  width: 620px;
  margin: 0 10px;
  float: left;
  overflow: hidden;
  background: #f5fdf2;
  padding: 10px;
  margin-bottom: 4px;
}

/* line 443, ../../../app/assets/stylesheets/styles.scss */
.green_box.visible {
  overflow: visible;
}

/* line 447, ../../../app/assets/stylesheets/styles.scss */
.green_box.last {
  margin-bottom: 20px;
}

/* line 452, ../../../app/assets/stylesheets/styles.scss */
#plans {
  clear: both;
  min-height: 400px;
  padding-bottom: 20px;
}

/* line 458, ../../../app/assets/stylesheets/styles.scss */
.plan {
  font-family: Titillium-Medium;
  font-size: 15px;
  color: #354048;
  float: left;
  margin: 0px 10px;
  width: 300px;
}
/* line 463, ../../../app/assets/stylesheets/styles.scss */
.plan h1 {
  font-family: Titillium-XBold;
  line-height: 50px;
  margin-bottom: 10px;
}
/* line 469, ../../../app/assets/stylesheets/styles.scss */
.plan h2 {
  font-family: Titillium-Light;
  line-height: 20px;
}
/* line 473, ../../../app/assets/stylesheets/styles.scss */
.plan .box {
  background: #f5fdf3;
  padding: 5px 18px 15px;
  margin-bottom: 4px;
}
/* line 477, ../../../app/assets/stylesheets/styles.scss */
.plan .box ul {
  list-style: none;
  padding: 0px 0px 20px;
  margin-bottom: 25px;
  line-height: 30px;
}
/* line 482, ../../../app/assets/stylesheets/styles.scss */
.plan .box ul li {
  margin-top: 5px;
}
/* line 484, ../../../app/assets/stylesheets/styles.scss */
.plan .box ul li span {
  color: #80b8b3;
}
/* line 490, ../../../app/assets/stylesheets/styles.scss */
.plan .box.distinguish {
  background: #e4f0e0;
}

/* line 495, ../../../app/assets/stylesheets/styles.scss */
.plan_content {
  min-height: 250px;
}

/* line 499, ../../../app/assets/stylesheets/styles.scss */
.new_price_suggestion {
  display: none;
}
/* line 501, ../../../app/assets/stylesheets/styles.scss */
.new_price_suggestion input[type="text"] {
  font-size: 1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -border-radius: 2px;
  width: 100px;
}

/* line 512, ../../../app/assets/stylesheets/styles.scss */
.tag {
  float: left;
  -moz-box-shadow: 1px 1px 2px #333;
  -webkit-box-shadow: 1px 1px 2px #333;
  box-shadow: 1px 1px 2px #333;
  background-color: #43515A;
  background-image: -moz-linear-gradient(top, #43515a, #3a464d);
  /* FF3.6 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #43515a), color-stop(1, #3a464d));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#43515A', EndColorStr='#3a464d');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#43515A', EndColorStr='#3a464d')";
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 5px;
  padding: 2px 10px;
}
/* line 528, ../../../app/assets/stylesheets/styles.scss */
.tag .tagname {
  padding: 0 5px;
  color: #fff;
  font-family: Titillium-Light;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  float: left;
}
/* line 536, ../../../app/assets/stylesheets/styles.scss */
.tag .tagdestroy {
  padding: 0 0 0 5px;
  float: left;
  border-left: 1px solid #414f57;
  background: rgba(255, 255, 255, 0);
}
/* line 541, ../../../app/assets/stylesheets/styles.scss */
.tag .tagdestroy input[type="submit"] {
  background: #7fb6b1;
  background: rgba(255, 255, 255, 0);
  font-family: Titillium-Light;
  color: #fff;
  border: none;
  font-size: 1em;
  padding: 3px 0px;
  margin: 0;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  position: relative;
  cursor: pointer;
}
/* line 557, ../../../app/assets/stylesheets/styles.scss */
.tag .tagdestroy a {
  font-family: Titillium-Medium;
  color: #414f57;
}

/* line 564, ../../../app/assets/stylesheets/styles.scss */
.simple_form label {
  margin: 0px 10px;
  width: 300px;
  float: left;
  text-align: left;
  font-size: 20px;
  margin: 2px 0px;
}

/* line 573, ../../../app/assets/stylesheets/styles.scss */
input[type="text"], input[type="password"], input[type="email"], textarea {
  width: 280px;
  padding: 7px 8px;
  font-size: 1.2em;
  color: #666;
  border: 1px solid #b1b9be;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -border-radius: 5px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 12%, from(#eeeeee), to(white));
  background-image: -moz-linear-gradient(0% 12% 90deg, white, #eeeeee);
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 592, ../../../app/assets/stylesheets/styles.scss */
textarea {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 1%, from(#eeeeee), to(white));
  background-image: -moz-linear-gradient(0% 1% 90deg, white, #eeeeee);
  height: 100px;
}

/* line 598, ../../../app/assets/stylesheets/styles.scss */
select {
  float: left;
  clear: both;
}

/* line 602, ../../../app/assets/stylesheets/styles.scss */
input[type="text"].search {
  margin-right: -5px;
  width: 220px;
  padding: 3px 4px;
  font-size: 15px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -o-border-radius: 4px 0px 0px 4px;
  -border-radius: 4px 0px 0px 4px;
}

/* line 613, ../../../app/assets/stylesheets/styles.scss */
input[type="text"].near, input[type="password"].near, input[type="email"].near {
  width: 200px;
  -webkit-border-radius: 5px 1px 1px 5px;
  -moz-border-radius: 5px 1px 1px 5px;
  -o-border-radius: 5px 1px 1px 5px;
  -border-radius: 5px 1px 1px 5px;
}

/* line 622, ../../../app/assets/stylesheets/styles.scss */
input[type="checkbox"]:focus, input[type="password"]:focus,
input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  border: 1px solid #e78b2c;
  outline: none;
}

/* line 627, ../../../app/assets/stylesheets/styles.scss */
input[type="checkbox"] {
  margin: 0 0 15px 0;
  font-size: 1.2em;
  width: 25px;
}

/* line 633, ../../../app/assets/stylesheets/styles.scss */
.simple_form label, .simple_form span {
  font-family: Titillium-Medium;
  display: block;
  font-size: 16px;
  color: #414f57;
}

/* line 640, ../../../app/assets/stylesheets/styles.scss */
.hint {
  background: url(/images/info_button.png) no-repeat 0% 80%;
  padding-left: 25px;
  padding-top: 10px;
  display: none;
  margin-left: 650px;
  color: #414f57;
  font-family: Titillium-Medium;
  width: 250px;
}

/* line 651, ../../../app/assets/stylesheets/styles.scss */
.forgot {
  margin-left: 300px;
  font-family: Titillium-Medium;
}

/* line 657, ../../../app/assets/stylesheets/styles.scss */
.field_with_errors input {
  border-color: #d47b17;
  margin-bottom: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
  -border-radius: 5px 5px 0px 0px;
}

/* line 666, ../../../app/assets/stylesheets/styles.scss */
.errorExplanation {
  font-family: Titilium-Medium;
  color: #fff;
  float: left;
  width: 618px;
  margin: 0px 10px;
  padding: 10px;
  margin-bottom: 4px;
  background: #ea8c1c;
  border: 1px solid #d47b17;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -border-radius: 5px;
}
/* line 667, ../../../app/assets/stylesheets/styles.scss */
.errorExplanation h2, .errorExplanation h3 {
  color: #fff;
}
/* line 682, ../../../app/assets/stylesheets/styles.scss */
.errorExplanation .title {
  float: left;
  width: 300px;
}
/* line 685, ../../../app/assets/stylesheets/styles.scss */
.errorExplanation .title h2 {
  font-family: Titillium-XBold;
  line-height: 1.2;
}
/* line 690, ../../../app/assets/stylesheets/styles.scss */
.errorExplanation .content {
  float: left;
}
/* line 692, ../../../app/assets/stylesheets/styles.scss */
.errorExplanation .content h3 {
  font-family: Titillium-XBold;
  font-size: 20px;
}
/* line 696, ../../../app/assets/stylesheets/styles.scss */
.errorExplanation .content ul {
  font-family: Titillium-Light;
  letter-spacing: 0.03em;
  line-height: 1;
  width: 290px;
}

/* line 705, ../../../app/assets/stylesheets/styles.scss */
.simple_form span.error {
  font-family: Titillium-Medium;
  color: #fff;
  background: #ea8c1c;
  clear: left;
  margin-left: 300px;
  padding: 2px 10px;
  width: 276px;
  font-size: 14px;
  border: 1px solid #d47b17;
  border-top: none;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  -border-radius: 0px 0px 5px 5px;
}

/* line 725, ../../../app/assets/stylesheets/styles.scss */
.simple_form input {
  float: left;
}

/* line 729, ../../../app/assets/stylesheets/styles.scss */
.simple_form input.long, textarea.long {
  width: 745px;
}

/* line 733, ../../../app/assets/stylesheets/styles.scss */
.simple_form .green_button, a.form_button {
  margin-top: 10px;
  margin-left: 320px;
}

/* line 738, ../../../app/assets/stylesheets/styles.scss */
.simple_form fieldset {
  margin-bottom: 15px;
}

/* line 742, ../../../app/assets/stylesheets/styles.scss */
.simple_form div.boolean {
  margin-left: 180px;
}

/* line 746, ../../../app/assets/stylesheets/styles.scss */
.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

/* line 751, ../../../app/assets/stylesheets/styles.scss */
.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}
