<!DOCTYPE html>
%html
  %head
    %meta{:charset=>"UTF-8"}
  %body
    %h2 Herzlich willkommen bei flockstreet
    %p 
      Sie haben die Firma
      %strong= @company.name
      erfolgreich registriert.
    %p= "Ihr Benutzername ist: #{@user.email}"

    %p
      Wir werden Sie informieren, sobald die kostenlose Beta-Phase startet.
      %br/
      Bei Fragen stehen wir Ihnen gerne zur Verfügung.

    %p
      Liebe Grüsse,
      %br/
      Ihr flockstreet-Team