input[type="text"], input[type="password"], input[type="email"] {
  width: 280px;
  padding: 7px 8px;
  font-size: 1.2em;
  color: #666;
  border: 1px solid #b1b9be;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -border-radius: 5px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear,0% 0%, 0% 12%, from(#EEE), to(#fff));
  background-image: -moz-linear-gradient(0% 12% 90deg, #FFF, #EEE);
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

input[type="text"].near, input[type="password"].near, input[type="email"].near {
  width: 200px;
  -webkit-border-radius: 5px 1px 1px 5px;
  -moz-border-radius: 5px 1px 1px 5px;
  -o-border-radius: 5px 1px 1px 5px;
  -border-radius: 5px 1px 1px 5px;
}

input[type="checkbox"]:focus, input[type="password"]:focus,
input[type="text"]:focus, input[type="email"]:focus {
  border: 1px solid $orange;
  outline: none;
}

input[type="checkbox"] {
  margin: 0 0 15px 0;
  font-size: 1.2em;
  width: 25px;
}

.simple_form label, .simple_form span {
  font-family: Titillium;
  display: block;
  font-size: 16px;
  color: $grey;
}

//.simple_form input[type='submit'] {
//  margin-top: 30px;
//  margin-left: 300px;
//}

.hint {
  background: url(/images/info_button.png) no-repeat 0% 60%;
  padding-left: 25px;
  padding-top: 8px;
  display: none;
  margin-left: 650px;
  color: $grey;
  font-family: Titillium;
  width: 250px;
}

.forgot {
  margin-left: 290px;
}

// ERRORS

.field_with_errors input {
  border-color: #d47b17;
  -webkit-border-radius: 5px 5px 1px 1px;
  -moz-border-radius: 5px 5px 1px 1px;
  -o-border-radius: 5px 5px 1px 1px;
  -border-radius: 5px 5px 1px 1px;
}

.errorExplanation {
  h2, h3 { color: #fff; }
  font-family: Titilium;
  color: #fff;
  float: left;
  width: 628px;
  padding: 10px;
  margin-bottom: 4px;
  background: $dark_orange;
  border: 1px solid #d47b17;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -border-radius: 5px;
  .title {
    float: left;
    width: 280px;
  }
  .content {
    h3 {
      font-size: 20px;
    }
    float: left;
    ul {
      line-height: 1;
    }
  }
}

.simple_form span.error {
  font-family: Titillium;
  font-weight: 500;
  color: #fff;
  background: $dark_orange;
  clear: left;
  margin-left: 290px;
  padding: 2px 10px;
  width: 276px;
  font-size: 14px;
  display: block;
  border: 1px solid #d47b17;
  -webkit-border-radius: 1px 1px 5px 5px;
  -moz-border-radius: 1px 1px 5px 5px;
  -o-border-radius: 1px 1px 5px 5px;
  -border-radius: 1px 1px 5px 5px;
}


// SIMPLE_FORM stuff (from railscasts.com)
.simple_form input {
  float: left;
}

.simple_form label {
  float: left;
  width: 290px;
//  font-weight: bold;
  text-align: left;
  font-size: 20px;
  margin: 2px 0px;
}

.simple_form .register_button {
  margin-top: 10px;
  margin-left: 300px;
}

.simple_form fieldset {
  margin-bottom: 15px;
}

.simple_form div.boolean {
  margin-left: 180px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}