input[type="text"], input[type="password"], input[type="email"] {
  width: 280px;
  padding: 7px 8px;
  font-size: 1.2em;
  color: #666;
  border: 1px solid #b1b9be;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -border-radius: 5px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear,0% 0%, 0% 12%, from(#EEE), to(#fff));
  background-image: -moz-linear-gradient(0% 12% 90deg, #FFF, #EEE);
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

input[type="text"].near, input[type="password"].near, input[type="email"].near {
  width: 240px;
  -webkit-border-radius: 5px 1px 1px 5px;
  -moz-border-radius: 5px 1px 1px 5px;
  -o-border-radius: 5px 1px 1px 5px;
  -border-radius: 5px 1px 1px 5px;
}


input[type="checkbox"]:focus, input[type="password"]:focus,
input[type="text"]:focus, input[type="email"]:focus {
  border: 1px solid $orange;
  outline: none;
}

input[type="checkbox"] {
  margin: 0 0 15px 0;
  font-size: 1.2em;
  width: 25px;
}

.simple_form label, .simple_form span {
  font-family: Titillium;
  display: block;
  font-size: 16px;
  color: $grey;
}
.uppercase {
  text-transform: uppercase;
}

.simple_form input[type='submit'] {
  margin-top: 30px;
  margin-left: 300px;
}

.hint {
  background: url(/images/info_button.png) no-repeat 0% 60%;
  padding-left: 25px;
  padding-top: 8px;
  display: none;
  margin-left: 650px;
  color: $grey;
  font-family: Titillium;
  width: 250px;
}

.forgot {
  margin-left: 290px;
}

// SIMPLE_FORM stuff (from railscasts.com)
.simple_form input {
  float: left;
}
.simple_form label {
  float: left;
  width: 290px;
//  font-weight: bold;
  text-align: left;
  font-size: 20px;
  margin: 2px 0px;
}

.simple_form fieldset {
  margin-bottom: 10px;
}

.simple_form div.boolean {
  margin-left: 180px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}