* {margin:0;padding:0;} 

section, header, footer, aside, nav, article{
  display: block;
}

html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
}

#wrapper #meta  {  
  .content {
    @include container();
    position: relative;
    overflow: visible;
    padding: 5px 0px;
    
    aside {  // Actionbox
      @include column(6);
      position: relative;
      overflow: visible;
      
      #actionsearch {
        float: left;
        padding: 5px 15px 0px 0px;
      }
    }
  }
}

#wrapper header {  
  @include showgrid();
  height: 100px;
  padding-top: 5px;
  clear: both;  
  background: $light_green;  
  border-bottom: 1px solid #D0D6D0;  

  background-image: -moz-linear-gradient(top, #E4F0E0, #E0ebdc); 
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E4F0E0),color-stop(1, #E0ebdc)); 
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#E4F0E0', EndColorStr='#E0ebdc'); 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#E4F0E0', EndColorStr='#E0ebdc')"; 

     -moz-box-shadow: 0px 0px 8px #D0D6D0;
  -webkit-box-shadow: 0px 0px 8px #D0D6D0;
          box-shadow: 0px 0px 8px #D0D6D0;

  .content {
    padding: 20px 0px;
    @include container();
    overflow: visible;
    .logo {
      @include column(4);
    }
    .meta {
      position: relative;
      overflow: visible;
      padding: 20px 0px;
      float: left;
      aside {  // Actionbox
        @include column(6);
        position: relative;
        overflow: visible;

        #actionsearch {
          float: left;
          padding: 5px 15px 0px 0px;
        }
      }
      .search {
        @include column(6);
        text-align: right;
      }
      .language {
        text-align: right;
        word-spacing: 5px;
        @include column(1);
      }
      nav.user { // Top Right User Navigation
        text-align: right;
        @include column(1);
        @include last;
      }
    }
  }
}
#links {
  h1 {
    color: green;
  }
  .tagline.last {
    margin-right: 0px;
  }
}
#site_title {
  margin-top: 60px;
  padding-bottom: 20px;
  h1 {
    line-height: 1.05;
  }
}
#container {
  @include container();
  padding: 40px 0px 0px 0px;
  overflow: auto;
  .tagline {
    @include column(4);
  }
  .tagline_wide {
    @include column(8);
  }
  #actionbutton {
    padding: 25px 0px;
    text-align: right;
    @include last;
  }
  #content {
    @include column(11);
    @include last;
    padding: 5px 0px;
  }
}
#container.small_footer {
  padding-bottom: 80px; // sticky footer + spacing between content and footer
}

.explanation {  
  padding: 20px 0px;
  @include column(12);    
  .paragraph {
    @include column(6);    
  }
  .picture {
    width: 450px;
    height: 254px;
    text-align: right;
    @include column(6);
    @include last;
  }
}

#content_two {
  clear: both;
  padding-bottom: 30px;
  @include container();
}

#footer.big, #footer.small { // website footer link box
  clear: both;
  border-top: 1px solid #6f7b80;
  background: $grey;  
  position: relative;
  background-image: -moz-linear-gradient(top, #43515A, #3a464d); 
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #43515A),color-stop(1, #3a464d)); 
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#43515A', EndColorStr='#3a464d'); 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#43515A', EndColorStr='#3a464d')"; 
     
  nav.footer {
    padding: 20px 0px 0px 0px;
    @include container();
  }
  .ginetta {
      text-align: right;
      @include column(10);
    }
}

#footer.big {
  padding-bottom: 20px;
}
#footer.small {
  margin-top: -51px; /* negative value of footer height */
  height: 40px;
  padding-top: 10px; // puts text in the vertical middle
    .ginetta {
      text-align: right;
      @include column(6);
    }
  
}

footer.copyright {
  @include container();
  .flockstreet {
    text-align: right;
    @include last;
  }
}

nav.main {
  height: 40px;
  @include column(12);
  border-bottom: 2px solid black;
  
  #dashboard {
    @include column(2);
    a {
      font-size: 1.5em;
      color: black;
    }
  }

  #maintopics {
    @include column(5);
  }

  #mainaction {
    text-align: right;
    @include column(4);
    @include last;
  }
}

nav.sidebar {
  @include column(2);
  font-size: 1.2em;
}
.filter {
  height: 40px;
  padding: 5px 0px;
}


#rightcontent {
  @include column(4);
  @include last;
}
#leftcontent {
  @include column(5);
}
.byline {
  padding: 30px 0px;
  width: 630px;
}
.toplinks {
  @include column(12);
  margin: 0 0 20px 0;
}
.leftmiddle, .middleright {
  @include column(8);
}

.left, .middle, .right {
  @include column(4);
}

.first, .second, .third, .fourth {
  @include column(3);
}

.fourth, .right, .middleright {
  @include last;
}

.last {
  @include last;
}