* { margin: 0; }

section, header, footer, aside, nav, article{
  display: block;
}

html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}

#wrapper #meta  {  
  .content {
    @include container();
    position: relative;
    overflow: visible;
    padding: 5px 0px;
    
    aside {  // Actionbox
      @include column(6);
      position: relative;
      overflow: visible;
      
      #actionsearch {
        float: left;
        padding: 5px 15px 0px 0px;
      }
    }
  }
}

#wrapper header {  
  height: 100px;
  padding-top: 5px;
  clear: both;  
  background: $light_green;  
  border-bottom: 1px solid #D0D6D0;  

  background-image: -moz-linear-gradient(top, #E4F0E0, #E0ebdc); 
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E4F0E0),color-stop(1, #E0ebdc)); 
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#E4F0E0', EndColorStr='#E0ebdc'); 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#E4F0E0', EndColorStr='#E0ebdc')"; 

     -moz-box-shadow: 0px 0px 8px #D0D6D0;
  -webkit-box-shadow: 0px 0px 8px #D0D6D0;
          box-shadow: 0px 0px 8px #D0D6D0;

  
  .content {
    padding: 20px 0px;
    @include container();
    overflow: visible;
    .logo {
      @include column(4);
    }
    .meta {
      position: relative;
      overflow: visible;
      padding: 20px 0px;

      aside {  // Actionbox
        @include column(6);
        position: relative;
        overflow: visible;

        #actionsearch {
          float: left;
          padding: 5px 15px 0px 0px;
        }
      }
      .search {
        @include push(4);
        @include column(4);
      }
      .language {
        text-align: right;
        word-spacing: 5px;
        @include column(1);
      }
      nav.user { // Top Right User Navigation
        text-align: right;
        @include last;
      }
    }
  }
}

#container {
  @include container();
  padding: 40px 0px 0px 0px;
  overflow: visible;
  #dashboard {}

  .tagline {
    @include column(4);
  }
  #actionbutton {
    padding: 25px 0px;
    text-align: right;
    @include last;
  }
  #content {
    @include column(11);
    @include last;
    padding: 5px 0px;
  }
}

#content_two-container {
  clear: both;
  border-bottom: 1px solid #68747a;
  padding-bottom: 30px;
  
}
#content_two {
  padding: 0px 0px;
  
  @include container();
}

#push_footer, #copyright {
  height: 3em;
  clear: both;
}

#footer { // website footer link box
  clear: both;
  border-top: 1px solid #6f7b80;
  background: $dark_grey;  

  background-image: -moz-linear-gradient(top, #43515A, #3a464d); 
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #43515A),color-stop(1, #3a464d)); 
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#43515A', EndColorStr='#3a464d'); 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#43515A', EndColorStr='#3a464d')"; 
     
  nav.footer {
    padding: 20px 0px 0px 0px;
    @include container();
  }
  
}

#copyright, #footer {
  footer.copyright {
    @include container();
    .ginetta {
      @include push(17);
      @include column(2);
    }
    .flockstreet {
      text-align: right;
      @include last;
    }
  }
}

nav.main {
  height: 40px;
  @include column(12);
  border-bottom: 2px solid black;
  
  #dashboard {
    @include column(2);
    a {
      font-size: 1.5em;
      color: black;
    }
  }

  #maintopics {
    @include column(5);
  }

  #mainaction {
    text-align: right;
    @include column(4);
    @include last;
  }
}

nav.sidebar {
  @include column(2);
  font-size: 1.2em;
}
.filter {
  height: 40px;
  padding: 5px 0px;
}


#rightcontent {
  @include column(4);
  @include last;
}
#leftcontent {
  @include column(5);
}

.leftmiddle {
  @include column(8);
  .byline {
    padding: 30px 0px;
  }
}

.left, .middle, .right {
  @include column(4);
}

.first, .second, .third, .fourth {
  @include column(3);
}

.fourth, .right {
  @include last;
}

.box {
  padding: 10px;
  margin: 10px;
  @include bordered;
  @include rounded(10px);
}