#wrapper {
}

#header-meta-container {
  background: $dark_green;  
  float: left;
  width: 100%;
}
#header-meta {
  @include container();
  position: relative;
  overflow: visible;
  padding: 5px;
}

#header-meta-user {
  text-align: right;
  @include last;
}

#header-content-container {
  background: $light_green;  
  clear: both;
  border-bottom: 1px solid $dark_green;
}

#header-content {
//  @include showgrid; 
  padding: 20px;
  @include container();
}
#header-content-logo {
  @include column(8);
}
#header-content-tagline1 {
  text-align: center;
  @include column(8);
}
#header-content-tagline2 {
  text-align: center;
  @include column(8);
  @include last;
}

#content_one {
  @include container();
  padding: 10px;
}

#content_two-container {
  background: $light_green;  
  clear: both;
  border-bottom: 1px solid $dark_green;
  border-top: 1px solid $dark_green;
}
#content_two {
  padding: 20px;
  @include container();
}

#footer-navi-container {
  background: $dark_grey;  
  clear: both;
}
#footer-navi {
  padding: 10px;
  @include container();
}

#footer-copy-container {
  background: $dark_green;  
  clear: both;
}

#footer-copy {
  padding: 8px;
  @include container();
  text-align: right;
}

#logo {
  @include column(3);
}

#topsearch {
  margin-top: 20px;
  @include column(12);
}
#usernav {
  @include column(9);
  @include last;
  text-align: right;
}

.leftmiddle {
  @include column(16);
}

.left, .middle, .right {
  @include column(8);
}

.first, .second, .third, .fourth {
  @include column(6);
}
.fourth, .right {
  @include last;
}

.box {
  padding: 10px;
  margin: 10px;
  @include bordered;
  @include rounded(10px);
}