* { margin: 0; }

html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

#push_footer, #footer-copy-container {
  height: 4em;
  clear: both;
}

#header-meta-container {
  background: $dark_green;  
  background-image: -moz-linear-gradient(top, $dark_green, $dark_green + #0F0F0F); /* FF3.6 */
  float: left;
  width: 100%;
}
#header-meta {
  @include container();
  position: relative;
  overflow: visible;
  padding: 5px;
}

#header-meta-logo {
  @include column(6);
}

#header-meta-actionbox { 
  @include column(12);
  position: relative;
  overflow: visible;
}

#actionsearch {
  float: left;
  padding: 5px 15px 0px 0px;
}

#header-meta-user {
  text-align: right;
  @include last;
}

#header-content-container {
  background: $light_green;  
  background-image: -moz-linear-gradient(top, $light_green, $light_green + #080808); /* FF3.6 */
  clear: both;
  border-bottom: 1px solid $dark_green;
}

#header-content {
  padding: 20px;
  @include container();
}
#header-content-logo {
  @include column(8);
}
#header-content-tagline1 {
  text-align: center;
  @include column(8);
}
#header-content-tagline2 {
  text-align: center;
  @include column(8);
  @include last;
}

#content_one {
  @include container();
  padding: 10px;
}

#content_two-container {
  background: $light_green;  
  clear: both;
  border-bottom: 1px solid $dark_green;
  border-top: 1px solid $dark_green;
}
#content_two {
  padding: 20px;
  @include container();
}

#footer-navi-container {
  background: $dark_grey;  
  clear: both;
}
#footer-navi {
  padding: 10px;
  @include container();
}

#footer-copy-container {
  background: $dark_green;  
  clear: both;
}

#footer-copy {
  padding: 8px;
  @include container();
  text-align: right;
}

#logo {
  @include column(3);
}


.leftmiddle {
  @include column(16);
}

.left, .middle, .right {
  @include column(8);
}

.first, .second, .third, .fourth {
  @include column(6);
}

.fourth, .right {
  @include last;
}

.box {
  padding: 10px;
  margin: 10px;
  @include bordered;
  @include rounded(10px);
}