nav.user {
  a.login img{
    margin: 1px 0px;
  }  

  #login_menu {
    .handler {
      padding: 12px 12px;
      clear: both;
      text-align: right;
    }
    .input_form {
      text-align: left;
      padding: 0 10px;
      fieldset {
        margin: 0 0 10px 0;
        input[type="text"], input[type="password"], input[type="email"] {
          width: 210px;
        }
      }
      .button_form { 
        text-align: right; 
      }
      fieldset:last-child {
//        margin: 0;
      }
      legend {
        font-family: Titillium;
        display: block;
        font-size: 15px;
        color: $dark_grey;
      }
    }
       -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
            border-radius: 2px; 
      display:none;
      background-color: white;
      position:absolute;
      top: 2px; 
      right: -13px; 
      width: 250px;
      height: 215px;
      z-index:100;
      border:1px solid #b1b9be;
      text-align:left;
      padding:0px;
      margin-top:5px;
      margin-right: 0px;
      *margin-right: -1px;
      font-size:11px;
      
      -webkit-box-shadow: 0px 0px 1px #000; 
         -moz-box-shadow: 0px 0px 1px #000; 
              box-shadow: 0px 0px 1px #000; 

  }

}