// signin menu stuff
//http://aext.net/2009/08/perfect-sign-in-dropdown-box-likes-twitter-with-jquery/

#small_signup {
    display:inline;
    float:none;
    line-height:23px;
    margin:25px 0 0;
    width:170px;
}

// MESSAGE MENU
#message_menu {
    right: 10px; 
    z-index: 2;
}
#contact_menu{
  right: -30px;
  z-index: 3;
}

#lead_menu {
  right: -60px;
  z-index:1;
}

#settings-menu {
 right: 60px; 
 top: 25px;
 width: 120px;
 text-align: right;
 -moz-border-radius:2px;
 -webkit-border-radius:2px;
 display:none;
 position:absolute;
 border: 1px solid black;
 margin-right: 0px;
 *margin-right: -1px;
 font-size:11px;  
}

// GLOBAL
.dropdownmenu {
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  display:none;
  background-color:white;
  position:absolute;
  width:210px;
  border:2px solid black;
  text-align:left;
//  padding:12px;
  top: 40px; 
//  margin-top:5px;
  margin-right: 0px;
  *margin-right: -1px;
  font-size:11px;  
}