#actionsearch
  = form_tag companies_path do |f|
    = text_field_tag :search, params[:search] = "Suche nach Firma oder Tag", :size => 35, :class => "clearme"
    = submit_tag "suchen", :class => "search_button"
#actionbuttons
  =link_to image_tag("message.png", :border=>0), messages_path(), :class => "message dropdown"  
  =link_to image_tag("contact.png", :border=>0), company_associates_path(current_company), :class => "contact dropdown"
  =link_to image_tag("lead.png", :border=>0), leads_path(), :class => "lead dropdown"
  
  #message_menu.dropdownmenu
    MESSAGE ACTION BOX
    %p and some message text
  
  #contact_menu.dropdownmenu
      CONTACT ACTION BOX
    %p and some contact text

  #lead_menu.dropdownmenu
    LEAD ACTION BOX
    %p and some lead text
  