%tr
  %td.checkbox= check_box_tag ",message_copy_ids[]", message_copy.id, false, :class => "select"
  %td.from= message_copy.author.name
  %td.subject=link_to truncate(message_copy.subject, :length => 50), message_copy.message
  %td.date= message_copy.created_at.strftime('%d.%m.%Y')
