- title "Leads"
%p Ein Lead ist ein Hinweis auf einen Auftrag. Wenn ich ein Firmenprofil in flockstreet erfasst habe, bekomme ich diese per Mail (sogar mit dem Gratisabo). Ich kann dann in flockstreet den Auftrag lesen und entscheiden, ob ich er mich interessiert oder nicht. Sobald ich ihn annehme, bekomme ich die Adressdetails vom Kunden und bei meinem Konto wird ein Lead abgebucht (je nach Abo habe ich 0 bis unendlich viel Lead-Guthaben pro Monat). Ich kann jetzt den Kunden anrufen, oder ihm eine Offerte schicken. Übrigens: wenn ich einen Lead annehmen will, aber kein Guthaben mehr habe kann ich immer mein Abo erhöhen. Leads anschauen / Abotypen anschauen

%p
  =link_to "weiter zu den Benachrichtigungen", tour_notifications_path