- title "Nachrichten"
%p Ich kann einer Firma in flockstreet eine Nachricht senden. Das ist so ähnlich wie Email, aber halt direkter, weil ich die Email-Adresse nicht abschreiben muss. Ist praktisch, um kurz etwas nachzufragen. Ich schreibe auch Firmen an, die ich nicht kenne, wenn ich etwas wissen möchte - die geben immer gerne Auskunft.
%p
  =link_to "weiter zu Netzwerk", tour_network_path