-title "Netzwerk"
%p Als Firma hat man immer mit diversen Kunden und Lieferanten zu tun. Mit flockstreet kann ich diese Firmen in mein Netzwerk aufnehmen. So sehen neue Partner gleich mit wem ich zusammen arbeite. Das fördert das Vertrauen in eine Firma, vorallem wenn sie sogar eine Firma aus meinem Netzwerk kennen. Das Netzwerk wächst übrigens, und dank den Statusmeldungen weiss ich auch immer was bei meinen Partnern so läuft.

%p
  =link_to "Jetzt mitmachen", signup_path