- title "Benachrichtigungen"
%p 
  In flockstreet kann ich sagen über welche Neuigkeit sie mich mit einer Email informieren und wie oft. Zum Beispiel kann ich wählen dass ich eine Email bekomme wenn ich:
  %ul
    %li einen neuen Lead habe
    %li eine neue Nachricht bekommen habe
    %li eine neue Firma in meinem Netzwerk ist
  Oder ich sagen, dass ich keine Emails will, weil ich sowieso regelmässig reinschaue.
  
%p
  =link_to "weiter zu Nachrichten", tour_messages_path