- title "Firmenprofil"
%p 
  Das Firmenprofil enthält wie eine Homepage die wichtigsten Informationen über meine Firma. Ich kann das Profil jederzeit kostenlos selber ändern. Ich kann Informationen über meine Dienstleistungen erfassen, damit sich Kunden informieren können. Bilder (zum Beispiel vom Logo, vom Team oder von der Firma) machen mein Profil speziell. Ganz wichtig ist, dass die 
  =link_to "Tags", tour_tags_path
  richtig erfasst sind. Hier 
  =link_to "gratis Firmenprofil erfassen",register_path
  
%p
  =link_to "weiter zu Aufträge", tour_request_path