-title "Auftrag"
%p In flockstreet kann ich einen Auftrag ausschreiben. Ich schreibe also was ich brauche und flockstreet vergleicht das automatisch mit den Firmen aus dem Netzwerk. Alle die ein passendes Angebot haben bekommen meinen Auftrag. Den können lesen und mir direkt ein Angebot per Post oder Email schicken. Das geht schnell und ich hab weniger zu tun. Hier gratis ersten Auftrag erfassen

%p
  =link_to "weiter zu Tags", tour_tags_path