-title "Tags"
%p Tags sind Schlagwörter die meinen Auftrag oder meine Dienstleistungen beschreiben. Passend zu diesen Tags bekomme ich dann Aufträge oder Offerten. Es ist also extrem wichtig gute Tags zu erfassen, sonst funktioniert es nicht. Die Anzahl dieser Tags ist limitiert - ich muss mir also überlegen welches die wichtigsten sind. Am besten solche, nach denen Kunden suchen würden.

%p
  =link_to "weiter zu Leads", tour_leads_path