@font-face { font-family: Titillium; src: url('/fonts/TitilliumText22L003.otf'); } 
@font-face { font-family: Titillium; font-weight: bold; src: url('/fonts/TitilliumText22L005.otf'); }
@font-face { font-family: Titillium; font-weight: 200; src: url('/fonts/TitilliumText22L001.otf'); }