%tr
  %td.checkbox= check_box_tag "lead_ids[]", lead.id, false, :class => "select"
  %td.title=link_to truncate(lead.request.name, :length => 50), lead
  %td.date= lead.created_at.strftime('%d.%m.%Y')
  %td.tags
    .tag CSS
    .tag HTML