%ul.action
  %li=link_to "Auftrag erfassen", new_request_path(), :class => 'sidebar_button'

%ul  
  %li=link_to "Neu", leads_filter_path(:new), :class => ("active" if @active == 'new')
  %li=link_to "In Bearbeitung", leads_filter_path(:accepted), :class => ("active" if @active == 'accepted')
%ul
  %li=link_to "Gewonnen", leads_filter_path(:won), :class => ("active" if @active == 'won')
  %li=link_to "Verloren", leads_filter_path(:lost), :class => ("active" if @active == 'lost')

%ul
  %li= link_to "zurückgezogen", leads_filter_path(:back), :class => ("active" if @active == 'back')