@import "fancy_buttons.sass";
@import "partials/base";

$green: darken(#57b42c, 8);
$blue: adjust_hue($green, 110);
$red: adjust_hue($green, -100);

a.button, button, .button {
  @include fancy-button-structure(15px);
  @include fancy-button-colors;
  margin: 0 1px;
  vertical-align: middle;
  &.light {
    @include fancy-button-colors(#bbbbbb); }
  &.edit {
    @include fancy-button-colors(lighten($green, 10)); } }
    
a.big_button, .big_button {
  @include fancy-button(#76a6a0, 25px, 3px);
  font-family: Titillium;
  font-weight: 800;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3); 
  font-size: 30px;
  text-align: center;
  padding: 23px 35px;
}
a.big_button:active, .big_button:active {
  font-size: 30px;
  padding: 22px 34px;  
}

a.small_button, .small_button {
  @include fancy-button($dark_grey, 10px, 2px);
  text-size: 12px;
  font-weight: 500;
  text-align: center;
}

a.login_button, .login_button {
  @include fancy-button($orange, 15px, 3px);
  text-align: center;
}

a.green_button, .green_button {
  @include fancy-button(#80b8b3, 15px, 3px);
  font-family: Titillium;
  font-weight: 800;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3); 
  padding: 9px 25px 8px 25px;
}
a.green_button:active, .green_button:active {
  padding: 8px 24px 7px 24px;  
}

.search_button {
  @include fancy-button($dark_grey, 13px, 2px);
  text-align: center;
}
