@import "fancy_buttons.sass";
@import "partials/base";

$green: darken(#57b42c, 8);
$blue: adjust_hue($green, 110);
$red: adjust_hue($green, -100);

a.button, button, .button {
  @include fancy-button-structure(15px);
  @include fancy-button-colors;
  margin: 0 1px;
  vertical-align: middle;
  &.light {
    @include fancy-button-colors(#bbbbbb); }
  &.green {
    @include fancy-button-colors($green); }
  &.blue {
    @include fancy-button-colors($blue); }
  &.red {
    @include fancy-button-colors($red); }
  &.yellow {
    @include fancy-button-colors(darken(desaturate(yellow, 35), 5)); }
  &.edit {
    @include fancy-button-colors(lighten($green, 10)); } }
    
a.big_button, .big_button {
  @include fancy-button($dark_grey, 25px, 5px);
  text-align: center;
}

a.small_button, .small_button {
  @include fancy-button($dark_grey, 10px, 2px);
  text-align: center;
}
