@import "partials/base";

@mixin standard_button($startcolor: #81b9b4, $endcolor: #68948f, $bordercolor: #66928c) {
  font-family: Titillium-XBold;
  font-size: 15px;
  text-align: center;
  padding: 7px 30px;
  border: 1px solid $bordercolor;
  /*css*/
  background-color: $startcolor;
  background-image: -moz-linear-gradient(top, $startcolor, $endcolor); /* FF3.6 */                                      
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $startcolor),color-stop(1, $endcolor)); 
      filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='$startcolor', EndColorStr='$endcolor'); 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$startcolor', EndColorStr='$endcolor')";
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px; 
          border-radius: 3px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.4), 0 1px 1px rgba(255,255,255,.5) inset;
     -moz-box-shadow: 0 0 4px rgba(0,0,0,.4), 0 1px 1px rgba(255,255,255,.5) inset;
          box-shadow: 0 0 4px rgba(0,0,0,.4), 0 1px 1px rgba(255,255,255,.5) inset;
  
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
  color: #fff;  
}

@mixin standard_button_active($startcolor: #81b9b4, $endcolor: #68948f) {
  background-image: -moz-linear-gradient(top, $endcolor, $startcolor); /* FF3.6 */                                      
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $endcolor),color-stop(1,$startcolor)); 
      filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='$endcolor', EndColorStr='$startcolor'); 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$endcolor', EndColorStr='$startcolor')";
  
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

a.green_button, .green_button {
  @include standard_button();
}
a.green_button:active, .green_button:active {
  @include standard_button_active();
}

a.big_button, .big_button {
  @include standard_button();
  font-size: 30px;
  padding: 18px 35px;
}

.call2action {
  float: right;
  margin-top: 20px;
}
    
a.big_button:active, .big_button:active {  
  @include standard_button_active();
}

a.login_button, .login_button {
  @include standard_button(#e68a2c,#c67929, $orange - #222);
  padding: 2px 12px;
}


a.login_button:active, .login_button:active {
  @include standard_button_active(#e68a2c, #c77929);
}

.search_button {
  @include standard_button($grey, $grey - #222, $grey - #222);
}

a.near_button {
  height: 23px;
}

.near_button, .near_button:hover, .near_button:focus {
  @include standard_button(#43515A, #3a464d, $grey);
  margin: 2px 0;
  padding: 8px 20px;
  cursor: pointer;
  -webkit-border-radius: 0px 5px 5px 0px;
     -moz-border-radius: 0px 5px 5px 0px;
          border-radius: 0px 5px 5px 0px;
}
.near_button:active {
  @include standard_button_active(#43515A, #3a464d);
}
