@import "fancy_buttons.sass";
@import "partials/base";

$green: darken(#57b42c, 8);
$blue: adjust_hue($green, 110);
$red: adjust_hue($green, -100);

a.button, button, .button {
  @include fancy-button-structure(15px);
  @include fancy-button-colors;
  margin: 0 1px;
  vertical-align: middle;
  &.light {
    @include fancy-button-colors(#bbbbbb); }
  &.edit {
    @include fancy-button-colors(lighten($green, 10)); } }
    
a.big_button, .big_button {
  @include fancy-button(#76a6a0, 25px, 3px);
  font-family: Titillium;
  font-weight: 800;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3); 
  font-size: 30px;
  text-align: center;
  padding: 23px 35px;
}
a.big_button:active, .big_button:active {
  font-size: 30px;
  padding: 22px 34px;  
}

a.small_button, .small_button {
  @include fancy-button($grey, 10px, 2px);
  text-size: 12px;
  font-weight: 500;
  text-align: center;
}

a.login_button, .login_button {
  @include fancy-button($orange, 15px, 3px);
  text-align: center;
}

a.green_button, .green_button {
  @include fancy-button(#80b8b3, 15px, 3px);
  font-family: Titillium;
  font-weight: 800;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3); 
  padding: 9px 25px 8px 25px;
}
a.green_button:active, .green_button:active {
  padding: 8px 24px 7px 24px;  
}

a.register_button, .register_button {
  @include fancy-button(#80b8b3, 20px, 3px);
  font-family: Titillium;
  font-weight: 800;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3); 
  padding: 13px 25px 8px 25px;
}
a.register_button:active, .register_button:active {
  padding: 12px 24px 7px 24px;  
}


.search_button {
  @include fancy-button($grey, 13px, 2px);
  text-align: center;
}


.near_button, .near_button:active, .near_button:hover, .near_button:focus {
//  background: #222 url(/images/alert-overlay.png) repeat-x;
  font-family: Titillium;
  font-weight: 800;
  color: #fff;
  font-size: 1.2em;
  height: 23px;
  background-image: -moz-linear-gradient(top, #43515A, #3a464d); 
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #43515A),color-stop(1, #3a464d)); 
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#43515A', EndColorStr='#3a464d'); 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#43515A', EndColorStr='#3a464d')"; 
  background: $grey;  
  display: inline-block;
  padding: 7px 20px 7px;
  text-decoration: none;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 1px 5px 5px 1px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
//  text-shadow: 0 -1px 1px #222;
//  border-bottom: 1px solid #222;
  position: relative;
  cursor: pointer;
}
