/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "blueprint";
@import "blueprint/typography";
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "compass/css3/gradient";

@import "partials/base";
@import "partials/layout";
@import "partials/forms";
@import "partials/menu";

@include blueprint-typography;

@include font-face("Titillium", font-files("/fonts/TitilliumText22L002.otf", opentype,"/fonts/TitilliumText22L004.otf", opentype));

@include font-face("Calluna", font-files("/fonts/Calluna-Regular.otf", opentype));

body {
  font-family: Titillium;
}

p {
  font-family: Calluna;
  font-size: 1.2em;
}

a { color: $flk_orange; }
a:visited { color: $flk_orange; }

h2 {
  font-weight: bold;
  a { color: black; }
  a:visited { color: black; }
}

h3 {
  font-weight: bold;
}

.strong { font-weight: bold; }

#usernav {
  text-align: right;
}

#footer-navi {
  color: #fdfdfd;
  ul {
    @include no-bullets;
    padding: 0;
  }
  a {
    color: #fdfdfd;
  }

}
#footer-copy-container {
  height: 30px;
  a {
    color: black;
    @include hover-link;
  }
  a:hover {
    color: $dark_grey;
  }
  
}
// PLANS
#plans {
  @include column(22);
  @include push(2);
  @include last;
}
#plans .normal {
	border: 1px solid #999;
	height: 270px;
	@include rounded(20px);
	@include column(6);  
	text-align: center;
}

#plans ul {
  list-style: none;
}

.normal h3 {
	margin: 0 0 15px 0;
	padding: 0 0 7px 0;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	color: #73a1c7;
}


// FLASH MESSAGES, NOTICE MESSAGES, ERROR IN FORMS
#flash_notice {
  @include boxed($flk_green, $flk_darkgreen);
}

#flash_error {
  @include boxed($flk_magenta, $flk_darkmagenta);
}

#errorExplanation {
  margin: 10px;
  padding: 2px;
  @include boxed($light_grey, red);
}

.field_with_errors input { 
  border-color: red;
}

// Crazy GENC stuff

.box_transition {
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; 
}

input[type="text"], input[type="email"], textarea {
//  background-color: $light_green;
}

input:hover, textarea:hover {
//  background-color: $dark_green;
}
input:focus, textarea:focus {
//  border-color: $dark_green;
  outline: none;
}

// SIMPLE_FORM stuff (from railscasts.com)
.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}