/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "partials/base";
@import "compass/reset";
@import "blueprint";
@import "compass/utilities";
@import "blueprint/typography";
@import "partials/layout";

@include blueprint-typography;

body {
  a {
    @include hover-link;
  }
}
  
#wrapper {
}
#header {
}
#usernav {
  text-align: right;
}


#footer {
  ul {
    @include no-bullets;
    padding: 0;
  }
}

#signin-menu {
  border: 1px solid;
}

#plans {
  @include column(22);
  @include push(2);
  @include last;
}
#plans .normal {
	border: 1px solid #999;
	height: 270px;
	@include rounded(20px);
	@include column(6);  
	text-align: center;
}

#plans ul {
  list-style: none;
}

.normal h3 {
	margin: 0 0 15px 0;
	padding: 0 0 7px 0;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	color: #73a1c7;
}
