/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "blueprint";
@import "blueprint/typography";
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "compass/css3/gradient";

@import "partials/base";
@import "partials/layout";
@import "partials/forms";
@import "partials/menu";

@include blueprint-typography;

@include font-face("Titillium", font-files("/fonts/TitilliumText22L002.otf", opentype,"/fonts/TitilliumText22L004.otf", opentype));

@include font-face("Calluna", font-files("/fonts/Calluna-Regular.otf", opentype));

body {
  font-family: Titillium;
}

p {
  font-family: Calluna;
  font-size: 1.2em;
}

a { color: $flk_orange; }
a:visited { color: $flk_orange; }

h2 {
  font-weight: bold;
  a { color: black; }
  a:visited { color: black; }
}

h3 {
  font-weight: bold;
}

.strong { font-weight: bold; }

nav.footer {
  color: #fdfdfd;
  ul {
    @include no-bullets;
    padding: 0;
  }
  a {
    color: #fdfdfd;
  }

}
footer.copyright {
  a {
    color: black;
    @include hover-link;
  }
  a:hover {
    color: $dark_grey;
  }
  
}
// PLANS
#plans {
  @include column(22);
  @include push(2);
  @include last;
}
#plans .normal {
	border: 1px solid #999;
	height: 270px;
	@include rounded(20px);
	@include column(6);  
	text-align: center;
}

#plans ul {
  list-style: none;
}

.normal h3 {
	margin: 0 0 15px 0;
	padding: 0 0 7px 0;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	color: #73a1c7;
}
// NAVIGATION
#maintopics {
  a {
    font-size: 1.5em;
    color: black;
  }
  span {
    margin: 0px 10px;
  }
}

// SIDEBAR
#active {
  height: 40px;
  width: 190px;
  z-index: -1;
  opacity: .5;
      filter: alpha(opacity=50);
      -moz-opacity: .5;
  background: $dark_green;
  position: absolute;
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; 
  
}
#active.menu_create { top: 200px; }
#active.menu_open, #active.menu_new, #active.menu_in { top: 250px; }
#active.menu_assigned, #active.menu_accepted, #active.menu_out { top: 300px; }
#active.menu_archived, #active.menu_won { top: 350px; }
#active.menu_lost { top: 390px; }

// content biglist
.biglist .entry {
  border-bottom: 1px solid black;
  height: 30px;
  font-size: 1.2em;
  padding-top: 8px;
}
.biglist .heading {
  height: 30px;
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 8px;
}

.biglist .entry:hover {
  background: $light_green; 
}

.title {
  @include column(6);
}
.date {
  @include column(3);
}
.from, .tags {
  @include column(9);
}
.tags .tag {
  float: left;
  padding: 0px 5px;
  margin: 0px 5px;
}
.tag {
  background: $dark_green;
       -moz-border-radius: 12px; 
    -webkit-border-radius: 12px; 
            border-radius: 12px; 
}

// RIGHT SIDE
.processbox, .businesscard {
  padding: 3px;
  margin: 5px 0px;
  @include column(9);
  border: 1px solid black;
     -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
          border-radius: 5px; 
}
.businesscard .logo {
  @include column(2);
}
.businesscard .contact {
  @include column(7);
  @include last;
}

// ACTIONBOX design stuff 
.actionbox_header {
  background: $light_grey;
  padding: 3px;
  height: 15px;
//  overflow: hidden;
}

.actionbox_title {
  float: left;
  height: 15px;
}
.actionbox_top_link {
  text-align: right;
}
.actionbox_footer {
  text-align: right;
  background: $light_grey;
  border-top: 1px solid black;
  padding: 3px;
  height: 18px;
}
.actionbox_entry {
  border-bottom: 1px solid black;
  padding: 2px;
}
a.linkblock:hover, .actionbox_entry:hover {
  background: $light_green;
}

.actionbox_entry .title {
  font-weight: bold;
  text-align: left;
}
.actionbox_entry .content {
  
}

a.linkblock {
  color: black;
  text-decoration: none;
}
// FLASH MESSAGES, NOTICE MESSAGES, ERROR IN FORMS
#flash_notice {
  @include boxed($flk_green, $flk_darkgreen);
}

#flash_error {
  @include boxed($flk_magenta, $flk_darkmagenta);
}

#errorExplanation {
  margin: 10px;
  padding: 2px;
  @include boxed($light_grey, red);
}

.field_with_errors input { 
  border-color: red;
}

// Crazy GENC stuff

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
  20% {
    -webkit-transform: scale(1.1);
    opacity: 0.75;
  }
  to { 
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
}

.call2action:hover { 
  -webkit-animation-name: pulse; 
  -webkit-animation-duration: 0.7s; 
  -webkit-animation-iteration-count: 1; 
}

.transition {
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; 
}

.box_shadow {
   -moz-box-shadow: 2px 2px 6px #222222; 
-webkit-box-shadow: 2px 2px 6px #222222;
        box-shadow: 2px 2px 6px #222222;
}

.box_rotate {
     -moz-transform: rotate(7.5deg);  
       -o-transform: rotate(7.5deg);  
  -webkit-transform: rotate(7.5deg);  
          transform: rotate(7.5deg);  
             filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',  
                      M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104); 
         -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(
                      M11=0.9914448613738104, M12=-0.13052619222005157, M21=0.13052619222005157, M22=0.9914448613738104, 
                      sizingMethod='auto expand')"; 
               zoom: 1;
}
input[type="text"], input[type="email"], textarea {
//  background-color: $light_green;
}

input:hover, textarea:hover {
//  background-color: $dark_green;
}
input:focus, textarea:focus {
//  border-color: $dark_green;
  outline: none;
}

// SIMPLE_FORM stuff (from railscasts.com)
.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}