/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "partials/base";
@import "compass/reset";
@import "blueprint";
@import "compass/utilities";
@import "blueprint/typography";
@import "partials/layout";
@import "partials/forms";
@import "compass/css3";
@import "compass/css3/gradient";

@include blueprint-typography;


@include font-face("Titillium", font-files("/fonts/TitilliumText22L002.otf", opentype,"/fonts/TitilliumText22L004.otf", opentype));

@include font-face("Calluna", font-files("/fonts/Calluna-Regular.otf", opentype));

a {
  color: $flk_orange;
}
a:visited {
  color: $flk_orange;
}

body {
  font-family: Titillium;
}

p {
  font-family: Calluna;
  font-size: 1.2em;
}
h2 {
  font-weight: bold;
}
h3 {
  font-weight: bold;
}

#usernav {
  text-align: right;
}

#footer-navi {
  color: #fdfdfd;
  ul {
    @include no-bullets;
    padding: 0;
  }
  a {
    color: #fdfdfd;
  }

}
#footer-copy-container {
  a {
    color: black;
    @include hover-link;
  }
}

#signin-menu {
  border: 1px solid;
}

#plans {
  @include column(22);
  @include push(2);
  @include last;
}
#plans .normal {
	border: 1px solid #999;
	height: 270px;
	@include rounded(20px);
	@include column(6);  
	text-align: center;
}

#plans ul {
  list-style: none;
}

.normal h3 {
	margin: 0 0 15px 0;
	padding: 0 0 7px 0;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	color: #73a1c7;
}

.strong {
  font-weight: bold;
}

#flash_notice {
  @include boxed($flk_green, $flk_darkgreen);
}

#flash_error {
  @include boxed($flk_magenta, $flk_darkmagenta);
}

#errorExplanation {
  margin: 10px;
  padding: 2px;
  @include boxed($light_grey, red);
}

.fieldWithErrors {
  input {
    border: 1px solid red;
  }
}
