#leftcontent
  %h1 Allgemeine Einstellungen
  =simple_form_for @setting do |f|
    = f.error_messages  

    %h2 Twitter Einstellungen
    - unless @twitter
      %p
        Um Status Updates auch gleich über Twitter zu senden muss der Account verifiziert werden.
        %span=link_to image_tag("//si0.twimg.com/a/1319826270/images/logos/logo_twitter_withbird_1000_allblue.png", :width => 120), twitter_signin_path
    - else
      = f.input :default_twitter_send, :label => "Jedes Statusupdate soll auch zu Twitter"
      = f.submit "Speichern", :class => "button"
#rightcontent
  %h2 Abo Einstellungen
  %h3 Jetziges Abo
  %p= @plan.name