#leftcontent
  %h2 Allgemeine Einstellungen
  =simple_form_for @setting do |f|
    = f.error_messages  

    %h3 Twitter Einstellungen
    - unless @twitter
      %p
        Um Status Updates auch gleich über Twitter zu senden muss der Account verifiziert werden.
        =link_to image_tag("http://apiwiki.twitter.com/f/1242697715/Sign-in-with-Twitter-darker.png"), twitter_signin_path
    - else
      = f.input :default_twitter_send, :label => "Jedes Statusupdate soll auch zu Twitter"
      = f.submit "Speichern", :class => "button"
#rightcontent
  %h2 Abo Einstellungen
  %h3 Jetziges Abo
  %p= @plan.name
  