%a{ :href => new_request_path()}
  %li Auftrag erfassen
%a{ :href => requests_filter_path(:open)}
  %li offen
%a{ :href => requests_filter_path(:assigned)}  
  %li vergeben
%a{ :href => requests_filter_path(:archived)}
  %li archiviert

// maybe not needed anymore?
#active{:class => "menu_#{@active}"}
