%article
  .icon_statusupdate
  =link_to feed_item.company.name, feed_item.company
  = feed_item.message
  %time{ :datetime => feed_item.created_at, :pubdate => ""}
    = "#{distance_of_time_in_words(feed_item.created_at, Time.now)} ago"