#newcompanyexplanation
  %h3 Firma übernehmen
  %p Die Firma ist zwar erfasst wird aber noch von niemandem gepflegt. Du kannst dies jetzt übernehmen.
  =link_to "Uebernehmen", register_path(:plan => "ready", :company => @company), :class => 'button'