input[type="text"], input[type="password"], input[type="email"], textarea {
  width: 460px;
  padding: 7px 8px;
  font-size: 1.2em;
  color: #666;
  border: 1px solid #b1b9be;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -border-radius: 5px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear,0% 0%, 0% 12%, from(#EEE), to(#fff));
  background-image: -moz-linear-gradient(0% 12% 90deg, #FFF, #EEE);
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

textarea {
  background-image: -webkit-gradient(linear,0% 0%, 0% 1%, from(#EEE), to(#fff));
  background-image: -moz-linear-gradient(0% 1% 90deg, #FFF, #EEE);  
  height: 100px;
}

select {
  float: left;
  clear: both;
}
input[type="text"].search {
  margin-right: -5px;
  width: 220px;
  padding: 3px 4px;
  font-size: 15px;
  -webkit-border-radius: 4px 0px 0px 4px;
     -moz-border-radius: 4px 0px 0px 4px;
       -o-border-radius: 4px 0px 0px 4px;
         -border-radius: 4px 0px 0px 4px;
}

input[type="text"].near, input[type="password"].near, input[type="email"].near {
  width: 200px;
  -webkit-border-radius: 5px 1px 1px 5px;
  -moz-border-radius: 5px 1px 1px 5px;
  -o-border-radius: 5px 1px 1px 5px;
  -border-radius: 5px 1px 1px 5px;
}

input[type="checkbox"]:focus, input[type="password"]:focus,
input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  border: 1px solid $orange;
  outline: none;
}

input[type="checkbox"] {
  margin: 0 0 15px 0;
  font-size: 1.2em;
  width: 25px;
}
