// signin menu stuff
//http://aext.net/2009/08/perfect-sign-in-dropdown-box-likes-twitter-with-jquery/

#small_signup {
    display:inline;
    float:none;
    line-height:23px;
    margin:25px 0 0;
    width:170px;
}

// MESSAGE MENU
.actionbox.messages {
    position: absolute;
    left: 36px;
    top: 29px;
    z-index: 2;
}
.actionbox.contacts {
    position: absolute;
    left: 85px;
    top: 29px;
    z-index: 2;
}
.actionbox.leads {
    position: absolute;
    left: -10px;
    top: 29px;
    z-index: 2;
}
.actionbox {
  width: 350px;
  display: none;
  #pointer {
    background: url(bubble_pointer.png) no-repeat 100% 100%; 
    height: 9px;
  }
  section {
    background: white;
    border-right: 1px solid #9ea3a0;
    border-bottom: 1px solid #9ea3a0;
    border-left: 1px solid #9ea3a0;

       -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
            border-radius: 2px; 

       -moz-box-shadow: 0px 0px 3px #9ea3a0; 
    -webkit-box-shadow: 0px 0px 3px #9ea3a0; 
            box-shadow: 0px 0px 3px #9ea3a0; 

    .header {
      .boxname {
        float: left;
        padding: 7px 5px;
        h1 {
          font-family: Titillium-XBold;
          font-size: 18px;
          margin-bottom: 0px;
        }        
      }
      .toplink {
        padding: 8px 5px;
        float: right;
        a {
          font-family: Titillium-Medium;
          font-size: 14px;          
        }
      }
      
    }
    #content { 
      clear: both;
      .actionbox_entry {
        background: #f5fdf2;  
        margin-bottom: 4px;
        font-family: Titillium-Medium;
        color: #42515a;
        font-size: 13px;
        padding: 5px 10px;  
      }
      .actionbox_entry:hover {
        background: #e2edde;
      }
      .title {
        font-family: Titillium-XBold;
      }
      .footer {
        color: #CFD6D0;
      }
    }
    #actionfooter {
      padding: 10px 10px;
      text-align: right;
    }  
  }
}

// GLOBAL
//.dropdownmenu {
//  -moz-border-radius:4px;
//  -webkit-border-radius:4px;
//  display:none;
//  background-color:white;
//  position:absolute;
//  width:210px;
//  border:2px solid black;
//  text-align:left;
////  padding:12px;
//  top: 40px; 
////  margin-top:5px;
//  margin-right: 0px;
//  *margin-right: -1px;
//  font-size:11px;  
//}