@import "blueprint";
@import "compass/reset";
@import "compass/utilities";

@import "partials/base";
@import "partials/forms";
@import "partials/menu";
@import "partials/login";

section, header, footer, aside, nav, article{
  display: block;
}

html, body {
  height: 100%;
}

body {
  font-family: Georgia;

//  color: #414f57;
  color: #42515a;
  font-size: 15px;
  line-height: 1.5;
}

a, a:visited { 
  color: $orange;
}
a:hover, a:focus { 
  color: $orange_hover;
}

a.underline, a.underline:visited {
  border-bottom: 1px solid $orange;
}
a.underline:hover, a.underline:focus {
  border-bottom: 1px solid $orange_hover;
}

ul {
  list-style: none;
  padding: 0px;
}

strong {
  font-family: Titillium-XBold;
  font-size: 15px;
}    

p {
  line-height: 1.7;
  margin-bottom: 20px;
}

.medium {
  font-family: Titillium-Medium;
}
h1, h2, h3, h4, h5 {
  color: $grey;
  margin-bottom: 6px;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.4); 
  line-height: 1.5;
  }
  a, a:visited, a:hover, a:focus {
    text-decoration: none;
  }
  
h1 {
  font-family: Titillium-XBold;
  font-size: 23px;
  margin-bottom: 20px;
}
  
.uppercase {
  text-transform: uppercase;
}

article {
  margin-bottom: 20px;
}

.titillium {
  font-family: Titillium-Medium;
  font-size: 15px;
  color: #354048;
}

#wrapper {
  min-height: 100%;
}


#wrapper header {  
  font-size: 14px;
  height: 45px;
  clear: both;  
  border-bottom: 1px solid #fff;  

  background: $light_green;  
  background-image: -moz-linear-gradient(top, #E4F0E0, #E0ebdc); 
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E4F0E0),color-stop(1, #E0ebdc)); 
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#E4F0E0', EndColorStr='#E0ebdc'); 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#E4F0E0', EndColorStr='#E0ebdc')"; 

  .content {
    padding: 10px 0px;
    @include centered();
    overflow: visible;
    .logo {
      @include slim();
      width: 160px;
      height: 24px;
      background: url(/images/flockstreet-beta.png) no-repeat 100% 100%;
    }
    nav.user { // Top Right User Navigation
      float: right;
      margin: 0px;
      margin-top: 5px;
      a, a:hover, a:active {
        color: $grey; //fallback
        color: rgba(65,79,87, 0.8);
      }
      ul {
        @include horizontal-list;
        font-family: Titillium-Medium;
        li { margin-left: 15px; }
      }
    }
  }
}

#bar {
  font-size: 15px;
  height: 44px;
  clear: both;  
  border-bottom: 1px solid #D0D6D0;
  background: $grey;    
  .content {
    padding: 7px 0px;
    @include centered();
    overflow: visible;
    #actionsearch {
      float: left;
      width: 300px;
      margin: 0px 10px;
    }
    nav.actionbuttons {
      float: left;
      width: 220px;
      margin: 0px 10px;
      position: relative;
      a.dropdown {
        padding-right: 10px;
      }
    }
    .profile {
      font-family: Titillium-Medium;
      text-align: right;
      padding-top: 5px;
      float: right;
      width: 220px;
      margin: 0px 0px;
      color: #fff;
    }
  }
}
// fix for the shadow beneath the header. otherwise it is not nice in firefox
#hass_shadow {
  height: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15) inset;
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15) inset;
          box-shadow: 0 1px 2px rgba(0,0,0,.15) inset;
}

#flash {
  @include centered();
  min-height: 20px;
}

#flash_notice {
  background: $dark_green;
  border: 1px solid #aaa;  
}

#flash_error {
  background: $orange;
  border: 1px solid $dark_orange;
}

// the 2 Main Links
nav.main {
  @include full();
  ul {
    @include horizontal-list;
    margin-bottom: 30px;
    li {
      margin-right: 25px;
        a, a:visited, a:hover, a:focus {
          font-family: Titillium-Medium;
          font-size: 20px;
          color: $grey;
          border-bottom: 1px solid $grey;
          padding-bottom: 2px;
          white-space: nowrap;
        }
        a:hover, a:focus {
          color: #313131;
          border-bottom: 1px solid #313131;
        }
    }
    li:first-child {
      padding-left: 20px;
      background: url(/images/icons/home.png) no-repeat 0% 40%;
    }
    
    a.active, a.active:visited, a.active:hover  {
      font-family: Titillium-XBold;
      padding-bottom: 1px;
      border-bottom: 3px solid $grey;
    }
  }
}

// CONTAINER
#container {
  @include centered();
  padding-top: 40px;
  padding-bottom: 80px;
  overflow: hidden;
}

#actionbutton {
  float: right;
  margin: 0px 0px;
}

//// COLUMNS
#dashboard, .wide {
  @include wide();
  marign-bottom: 20px;
}

.slim {
  @include slim();
  margin-bottom: 20px;
}

// LEFT SIDEBAR NAVIGATION
nav.sidebar {
  margin: 70px 10px 20px 10px;
  float: left;
  width: 140px;
  ul {
    margin-bottom: 20px;
    li:first-child a {
         -moz-border-top-left-radius: 4px; 
      -webkit-border-top-left-radius: 4px; 
              border-top-left-radius: 4px; 
         -moz-border-top-right-radius: 4px; 
      -webkit-border-top-right-radius: 4px; 
              border-top-right-radius: 4px;         
    }
    li:last-child a {
         -moz-border-bottom-left-radius: 4px; 
      -webkit-border-bottom-left-radius: 4px; 
              border-bottom-left-radius: 4px; 
         -moz-border-bottom-right-radius: 4px; 
      -webkit-border-bottom-right-radius: 4px; 
              border-bottom-right-radius: 4px; 
    }    
    a, a:active, a:hover {      
      font-family: Titillium-Medium;
      padding: 10px;
      background: #e2eede;
      margin-bottom: 2px;
      display: block;
      color: $dark_grey; //fallback
      color: rgba(77,89,98, 0.9);
    }
    a.active {
      background: $grey;
      color: white;
    }
  }
}

ul.action {
  li.action { 
    background: none;
    padding: 0px;
  }
}

section#content {  
  width: 800px;
  float: left;
  article.request {
    float: left;
    width: 520px;
    margin: 30px 10px 10px 30px;
    padding: 0px;
  }
  #action-menu {
    background: #F5FdF3;
    float: left;
    width: 200px;
    margin: 40px 10px;
    padding: 10px;
    line-height: 2.2em;
    h2 {
      font-family: Titillium-XBold;
      font-size: 15px;
    }    
  }
}
// FOOTER Stuff
footer.small { // website footer link box
  clear: both;
  border-top: 1px solid #42515a;
  background: $grey;  
  position: relative;
  margin-top: -51px; /* negative value of footer height */
  height: 40px;
  padding-top: 10px; // puts text in the vertical middle  
  background-image: -moz-linear-gradient(top, #42515a, #39464d); 
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #42515A),color-stop(1, #39464d)); 
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#42515A', EndColorStr='#39464d'); 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#42515A', EndColorStr='#39464d')"; 
  
          box-shadow: 0 1px 1px rgba(255,255,255,.4) inset;
     -moz-box-shadow: 0 1px 1px rgba(255,255,255,.4) inset;
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,.4) inset;
  
  nav.footer {
    min-height: 185px;
    @include centered();
    padding: 20px 0px 0px 0px;
    overflow:hidden;
    text-shadow: 1px 1px 1px #000; 
    a {    
      font-family: Titillium-Medium;
      font-size: 0.9em;
      letter-spacing: 0.03em;
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: #fff;
    }
  }
}

footer .copyright {
  @include centered();
  overflow: hidden;
  font-family: Titillium-Medium;
  font-size: 13px;
  color: #cfd6d0;
  text-shadow: 1px 1px 1px #000; 
  a {
    font-size: 12px;
    color: #cfd6d0;
    text-shadow: 1px 1px 1px #000; 
    text-decoration: none;
  }
  a:hover {
    color: #fff;
  }  
  .ginetta {
    text-align: right;
    float: left;
    width: 780px;
    margin: 0px 10px;
  }
  .flockstreet {
    text-align: right;
    margin-right: 10px;
  }
}

// TAGS
.tag {
  float: left;
  background-color: #e2edd3;  
  margin: 5px;
  padding: 2px 10px;
  color: #42515a;
  font-size: 12px;
     -moz-border-radius: 12px; 
  -webkit-border-radius: 12px; 
          border-radius: 12px; 
            
  .tagname {
    padding: 0 5px;
    color: #fff;
    font-family: Titillium-Light;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    float: left;
  }
  .tagdestroy {
    padding: 0 0 0 5px;
    float: left;
    border-left: 1px solid #414f57;
    background: rgba(255,255,255,0);
    input[type="submit"] {
      background: $dark_green;
      background: rgba(255,255,255,0);
      font-family: Titillium-Light;
      color: #fff;
      border: none;
      font-size: 1em;
      padding: 3px 0px;
      margin: 0;
      display: inline-block;
      text-decoration: none;      
      line-height: 1;
      position: relative;
      cursor: pointer;
            
    }
    a {
      font-family: Titillium-Medium;
      color: #414f57;
    }
  }
}

#interaction {
  @include wide();
  
}
// STATUS UPDATE FORM
input[type="text"].statusupdate {
  margin:0px;
  width: 602px;
}

form.update {
  input[type="checkbox"] {
    margin-top: 20px;
  }
  label {
    margin-top: 12px;
  }
  input[type="submit"] {
    float: right;
    margin: 10px 0px;
  }
}

section#feed {
  @include wide();
  margin-top: 30px;
  ul {
    li {
      article {
        background: #f5fdf2;
        padding: 10px;
        margin-bottom: 4px;
      }
    }
  }
}


// ICONS
.icon_statusupdate, .icon_request, .icon_message, .icon_lead {
  background: url(/images/icons/statusupdate.png);
  float: left;
  width: 25px;
  height: 25px;
}

// BULK BAR
.bulk-action, .item-action {
  float: left;
  width: 780px;
  margin: 0px 10px;
  height: 21px;
  background: #F5FdF3;
  padding: 12px 0px;
  border: 1px solid #dae8d8;
  -webkit-box-shadow: 0px 0px 1px rgba(0,0,0,.15);
     -moz-box-shadow: 0px 0px 1px rgba(0,0,0,.15);
          box-shadow: 0px 0px 1px rgba(0,0,0,.15);
  font-family: Titillium-Medium;
  .backlink {
    float: left;
    margin: 0px 15px;
  }
  .checkbox {
    text-align: center;
    width: 50px;
    float: left;
  }
  .actions {
  //  display: none;
    float: left;
  }
  .paginate {
    float: right;
    margin-right: 20px;
  }
  span {
    float: left;
  }
}

// TABLES
table {
  float: left;
  width: 780px;
  margin: 20px 10px;
  font-family: Titillium-Light;
  a, a:visited, a:hover {
    font-size: 14px;
    color: #42515a;    
  }
}

tr:hover, tr.selected {
  background: #f5fdf3;
}

td {
//  margin: 0px 5px;
  font-size: 14px;
}
td.checkbox {
  text-align: center;
  width: 50px;
  padding-top: 10px;
}

td.title {
  width: 320px;
  font-family: Titillium-XBold;
}

td.date {
  width: 85px;
  text-align: right;
}

td.tags {
  padding-left: 10px;
  width: 320px;
}
// NETZWERK

#associates_form #companies_search {
  margin: 30px -5px 0 25px;
  width: 365px;
}

td.logo {
  width: 35px;
}

td.companyname {
  width: 170px;
  font-family: Titillium-XBold;
}

td.state {
  width: 110px;
}

// MESSAGES
td.from {
  width: 180px;
}

td.subject {
  width: 465px;
  font-family: Titillium-XBold;
}

// COMPANY SHOW PROFILE
#logocol {
  float: left;
  min-width: 90px;
  margin: 10px 5px;
}

article.company {
  float: left;
  width: 430px;
  margin: 30px 10px 10px 30px;
  padding: 0px;
}

aside.companyprofile {
  float: left;
  width: 210px;
  margin: 40px 0px 20px 0px;
  article.contacts {
    h1 {padding: 5px; }
    min-height: 150px;
    background: #f5fdf3;
    margin-bottom: 30px;
    ul {
      li {        
        height: 35px;
        margin-bottom: 2px;
        a, a:active, a:hover {      
          height: 29px;
          font-family: Titillium-XBold;
          font-size: 14px;
//          padding: 0px;
//          margin-bottom: 2px;
          padding-top: 6px;
          padding-left: 45px;
          display: block;
          color: $dark_grey; //fallback
          color: rgba(66,81,90, 0.9);
        }
        a:hover { background: rgba(206,217,191, 0.5);}
      }
//      a:hover { background: #e2eede;}
    }
  }
  article.internetprofiles {
  } 
}