@import "partials/base";

@mixin standard_button($startcolor: #81b9b4, $endcolor: #68948f, $bordercolor: #66928c) {
  font-family: Titillium-XBold;
  font-size: 15px;
  text-align: center;
  padding: 7px 30px;
  border: 1px solid $bordercolor;
  /*css*/
  background-color: $startcolor;
  background-image: -moz-linear-gradient(top, $startcolor, $endcolor); /* FF3.6 */                                      
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $startcolor),color-stop(1, $endcolor)); 
      filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#81b9b4', EndColorStr='#68948f'); 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#81b9b4', EndColorStr='#68948f')";
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px; 
          border-radius: 3px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.4), 0 1px 1px rgba(255,255,255,.5) inset;
     -moz-box-shadow: 0 0 4px rgba(0,0,0,.4), 0 1px 1px rgba(255,255,255,.5) inset;
          box-shadow: 0 0 4px rgba(0,0,0,.4), 0 1px 1px rgba(255,255,255,.5) inset;
  
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
  color: #fff;  
}

@mixin standard_button_active($startcolor: #81b9b4, $endcolor: #68948f) {
  background-image: -moz-linear-gradient(top, $endcolor, $startcolor); /* FF3.6 */                                      
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $endcolor),color-stop(1,$startcolor)); 
      filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#68948f', EndColorStr='#81b9b4'); 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#68948f', EndColorStr='#81b9b4')";
  
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

a.green_button, .green_button {
  @include standard_button();
}
a.green_button:active, .green_button:active {
  @include standard_button_active();
}

a.big_button, .big_button {
  @include standard_button();
  font-size: 30px;
  padding: 18px 35px;
}

.call2action {
  float: right;
  margin-top: 20px;
}
    
a.big_button:active, .big_button:active {  
  @include standard_button_active();
}

a.login_button, .login_button {
  @include standard_button(#e68a2c,#c67929, $orange - #222);
  padding: 2px 12px;
}

a.login_button:active, .login_button:active {
  @include standard_button_active(#e68a2c, #c77929);
}

a.near_button {
  height: 23px;
}

.near_button, .near_button:hover, .near_button:focus {
  @include standard_button(#43515A, #3a464d, $grey);
  margin: 2px 0;
  padding: 8px 20px;
  cursor: pointer;
  -webkit-border-radius: 0px 5px 5px 0px;
     -moz-border-radius: 0px 5px 5px 0px;
          border-radius: 0px 5px 5px 0px;
}
.near_button:active {
  @include standard_button_active(#43515A, #3a464d);
}

.search_button, .search_button:hover, .search_button:focus {
  @include standard_button(#fefefe, #dee6e5, #fbfcfc);
  color: #42515a;
  font-family: Titillium-Medium;
  padding: 4px 9px 2px 9px;
  cursor: pointer;
  -webkit-border-radius: 0px 4px 4px 0px;
     -moz-border-radius: 0px 4px 4px 0px;
          border-radius: 0px 4px 4px 0px;
}
.search_button:active {
  @include standard_button_active(#fefefe, #dee6e5);
}


a.sidebar_button, .sidebar_button, a.sidebar_button:visited {
  @include standard_button();
  padding: 5px 12px;
}
a.sidebar_button:active, .sidebar_button:active {
  @include standard_button_active();
  padding: 5px 12px;
}

a.dark_button, .dark_button, a.dark_button:visited {
  @include standard_button(#42515a, #37444c,$grey);
  padding: 2px 14px;
}

a.dark_button:active, .dark_button:active {
  @include standard_button(#37444c,#42515a,$grey);
  padding: 2px 14px;
}

a.small_action_button, .small_action_button, a.small_action_button:visited {
  @include standard_button(#e8f1e4,#dfe9dc,#bdc8b8);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,.4), 0 1px 1px rgba(255,255,255,.5) inset;
     -moz-box-shadow: 0 0 1px rgba(0,0,0,.4), 0 1px 1px rgba(255,255,255,.5) inset;
          box-shadow: 0 0 1px rgba(0,0,0,.4), 0 1px 1px rgba(255,255,255,.5) inset;
  
  text-shadow: none;
  font-size: 14px;
  padding: 2px 14px;
  color: #42515a;  
  color: rgba(65,79,87, 0.7);
}