// COMPANY SHOW PROFILE

@import "partials/base";

#logocol {
  float: left;
  width: 90px;
  margin: 10px 5px;
}

article.company {
  float: left;
  width: 440px;
  margin: 30px 10px 10px 30px;
  padding: 0px;
}

aside.companyprofile {
  float: left;
  width: 220px;
  margin: 40px 0px 20px 0px;
  article.contacts {
    h1 {padding: 5px; }
    min-height: 150px;
    background: #f5fdf3;
    margin-bottom: 30px;
    ul {
      li {        
        height: 35px;
        margin-bottom: 2px;
        a, a:active, a:hover {      
          height: 29px;
          font-family: Titillium-XBold;
          font-size: 14px;
          padding-top: 6px;
          padding-left: 45px;
          display: block;
          color: $dark_grey;
          color: rgba(66,81,90, 0.9);
        }
        a:hover { background: rgba(206,217,191, 0.5);}
      }
    }
  }
  article.internetprofiles {
  } 
}
