// NETZWERK

#associates_form #companies_search {
  margin: 30px -5px 0 25px;
  width: 365px;
}

td.logo {
  width: 35px;
}

td.companyname {
  width: 170px;
  font-family: Titillium-XBold;
}

td.state {
  width: 110px;
}