- title('Über uns')
.toplinks
  - if show_title?
    %h1=h yield(:title)

.leftmiddle 
  %h3 Wieso flockstreet?
  Marcel und ich waren nie wirklich als Einkäufer tätig - und trotzdem waren wir doch regelmässig in der Situationen einen geeigneten Partner oder Lieferanten finden zu dürfen. Das kommt wohl bei den meisten Firmen vor und die wenigsten haben einen dezidierten Einkäufer. Jedenfalls haben wir dabei die Erfahung gemacht: den richtigen Partner oder Lieferanten zu finden ist Aufwändig und Schwierig. Eines Tages waren wir es Leid im Internet die Homepages von Anbietern zu studieren und doch nicht schlauer zu sein... "Geld auszugeben muss doch einfacher gehen!"
  Das war die Geburt von flockstreet. Naja, zumindest der Idee für flockstreet.
  %br/
  
  %h3="...schon wieder ein soziales Netzwerk?"
  Ja. Firmen sollten mit den Menschen/Firmen sprechen, zu denen Sie eine Beziehung haben oder aufbauen wollen. Wir wollen, dass die vielen innovativen Schweizer KMUs miteinander in einen Dialog kommen und networken. Wir haben das Potential von sozialen Netzwerken noch lange nicht ausgeschäpft.
  
  %h3 Offene Firmenkulter
  Wir pflegen eine offene Firmenkultur, wir wollen mit den Menschen/Firmen sprechen, mit denen wir eine Beziehungen haben oder aufbauen wollen. Zu einer offenen Firmenkultur gehört ohne Zweifel eine offene Kommunikation. Wir haben durch soziale Netzwerke neue Kontakte geknüpft und spannende Inputs erhalten.
  
  
.explanation
  .paragraph
    %h3 Caroline
    Den richtigen Partner oder Lieferanten für die Ausführung eines IT-Auftrags zu finden ist in der heutigen Zeit das A und O. Doch wie erreiche ich schnell und einfach möglichst viele Firmen, welche für die Ausführung geeignet wären? Die Antwort ist ganz einfach: flockstreet ist das Firmennetzwerk für alle Arten von IT Aufträgen.
  .picture
    =image_tag("kunde_lieferant.png")
.explanation
  .paragraph
    %h3 Marcel
    Den richtigen Partner oder Lieferanten für die Ausführung eines IT-Auftrags zu finden ist in der heutigen Zeit das A und O. Doch wie erreiche ich schnell und einfach möglichst viele Firmen, welche für die Ausführung geeignet wären? Die Antwort ist ganz einfach: flockstreet ist das Firmennetzwerk für alle Arten von IT Aufträgen.
  .picture
    =image_tag("kunde_lieferant.png")
