- title('Über uns')
.toplinks
  - if show_title?
    %h1=h yield(:title)

.explanation
  .paragraph 
    %h3 Wieso flockstreet?
    Wir fanden die Suche nach neuen Lieferanten immer echt Mühsam: im Internet etliche Homepages von Anbietern studieren und dann doch nicht schlauer zu sein... "Geld ausgeben muss doch einfacher gehen!". flocksteet soll Lieferanten und Kunden einfacher zusammenbringen. 
    %br/
    %br/
  
    %h3 Wieso ein soziales Netzwerk?
    Firmen sollten mit den Menschen/Firmen sprechen, zu denen Sie eine Beziehung haben oder aufbauen wollen. flockstreet will die Schweizer KMUs dabei unterstützen in einen offenen, regen Dialog miteinander zu kommen. Wir sind überzeugt, dass darin viel Potential steckt. Wir haben unsere Partner übrigens auch in sozialen Netzwerken gefunden.
  
  .picture
    =image_tag("kunde_lieferant.png")
  
.explanation
  .paragraph
    %h3 Caroline
    =link_to 'Caroline bei Xing', "http://xing.com/profile/Caroline_Schnell"
    %br/
    Von Anfang an bei flockstreet dabei
    %br/
    Zuständig für Admin, Texte und Strategie
    
  .picture
    =image_tag("kunde_lieferant.png")
.explanation
  .paragraph
    %h3 Marcel
    =link_to 'Marcel bei Xing', "http://xing.com/profile/Marcel_Canclini"
    %br/
    Von Anfang an bei flockstreet dabei
    %br/
    Zuständig für IT und Strategie
