- title('Über uns')
.toplinks
  - if show_title?
    %h1=h yield(:title)

.leftmiddle 
  %h3 Wieso flockstreet?
  Marcel und ich haben in unseren bisherigen Jobs ab und zu einen neuen Partner oder Lieferanten suchen dürfen. Das kommt scheinbar in vielen Firmen vor und die wenigsten haben einen dezidierten Einkäufer. Jedenfalls haben wir die Erfahung gemacht: Lieferanten suchen ist Aufwändig und Mühsam. Eines Tages waren wir es Leid im Internet etliche Homepages von Anbietern zu studieren und doch nicht schlauer zu sein... "Geld ausgeben muss doch einfacher gehen!"
  Das war die Geburt von flockstreet. Naja, zumindest der Idee für flockstreet.
  %br/
  
  %h3="...schon wieder ein soziales Netzwerk?"
  Ja. Firmen sollten mit den Menschen/Firmen sprechen, zu denen Sie eine Beziehung haben oder aufbauen wollen. Unsere Vision ist, dass die vielen innovativen Schweizer KMUs miteinander in einen offenen, regen Dialog kommen. Denn wir sind überzeugt, dass damit noch viel Potential frei wird. Wir haben zum Beispiel unsere Partner über soziale Netzwerke gefunden.
  
.explanation
  .paragraph
    %h3 Caroline
    Geboren 9.6.1973 in Tour, Frankreich
    %br/
    In Winterthur wohnhafte Zürcherin
    %br/
    Gelernte Chemielaborantin
    %br/
    sei x Jahre der KV-Administration
    %br/
    x Jahre Führungserfahrung
    %br/
    Bei flockstreet seit März 2010
    %br/
    Zuständig für Admin, Texte, Strategie
    
  .picture
    =image_tag("kunde_lieferant.png")
.explanation
  .paragraph
    %h3 Marcel
    Geboren 11.9.1975 in Uster, Schweiz
    %br/
    In Winterthur wohnhafter Schneeliebhaber
    %br/
    Gelernter Elektroniker
    %br/
    seit x Jahren IT Manager
    %br/
    x Jahre Consultingerfahrung
    %br/
    Seit März 2010 bei flockstreet
    %br/
    Zuständig für IT, Strategie
    
  .picture
    =image_tag("kunde_lieferant.png")
