- title('Über uns')
.toplinks
  - if show_title?
    %h1=h yield(:title)
 
%h3 Wieso flockstreet?
Marcel und ich waren nie wirklich als Einkäufer tätig - und trotzdem waren wir doch regelmässig in der Situationen einen geeigneten Partner oder Lieferanten finden zu dürfen. Ich glaube es gibt kaum Firmen, wo das kein Thema ist und die wenigsten haben einen dezidierten Einkäufer. Jedenfalls wissen wir aus eigener Erfahung: den richtigen Partner oder Lieferanten zu finden ist Aufwändig und Schwierig. Eines Tages waren wir es Leid im Internet mühsam die Homepages von Anbietern zu studieren und doch nicht schlauer zu sein... "Es muss doch einfacher gehen, als Kunde Geld auszugeben!"
Das war die Geburt von flockstreet. Naja, zumindest der Idee für flockstreet.
%br/

%h3 Wieso ein soziales Netzwerk?
schon wieder ein Netzwerk?! Ja.
%br/
Firmen haben das Potenzial von sozialen Netzwerken noch lange nicht ausgeschöpft. Für Zusammenarbeit ist Vertrauen entscheidend und das wächst durch Kennenlernen. flockstreet unterstützt sie dabei Ihre gegenwärten und zukünftigen Geschäftspartner besser kennenzulernen.

%h3 Geschäftsbeziehungen aufzeigen
Zeigen Sie Ihre Geschäftsbeziehungen zu Partnerfirmen, Lieferanten oder Kunden - so lernen Sie Interessenten kennen und schätzen. Natürlich sind Sie frei zu Entscheiden wer welche Kontakte sehen darf, oder eben nicht. Wir glauben aber sehr daran, dass eine offene Firmenkultur viele Vorteile bringt.

%h3 Offene Kommunikation
Zu einer offenen Firmenkultur gehört ohne Zweifel eine offene Kommunikation. Auch das ist etwas was wir mit flockstreet unterstützen - Sie haben mit den Statusmeldungen ein wirkungsvolles Tool, dass Ihnen weitreichende, günstige Kommunikation ermöglicht. Wir haben durch die Publikation von Statusmeldungen über Twitter wertvolle Kontakte und eindrückliche Möglichkeiten entdeckt.


.explanation
  .paragraph
    %h3 Caroline
    Den richtigen Partner oder Lieferanten für die Ausführung eines IT-Auftrags zu finden ist in der heutigen Zeit das A und O. Doch wie erreiche ich schnell und einfach möglichst viele Firmen, welche für die Ausführung geeignet wären? Die Antwort ist ganz einfach: flockstreet ist das Firmennetzwerk für alle Arten von IT Aufträgen.
  .picture
    =image_tag("kunde_lieferant.png")
.explanation
  .paragraph
    %h3 Marcel
    Den richtigen Partner oder Lieferanten für die Ausführung eines IT-Auftrags zu finden ist in der heutigen Zeit das A und O. Doch wie erreiche ich schnell und einfach möglichst viele Firmen, welche für die Ausführung geeignet wären? Die Antwort ist ganz einfach: flockstreet ist das Firmennetzwerk für alle Arten von IT Aufträgen.
  .picture
    =image_tag("kunde_lieferant.png")
