- title('Über uns')
.toplinks
  - if show_title?
    %h1=h yield(:title)
 
%h3 Wieso flockstreet?
Marcel und ich waren nie wirklich als Einkäufer tätig - und trotzdem waren wir doch regelmässig in der Situationen einen geeigneten Partner oder Lieferanten finden zu dürfen. Ich glaube es gibt kaum Firmen, wo das kein Thema ist und die wenigsten haben einen dezidierten Einkäufer. Jedenfalls wissen wir aus eigener Erfahung: den richtigen Partner oder Lieferanten zu finden ist Aufwändig und Schwierig. Eines Tages waren wir es Leid im Internet mühsam die Homepages von Anbietern zu studieren und doch nicht schlauer zu sein... "Es muss doch einfacher gehen, als Kunde Geld auszugeben!"
Das war die Geburt von flockstreet. Naja, zumindest der Idee für flockstreet.
%br/

%h3 Wieso ein soziales Netzwerk?
schon wieder ein Netzwerk?! Ja.
%br/
Wir haben das Potenzial von sozialen Netzwerken noch lange nicht ausgeschöpft. flockstreet ist darum ein soziales Netzwerk weil für den Einkauf, Outsourcing oder auch Kooperation ist Vertrauen entscheidend.  

.explanation
  .paragraph
    %h3 Caroline
    Den richtigen Partner oder Lieferanten für die Ausführung eines IT-Auftrags zu finden ist in der heutigen Zeit das A und O. Doch wie erreiche ich schnell und einfach möglichst viele Firmen, welche für die Ausführung geeignet wären? Die Antwort ist ganz einfach: flockstreet ist das Firmennetzwerk für alle Arten von IT Aufträgen.
  .picture
    =image_tag("kunde_lieferant.png")
.explanation
  .paragraph
    %h3 Marcel
    Den richtigen Partner oder Lieferanten für die Ausführung eines IT-Auftrags zu finden ist in der heutigen Zeit das A und O. Doch wie erreiche ich schnell und einfach möglichst viele Firmen, welche für die Ausführung geeignet wären? Die Antwort ist ganz einfach: flockstreet ist das Firmennetzwerk für alle Arten von IT Aufträgen.
  .picture
    =image_tag("kunde_lieferant.png")
