- title('Was ist flockstreet?')
.tagline_wide
  - if show_title?
    %h1=h yield(:title)
.right
  #actionbutton
    - if @app_state == 'website'
      =link_to t('startpage.register_beta'), register_path(), :class => "big_button call2action"
    -else
      =link_to t('startpage.try'), register_path(), :class => "big_button call2action"
 
#relation.explanation
  .paragraph
    %h3 IT-Dienstleister finden
    Mühsam im Internet die Webpages von Dienstleistern zu durchforsten und doch nicht sicher zu sein ob das Angebot passt - dann jedem Dienstleister wieder erklären was Sie brauchen - das ersparen Sie sich mit flockstreet. Stattdessen erfassen sie Ihren Auftrag und erhalten die passenden Offerten - so macht vergleichen wieder Spass!
    %br/
    Auch bei der Auswahl unterstützen wir Sie mit nützlichen Informationen, denn für die künftige Zusammenarbeit ist Vertrauen entscheidend und das wächst durch Kennenlernen. Dank flockstreet lernen Sie heutige und zukünftige Geschäftspartner besser kennenzulernen.
    
  .picture
    =image_tag("kunde_lieferant.png")
#customers.explanation
  .paragraph
    %h3 Kunden aquirieren
    Registrieren Sie Ihre Firma mit einem aussagekräftigen Profil auf flockstreet und profitieren Sie von günstigen Leads über die wir Sie auf Wunsch täglich informieren. Die Statusmeldungen sind für Sie ein wirkungsvolles Tool das Ihnen eine weitreichende, günstige Kommunikation ermöglicht.
    %br/
    Sich austauschen und gemeinsam wachsen – mit flockstreet. Pflegen Sie alle Anspruchsgruppen Ihres betrieblichen Umfeldes mit einem Klick. Durch das Bilden von Netzwerken und Firmengruppen ist es potentiellen Kunden und Partnern Ihrer Unternehmung möglich, Referenzen einzusehen und Vertrauen zu gewinnen.

  .picture
    =image_tag("network.png")
#tags.explanation
  .paragraph
    %h3  Beschreibende Tags
    Text
  .picture
    =image_tag("tags.png")
