- title('Was ist flockstreet?')
.tagline_wide
  - if show_title?
    %h1=h yield(:title)

#actionbutton
  - if @app_state == 'website'
    =link_to t('startpage.register_beta'), register_path(), :class => "big_button call2action"
  -else
    =link_to t('startpage.try'), register_path(), :class => "big_button call2action"
 
Den GGAGAGAG Partner oder Lieferanten für die Ausführung eines IT-Auftrags zu finden ist in der heutigen Zeit das A und O. Doch wie erreiche ich schnell und einfach möglichst viele Firmen, welche für die Ausführung geeignet wären? Die Antwort ist ganz einfach: flockstreet ist das Firmennetzwerk für alle Arten von IT Aufträgen.
#relation.explanation
  .paragraph
    %h3= t('teaser.left.title')
    =t('teaser.left.paragraph')
  .picture
    =image_tag("kunde_lieferant.png")
#customers.explanation
  .paragraph
    %h3= t('teaser.middle.title')
    =t('teaser.middle.paragraph')
  .picture
#network.explanation
  .paragraph
    %h3= t('teaser.right.title')
    =t('teaser.right.paragraph')
  .picture
    =image_tag("network.png")
#tags.explanation
  .paragraph
    %h3 Tags
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
  .picture
    =image_tag("tags.png")
