- title('Was ist flockstreet?')
.tagline_wide
  - if show_title?
    %h1=h yield(:title)
.right
  #actionbutton
    - if @app_state == 'website'
      =link_to t('startpage.register_beta'), register_path(), :class => "big_button call2action"
    -else
      =link_to t('startpage.try'), register_path(), :class => "big_button call2action"
 
#relation.explanation
  .paragraph
    %h3 Für Auftraggeber:
    %h4 Zeit und Gespräche sparen
    Die Suche nach einem Dienstleister oder ist umständlich: sich in fremden Webpages zurecht finden, Kontakt aufnehmen für Offerten und jedes mal erklären was Sie brauchen - das können Sie sich ersparen. Stattdessen können Sie mit einem einfachen Web-Formular Ihren Auftrag erfassen. flockstreet findet mit Ihren Informationen sekundenschnell passende Dienstleister und Sie erhalten direkt passende Offerten.
    %br/
    %h4 Sicherheit bei der Wahl des Dienstleisters
    Für die Auswahl des passenden Dienstleisters unterstützen wir Sie mit Informationen: denn für die künftige Zusammenarbeit ist Vertrauen wichtig und das wächst durch Kennenlernen. Dank dem Netzwerk und den Statusmeldungen erhalten Sie zusätzliche Informationen - so lernen Sie Geschäftspartner besser kennen und schätzen.
    
  .picture
    =image_tag("kunde_lieferant.png")
#customers.explanation
  .paragraph
    %h3 Für Dienstleister:
    %h4 Aufträge gewinnen
    Auf flockstreet sind Kunden und Dienstleister registriert. Um von den Vorteilen dieses Firemnetzwerks zu profitieren können Sie mit einem einfachen Webformular ein aussagekräftiges Profil Ihrer Unternehmung erfassen. flockstreet findet mit Ihren Informationen alle passenden Aufträge die von Kunden erfasst wurden und sendet Ihnen entsprechende Leads (anonymisiert).
    %br/
    %h4 Einfache Kommunikation
    Für die Kommunikation in Ihrem Geschäftsumfeld unterstützen wir Sie mit einem wirkungsvollen Tool: Statusmeldungen sind kurze Mitteilungen welche Ihnen eine einfache, günstige Kommunikation an Ihr Netzwerk ermöglicht.
    %br/
    %h4 Unkomplizierte Kontaktaufnahme
    Die Kontaktaufnahme ist in einem Netzwerk viel einfacher und sehr unkompliziert. Sie können zum Beispiel im Netzwerk nach Tags oder Firmennamen suchen. Wenn Sie eine Firma, deren Produkte oder einfach deren Statusmeldungen interessieren, können Sie mit einem Klick eine Verbindung erstellen und erhalten somit in Zukunft deren Statusmeldungen. So wächst Ihr Netzwerk ganz automatisch.
    %br/
    %h4 B2B Kontakt behalten
    Mitarbeitende knüpfen teilweise Kontakte zu externen Firmen - zum Beispiel im Marketing zum Papierlieferanten. Diese bleiben Ihrer Firma einfach erhalten, wenn sie sich in flockstreet mit ihnen verbinden - selbst wenn die Mitarbeitende Ihre Firma verlassen sollte.
    


  .picture
    =image_tag("network.png")
#tags.explanation
  .paragraph
    %h3  Beschreibende Tags
    Text
  .picture
    =image_tag("tags.png")
