- title('Impressum')
.tagline_wide
  - if show_title?
    %h1=h yield(:title)

.left
  <iframe width="250" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Katharina+Sulzer-Platz,+Winterthur,+Schweiz&amp;sll=37.0625,-95.677068&amp;sspn=73.420101,84.990234&amp;ie=UTF8&amp;hq=&amp;hnear=Katharina+Sulzer-Platz,+8400+Winterthur,+Z%C3%BCrich,+Switzerland&amp;z=14&amp;ll=47.496152,8.718688&amp;output=embed"></iframe>


.middle.titillium
  %address
    .vcard
      %h3.fn.org flockstreet GmbH
      .adr
        .street-address Katharina Sulzer-Platz 2
        %div
          %span.postal-code 8400
          %span.locality Winterthur
        .country-name Switzerland
      %div
        Phone: 
        %span.tel +41 79 479 21 40
      %div 
        Email: 
        %span.email contact@flockstreet.com
  %br/
  = link_to "download vcard", "http://h2vx.com/vcf/flockstreet.com/impressum"

.right.titillium
  %article
    %h3 Design
    GINETTA™ WEB/DESIGN
    %br/
    =link_to "www.ginetta.ch", "http://www.ginetta.ch"
  %article
    %h3 Animationsvideo
    Sebastian Benjamin Riepe
    %br/
    =link_to "www.optical-longings.de", "http://www.optical-longings.de"
