- title("Flockstreet für Unternehmen")

.leftmiddle
  
  <object width="620" height="385"><param name="movie" value="http://www.youtube.com/v/MzWKaAfuZTU?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/MzWKaAfuZTU?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="620" height="385"></embed></object>
  
  %p Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen Sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.

.right
  .box
    %p Neu bei Flockstreet? Jetzt kostenlos Mitglied werden:
    =link_to "Jetzt mitmachen", signup_path, :class => "button blue"
  .box
    = render :partial => 'signedupcompanies'
  
.left
  %h3 neue Lieferanten
  %p Mit flockstreet spare ich viel Zeit, weil ich meinen Auftrag hier einfach publiziere. Dann vergleicht ihn flockstreet automatisch mit den Firmen aus dem Netzwerk und schickt den passenden Firmen eine Info. Die kontaktieren mich dann direkt mit dem richtigen Angebot. Das geht schnell und ich hab weniger zu tun.
.middle
  %h3 mehr Aufträge
  %p Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen Sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.
.right
  %h3 Netzwerk
  %p Als Firma hat man immer mit diversen Kunden und Lieferanten zu tun. Diese Zusammenarbeit zeige ich jetzt auch für neue Partner. In flockstreet nehme ich diese in mein Netzwerk und das habe ich öffentlich gemacht. So können neue Partner schauen mit wem sie es zu tun haben und haben auch mehr Vertrauen. Vielleicht kennen sie sogar auch eine Firma aus meinem Netzwerk und das ist auch hilfreich. Das Netzwerk wächst übrigens und dank den Statusmeldungen weiss ich auch immer was bei meinen Partnern so läuft.