- title("Das soziale Netzwerk für Firmen.")
.tagline
  %h2= link_to "Was ist flockstreet?", tour_profile_path()
.tagline
  %h2= link_to "Abos & Preise", plans_path()

#actionbutton
  - if $app_state == 'website'
    =link_to "Für Beta registrieren!", register_path(), :class => "big_button call2action"
  -else
    =link_to "Jetzt testen!", register_path(), :class => "big_button call2action"
 
- if show_title?
  %h1=h yield(:title)


.leftmiddle
  %video{:src => "http://s3.amazonaws.com/flkstr/movies/flockstreet_schulterblick.m4v", :controls => "", :width => "620"}  
  
  %h4.byline
    Weit hinten, hinter den
    =link_to "Aufträge erfassen", "#"
    fern der Länder
    =link_to "Leads generieren", "#"
    und Konsonantien leben die Blindtexte. Abgeschieden wohnen Sie in
    =link_to "Kontakte knüpfen", "#"
    an der Küste des Semantik, eines großen Sprachozeans.
    =link_to "Take a tour.", tour_profile_path()
.right
  .twitterwall
    %h3 Twitter Wall
    #twitter
    %h4=link_to "Folge uns auf Twitter!", "http://twitter.com/flockstreet"
  
- content_for :columns do
  .left
    %h3 Partner & Lieferanten
    %p  Den richtigen Partner oder Lieferanten für die Ausführung eines IT-Auftrags zu finden ist in der heutigen Zeit das A und O. Doch wie erreiche ich schnell und einfach möglichst viele Firmen, welche für die Ausführung geeignet wären? Die Antwort ist ganz einfach: flockstreet ist das Firmennetzwerk für alle Arten von IT Aufträgen.
    %br
    %h4=link_to "Mehr erfahren", "#"
  .middle
    %h3 Kunden aquirieren
    %p Neukundengewinnung ist eine grosse Herausforderung. Wie platziere und beschreibe ich meine Dienstleistung oder mein Produkt auf dem Markt? Und noch viel wichtiger, wie finden potentielle Kunden den Weg zu meinem Unternehmen? Flockstreet ebnet für Sie diesen Weg. Finden Sie hier die Möglichkeit, Ihr Unternehmen zu integrieren und Kontakte zu knüpfen.
    %h4=link_to "Mehr erfahren", "#"
  .right
    %h3 Sicherheit durch Netzwerk
    %p Sich austauschen und gemeinsam wachsen – mit flockstreet. Pflegen Sie alle Anspruchsgruppen Ihres betrieblichen Umfeldes mit einem Klick. Durch das Bilden von Netzwerken und Firmengruppen ist es potentiellen Kunden und Partnern Ihrer Unternehmung möglich, Referenzen einzusehen und Vertrauen zu gewinnen.
    %br
    %h4=link_to "Mehr erfahren", "#"
