- title("Flockstreet für Unternehmen")

.leftmiddle
  
  <object width="620" height="385"><param name="movie" value="http://www.youtube.com/v/MzWKaAfuZTU?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/MzWKaAfuZTU?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="620" height="385"></embed></object>
  
  %p Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen Sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.

.right
  .box
    %p Neu bei Flockstreet? Jetzt kostenlos Mitglied werden:
    =link_to "Jetzt mitmachen", signup_path, :class => "button blue"
  .box
    = render :partial => 'signedupcompanies'
  
.left
  %h3 neue Lieferanten
  %p Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen Sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.
.middle
  %h3 mehr Aufträge
  %p Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen Sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.
.right
  %h3 Sicherheit
  %p Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen Sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.
