.wide
  %h1 
    Nutzungsbedingungen 
    %br/
    ( Terms & Conditions)
  
  
  %p.strong Mit der Nutzung der flockstreet Web Applikation (nachfolgend Applikation) der Firma flockstreet GmbH(nachfolgend flockstreet) , erklären sie sich mit den hier vorliegenden Nutzungsbedingungen einverstanden.
  
  %p flockstreet behält sich das Recht vor diese Nutzungsbedingungen ohne Benachrichtigung anzupassen. Erweiterungen der Applikation oder Anpassungen unserer Dienstleistungen werden in die Nutzungsbedingungen einfliessen. Jeder Gebrauch der Applikation nach einer Anpassung der Nutzungsbedingungen geht davon aus, dass sie mit den Änderungen einverstanden sind. Die Nutzungsbedingungen sind jederzeit unter http://www.flockstreet.com/terms einsehbar.
  
  %p Der Verstoss gegen irgendeine der folgenden Bedingungen hat eine Beendigung ihres Benutzerkontos zur Folge. Das gleichzeitige Löschen des Firmenprofils liegt im ermessen von flockstreet.
  
  %h3 Inhalt
  
  %p Idee, Design, Konzeption und Texte der Applikation sind geistiges Eigentum von flockstreet. Das Kopieren oder Nutzen ausserhalb der Applikation ist ohne schriftliche Einwilligung von flockstreet untersagt.
  flockstreet ist nicht verantwortlich für die Inhalte welche von den Benutzern eingestellt werden.  Sollten sie ungebührlichem Inhalt exponiert werden kann flockstreet dafür nicht verantwortlich gemacht werden. Die Benutzung der Applikation erfolgt auf eigene Gefahr.
  
  %p Der Benutzer ist vollumfänglich für die von ihm auf die Applikation gestellten Daten verantwortlich und haftbar. Für alle Forderungen von Dritten ist der Benutzer gegenüber flockstreet voll umfänglich entschädigungspflichtig.
  
  %h3 Benutzer
  
  %ul
    %li Sie müssen mindestens 16 Jahre alt sein um diese Applikation zu nutzen.
    %li Sie müssen eine reale Person sein um ein Benutzerkonto zu erstellen. Durch "Bots" oder andere Mechanismen erstellte Konti werden umgehend durch flockstreet gelöscht.
    %li Sie müssen alle nötigen Informationen wie Vorname, Nachname und email adresse nach bestem Wissen und Gewissen angeben.
    %li Ihre login Daten dürfen nur von einer Person benutzt werden. Das teilen von Logindaten mit anderen Personen ist nicht gestattet.
    %li Sie sind für die Sicherheit ihrers Benutzernamens und Passworts verantwortlich. flockstreet lehnt jede Haftung für allfälligen Missbrauch und daraus entstandenen Schäden ab.
    %li Die Applikation darf nicht für illegale oder unerlaubte Tätigkeiten genutzt werden.
  
  %h3 Zahlungen, Gutschriften
  
  %ul
    %li Für alle Zahlungspflichtigen Abos wird eine gültige Kreditkarte benötigt.
    %li Es ist nicht möglich die Abogebühren via Rechnung zu begleichen.
    %li Die Gebühren für die Applikation werden im Voraus ihrer Kreditkarte belastet und sind monatlich fällig.
    %li Bereits belastetet Gebühren werden nicht vergütet.
    %li Nach erfolgter Belastung der Kreditkarte wird ihnen eine Rechnung in digitaler Form zugestellt.
  
  %h3 Abo Downgrade und Upgrade
  
  %p Bei einem Upgrade von einem gratis Abo auf ein zahlungspflichtiges Abo erfolgt umgehend die Belastung ihrer Kreditkarte für den ersten Monat des zahlungspflichtigen Abos. Für alle Upgrades und Downgrades erfolgt die automatische Belastung ihrer Kreditkarte mit dem neuen Betrag bei der nächsten fälligen Verrechnungsperiode. Ein Downgrade ihres Abo kann den Verlust von Daten und Funktionen zur Folge haben. flockstreet übernimmt dafür keine Verantwortung.
  
  %h3 Kündigung / Löschen
  
  %p Für die richtige Kündigung ihres Abos sind sie selbst zuständig. Eine telefonische oder via email erfolgte Kündigung wird nicht akzeptiert und gilt als nicht gültig. Sie können ihr Abo in den Account Einstellungen unter dem Punkt Abo kündigen. Wird nichts weiter angegeben wird ihr Profil auf ein kostenloses ready Abo gesetzt.
  %p Sie können zusätzlich eine Löschung aller Informationen beantragen. Dies hat zur Folge, dass alle ihre Firmendaten und Benutzerdaten von unseren Servern gelöscht werden. Erfolgt die Kündigung vor Ablauf der derzeitigen Verrechnungsperiode wird der Account sofort gelöscht. Sie haben keinen Anspruch auf eine pro rata Vergütung der ausstehenden Laufzeit.
  
  %h3 Anpassungen der Abo Leistungen und Preise
  
  %p flockstreet behält sich das Recht vor, jederzeit Anpassungen an der Leistung der einzelnen Abos zu machen mit oder ohne Benachrichtigung. Auch das Recht zum einstellen eins Abos behält sich flockstreet vor.
  Anpassungen an den Preisen werden mit einer Vorankündigung unsererseits von mindestens 30 Tagen getätigt.
  Gerichtstand
  
  %p Alle rechtlichen Verhältnisse welche aus den vorliegenden Nutzungsbedingungen entstehen und unterliegen dem schweiterischen Recht. Der Gerichtsort ist Zürich (Schweiz).
  