<p>Hallo <%= @resource.fullname %>!</p>

<p>Du hast uns gebeten dein Passwort zur체ckzusetzen. Du kannst dies mit folgendem Link tun.</p>

<p><%= link_to 'Passwort 채ndern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Wenn du dies nicht angefordert hast, einfach diese Mail ignorieren</p>
<p>Dein Passwort wird nicht ge채ndert bist du es mit obigem Link ge채ndert hast.</p>
