.plan
  .box.distinguish
    %h1 Connect
    %h2 CHF 49.- / Monat
  .box.distinguish
    %ul
      %li 
        Anzahl Mitarbeiter
        %span 3
      %li 
        Anzahl Tags
        %span 3
      %li
        Anzahl Leads/Mt.
        %span 3
      %li
        Anzahl Aufträge/Mt.
        %span 3
      %li
        Anzahl Standorte
        %span 1
      %li
        %span Benachrichtigungs E-Mails
    = link_to "anmelden", register_path(:plan => 'connect'), :class => 'green_button'