.plan.last
  .box.last
    %h1 Ready
    %h2 gratis
  .box.plan_content.last
    %ul
      %li 
        Anzahl Logins
        %span 1
      %li.lead_qtip
        Anzahl Leads/Mt.
        %span 0
      %li
        Anzahl Aufträge/Mt.
        %span 0
      %li
        Anzahl Firmenadressen
        %span 1
      %li
        %span 1 Sammel-E-Mail / Woche
    = link_to "anmelden", register_url(:plan => 'ready'), :class => 'green_button'