.plan.last
  .box.last
    %h1 Ready
    %h2 gratis
  .box.plan_content.last
    %ul
      %li 
        Anzahl Mitarbeiter
        %span 1
      %li 
        Anzahl Tags
        %span 3
      %li
        Anzahl Leads/Mt.
        %span 0
      %li
        Anzahl Aufträge/Mt.
        %span 0
      %li
        Anzahl Standorte
        %span 1
      %li
        %span 1 Sammel E-Mail / Woche
    = link_to "anmelden", register_path(:plan => 'ready'), :class => 'green_button'