.plan
  .box
    %h1 Scale
    %h2 CHF 99.- / Monat
  .box
    %ul
      %li 
        Anzahl Mitarbeiter
        %span unlimitiert
      %li 
        Anzahl Tags
        %span 5
      %li
        Anzahl Leads/Mt.
        %span unlimitiert
      %li
        Anzahl Aufträge/Mt.
        %span unlimitiert
      %li
        Anzahl Standorte
        %span unlimitiert
      %li
        %span Benachrichtigungs E-Mails
    = link_to "anmelden", root_url, :class => 'green_button'