.plan
  .box
    %h1 Scale
    %h2 CHF 99.- / Monat
  .box.plan_content
    %ul
      %li 
        Anzahl Mitarbeiter
        %span unlimitiert
      %li 
        Anzahl Tags
        %span 5
      %li
        Anzahl Leads/Mt.
        %span unlimitiert
      %li
        Anzahl Aufträge/Mt.
        %span unlimitiert
      %li
        Anzahl Standorte
        %span unlimitiert
      %li
        %span Benachrichtigungs E-Mails
    
    - if @app_state == 'website'
      noch nicht verfügbar
    -else
      = link_to "anmelden", register_path(:plan => 'scale'), :class => 'green_button'
    