- title( t('plans.title'))
%p= t('plans.paragraph')
= link_to t('plans.try'), register_path, :class => 'big_button'

#plans
  - for plan in [:scale, :connect, :ready] do
    .normal
      = render :partial => "#{plan}"
