.full
  %nav.topnav
    %ul
      %li
        = link_to t('startpage.tagline1'), flockstreet_path()
      %li.last.active
        = link_to t('startpage.tagline2'), plans_path()
        
    %h1=t('plans.title')
      

.wide
  %p.lead flockstreet startet bald die kostenlose Beta-Phase. Sie können sich bereits jetzt dafür anmelden. Ihr Firmenprofil und Ihr persönliches Benutzerkonto werden dann für sie bereit sein. Wir freuen uns auf Sie.
  
#plans
  - for plan in [:scale, :connect, :ready] do
    = render :partial => "#{plan}"