%nav.user
  %ul
    %li=link_to "Mein Profil", company_path(current_company)
    %li=link_to "Einstellungen", settings_path, :class => "settings_trigger"
    %li=link_to "Feedback", "http://getsatisfaction.com/flockstreet/", :target => "_blank"
    %li=link_to "Logout", logout_path