.search
  \&nbsp;
.language
  =link_to "Feedback", "#", :onclick => "feedback_widget.show()"
  //- available_locales.each do |locale|
  //  = link_to_unless current_locale?(locale), locale, current_page_path(:locale => locale)

%nav.user
  // comment for website phase
  %a{ :href => new_user_session_path, :class => "login", :title => "Login"}
    .login_link
      Login  
      
  #login_menu.transition  
    %a{ :href => new_user_session_path, :class => "login", :title => "Login"}
      .login_link
        Login  
    .input_form        
      %p Die kostenlose Beta-Phase startet diesen Frühling. Sie können bereits jetzt ein Konto eröffnen. Wir werden Sie dann rechtzeitig über den Start informieren. Wir freuen uns auf Sie!
    //  = form_tag new_user_session_path do
    //    = field_set_tag 'E-Mail' do
    //      = text_field_tag 'user[email]', nil, :type => 'email'
    //    = field_set_tag 'Passwort' do
    //      = password_field_tag 'user[password]'
    //    .button_form
    //      %button.login_button Login