= stylesheet_link_tag 'fonts', :media => 'screen'
= stylesheet_link_tag 'buttons'
= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css"
/[if IE]
  = stylesheet_link_tag 'ie', :media => 'screen, projection'
