= stylesheet_link_tag 'fonts.css', :media => 'screen'
= stylesheet_link_tag 'compiled/buttons.css'
= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css"
//= stylesheet_link_tag 'jquery-ui-1.8.11.custom.css'
/[if IE]
  = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
