%span= link_to "Aufträge", requests_path()
|
%span= link_to "Leads", leads_path()
|
%span= link_to "Netzwerk", company_associates_path(current_company)
|
%span= link_to "Nachrichten", messages_path()
